/* Homepage Tabbed Box */


.header-social-wrapper {

margin-bottom: 40px;

	.pow-fancy-selectbox {
		display: inline-block;
		margin-bottom: 0 !important;
	}

	.header-social-option-row {
		display: block;
		max-width: 100%;
		margin-bottom: 15px;

		input, select {
			width: 100%;
		}

		.header-social-option-label {
			width: 100%;
			display: block;
		}

	}

	.pow-button {
		margin: 0;
	}

}

.pow-current-social {
	display: inline-block;
	
	border-bottom: none;
}

.default-social-item {
	display: none;

}

.pow-social-item {
	position: relative;
	display: none;
	overflow: hidden;
	margin-bottom: 4px;
	width: 100%;
	border: 1px solid #e1e1e1;
	&:hover {
		background-color: #f3f3f3;
	}
	.social-item-icon {
		float: left;
		padding:6px;
		display: inline-block;
		width: 24px;
		height: 24px;
		background-color: #282828;
		border-right:1px solid #202020;
		i:before {
			color: #fafafa;
			font-size: 24px;
			
		}
	}
	.social-item-url{
		height: 24px;
		line-height: 28px;
		display: inline-block;
		padding: 3px 10px;
		float: left;
	}

	.delete-social-item{
		position: absolute;
		top: 11px;
		right:11px;
		font-size: 16px;
		color: #ed1c24;

	}

}
