@font-face {
    font-family: 'FalconUI';
    src: url('../falconui-icons/falconui.eot?39896726');
    src: url('../falconui-icons/falconui.eot?39896726#iefix') format('embedded-opentype'),url('../falconui-icons/falconui.woff?39896726') format('woff'),url('../falconui-icons/falconui.ttf?39896726') format('truetype'),url('../falconui-icons/falconui.svg?39896726#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="falconui-icon-"]:before, [class*=" falconui-icon-"]:before {
    font-family: "FalconUI";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}

.falconui-icon-columns:before {
    content: '\e805';
}
.falconui-icon-th-thumb:before {
    content: '\e80d';
}
.falconui-icon-menu:before {
    content: '\e806';
}
.falconui-icon-move:before {
    content: '\e804';
}
.falconui-icon-params:before {
    content: '\e807';
}
.falconui-icon-briefcase:before {
    content: '\e809';
}
.falconui-icon-ok-circled:before {
    content: '\e80e';
}
.falconui-icon-rss:before {
    content: '\e80a';
}
.falconui-icon-adjust:before {
    content: '\e80c';
}
.falconui-icon-font:before {
    content: '\e808';
}
.falconui-icon-code:before {
    content: '\e80b';
}
.falconui-icon-article:before {
    content: '\e803';
}
.falconui-icon-location:before {
    content: '\e801';
}
