@import '_snippets';

/* 
**
**
** Metaboxes
-------------------------------------------------------------*/

#pow-metaboxes-tabs .inside {
	padding:0 !important;
	margin: 0 !important;
}
.pow-metabox-wrapper {
	margin:0 !important;	
}

#pow-metaboxes-notab, #pow-metaboxes-slideshow {
	.inside {
		padding: 10px;
	}

}

#pow-metaboxes-tabs .hndle {
	border:none !important;
	color: #f5f5f5;
	background-color: rgba(255,255,255,0.05);
	.box-shadow(none) !important;
	.border-radius(0) !important;
}

#pow-metaboxes-slideshow {
	margin-bottom: 100px;

	.slideshow-textures a {
		border:1px solid #adadad;
	}
}


#pow-metaboxes-tabs {
	.box-shadow(inset 100px 0 0 0 #2d3339) !important;
	.border-radius(0) !important;
	h3.hndle {
		background-color: #2d3339;
	}
	.pow-sub-panes {
		margin: 0 15px 0 110px;
	}
.pow-sub-pane{
	padding-top: 40px;
}
	.pow-sub-navigator {
		width: 100px;
		margin-bottom: 40px;
		margin-top: 0;
		li a {
			position: relative;
			display: block;
			text-align: center;
			&::after {
				// margin-left: -5px;
				// left: 50%;
				top: 0px;
			}
			i {
				display: block;
				text-align: center;
				margin: auto;
				font-size: 26px;
				margin-bottom: 10px;
			}
		}
	}

}
