@import '_snippets';

/* 
**
**
** Specific Options Layouts
-------------------------------------------------------------*/



.js .tmce-active .wp-editor-area {
	color: #282828;
}
#pow-metaboxes-aside {
	.pow-visual-selector {
		a {
			opacity: 0.5;
			margin: 0;
			padding: 0;
		}
		img {
			max-width: 180px;
			height: auto;
			margin: auto;
			marbin-bottom: 15px;
		}
		.current {
			opacity: 1;
			position: relative;
			.scale(1);
			position: relative;
			border-weight: 2px #0d66b8 solid;
			&::after {
				opacity: 1;
				font-size: 26px;
				width:48px;

				border-radius: 48px;
				line-height: 48px;
				height: 48px;
				display: block;
				content: '\e26a';
				font-family: 'Icomoon';
				color: #fff;
				text-align: center;
				background-color: #95b833;
				position: absolute;
				right: -24px;
				top: -24px;
			}
		}
	}
}
/* Textboxes */
.pow-single-option {
	input[type="text"], textarea {
			background: #fff;
			color:#343434;
			padding: 15px 20px;
			.border-radius(0);
			&:hover, &:focus {
			}
			&:hover {
			
			}
			&:focus {
			}

			&.pow_black_white {
				background-color: #272822;
				color: #fff;
				font-family: "Lucida Console", Monaco, monospace;
				font-size: 13px;
			}

	}
	textarea {
		margin-bottom: 10px;
		width: 100%;
	}
}	

.wp-editor-container textarea{
	border:none !important;
}


@media handheld, only screen and (max-width: 1300px) {
.pow-textbox, .chzn-container {
	width: 100% !important;
}

}

/* Upload Option */
.upload-option {
	position: relative;
	input[type="text"] {
		
	}

	.option-upload-button { 
		display: inline-block;
		padding: 16px 30px;
		background: #14a5ed;
		color:#fff;
		line-height: 12px;
		text-decoration: none;

		&:hover {
			background-color: #1191d1;
		}

	}

	.show-upload-image {
		display: block;
		margin-top: 10px;
		width: 100%;
		img {
			max-width: 100%;
			width: auto\9;
			height: auto;
			border: 0;
			vertical-align: middle;
			-ms-interpolation-mode: bicubic;
		}
	}

}

#pow_options_phpinfo {
	table {
		width: 100%;
		tr {
			border-top: 1px #aaa solid;
			td, th {
				&.e {
					width: 30%;
				}
				&.v {
					max-width: 70%;
				}
				padding: 10px;
				.box-sizing(border-box);
				border-left: 1px #aaa solid;
				&:last-child {
					border-right: 1px #aaa solid;
				}
			}
			&:last-child {
				border-bottom: 1px #aaa solid;
			}
		}
	}
}

/* Toggle Button */

.pow-toggle-button {
	display: block;
	background-color: #e8e8e8;
	.border-radius(4px);
	.box-shadow(0 0 3px 0 rgba(0,0,0,.2));
	background-image: url(../../images/switch-bg.png);
	background-repeat: no-repeat;
	background-size: 50px 26px;
	-webkit-background-size: 50px 26px;
	-moz-background-size: 50px 26px;
	-ms-background-size: 50px 26px;
	width: 50px;
	height:26px;
	cursor: pointer;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	.toggle-handle {
		width: 26px;
		height: 26px;
		background-color: #eee;
		position: relative;
		display: block;
		left:0px;
		font-size: 7px;
		line-height: 28px;
		color: #ffffff;
		text-align: center;
		top:0px;
	}

	&.on {
		background-color: #bbbbbb;
		.toggle-handle {
			left:24px;
			.border-radius(0 4px 4px 0);
			.box-shadow(inset 2px 0 2px 0 rgba(0,0,0,.3));
			background-color: #688f2b;
		}
		
	}
	&.off {
		.toggle-handle {
			.border-radius(4px 0 0 4px);
			.box-shadow(inset -2px 0 2px 0 rgba(0,0,0,.3));
			background-color: #cc420f;
		}
	}


}
.pow-toggle-button, .toggle-handle {
	// .border-radius(4px);
	.transition(all 0.1s ease-in-out);
}



/* Theme Settings Built-in Selectbox */

.pow-fancy-selectbox {
	position: relative;
	margin-bottom: 15px;
	 -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   	&.selectbox-focused > .pow-selector-heading .pow-selector-arrow {
			position: relative;
			z-index: 50;
			background-color: #dddddd;
		}

&.selectbox-focused > .pow-selector-heading {
	
}
	.pow-selector-heading{
		height: 40px;
		font-weight: bold;
		line-height: 40px;
		cursor: pointer;
		background: #dddddd;
		.selected_item{
			white-space:nowrap;
			overflow-x: hidden;
			display: inline-block;
			margin-left: 12px;
			height: 40px;
			color: #555555;
			line-height: 40px;

		}

			.selected_color {
				display: inline-block;
				width: 32px; 
				height: 23px;
				margin:5px 10px 0 5px;
			}

			.pow-selector-arrow {
				display: block;
				float: right;
				width: 40px;
				height: 40px;
				background:  url(../../images/selectbox-arrow.png) center center no-repeat;
			}
	}


	.pow-select-options{
			position: absolute;
			top: 40px;
			left:0;
			z-index: 40;
			display: none;
			background: #dddddd;
			border-top:1px solid #aaaaaa;

		.pow-select-option{
			display: block;
			padding: 6px 7px 6px 17px;
			color: #555555;
			font-size: 12px;
			cursor: pointer;
			margin: 3px;

			b{
				
				display: inline-block;
				font-weight: normal;
				line-height: 25px;
				vertical-align: top;

			}
		.pow-option-color {
			display: inline-block;
			width: 60px; 
			height: 20px;
			margin-right: 10px;
			
		}	

			&:hover{
				background-color: #aaaaaa;
			}
			&.selected {

			}
		}

		
	}
	&.color-based .pow-select-option{
		padding: 5px 7px 0px 10px;

	}
	&.color-based .selected_item{
		line-height: 30px;
		vertical-align: top;
		height: 30px;
		margin: 3px 0 0 0;
	}

}



/* Range Input */

.pow-ui-input-slider{
	margin: 10px 0 20px 0;
		.ui-slider-horizontal {
		    position:relative;
		    float:left;
		    clear:right;
		    width:70%;
		    height:5px;
		    top: 0;
		    background-color: #3598db;
		    cursor:pointer;
			margin-top: 5px;
		    margin-left: 5px;
		}

		.progress {
		    display:none;
		    height:9px;
		    background-color:#C5FF00;
		    opacity:0.6;

		}

		
		.ui-slider-handle {
		    position: absolute;
		    top:-10px;
			z-index: 2;
		    width:19px;
		    height:19px;
		    background-color: #fff !important;
		    border:3px solid #14a5ed !important;
		    cursor:move;
		    margin-left: -10px;
			.box-shadow(0 0 10px 1px rgba(0, 0, 0, 0.4));
		}

	
		.range-input-selector {
			float: left;
			margin:-10px 0 5px 15px !important;
			padding: 8px !important;
			width: 10%;
			color: #555555;
			text-align: center;
			&:before {
				content: '';
				position: absolute;
				margin-left: -20px;
				border: 20px transparent solid;
				border-left-color: #ffffff;
				height: 20px;
				width: 20px;
			}
		}

		.unit {
			display: inline-block;
			margin-left: 6px;
			color:#a5a5a5; 
			font-style: italic;

			font-size: 11px;
			line-height: 12px;
		}

}

.ui-slider-horizontal, .ui-slider-handle {
	.border-radius(30px) !important;
}




/* Checkbox & Radio Button */

.pow-select-radio {

		input[type="checkbox"] {
		    display:none;
		}

		input[type="checkbox"] + label {
		 	margin-right: 30px;
		    font-size:12px;
		}

		input[type="checkbox"] + label span {
		    display:inline-block;
		    margin:0 5px 0 0;
		    width:25px;
		    height:25px;
		    background:url(../../images/pow-checkbox-radio.png) left top no-repeat;

		    vertical-align:middle;
		    cursor:pointer;
		}

		input[type="checkbox"]:checked + label span {
		    background:url(../../images/pow-checkbox-radio.png) right top no-repeat;
		}

		input[type="radio"] {
		    display:none;
		}

		input[type="radio"] + label {
		  	margin-right: 30px;
		    font-size:12px;
		}

		input[type="radio"] + label span {
		    display:inline-block;
		   	margin:0 5px 0 0;
		    width:25px;
		    height:25px;
		    background:url(../../images/pow-checkbox-radio.png) left bottom no-repeat;
		    vertical-align:middle;
		    cursor:pointer;
		}

		input[type="radio"]:checked + label span {
		    background:url(../../images/pow-checkbox-radio.png) right bottom no-repeat;
		}
}









/* Custom Sidebar */

.custom-sidebar-wrapper {

	margin-bottom: 40px;
	#add_sidebar {
		float: left;
	}
}

.selected-sidebar {
	display: inline-block;
	border: 1px solid #e1e1e1;
	border-bottom: none;
}

.default-sidebar-item {
	display: none;

}

.sidebar-item {
	position: relative;
	display: none;
	overflow: hidden;
	padding: 12px 10px;
	width: 300px;
	border-bottom: 1px solid #e1e1e1;
	&:hover {
		background-color: #f3f3f3;
	}
	.slider-item-text {

	}

	.delete-sidebar{
		position: absolute;
		top: 12px;
		right:12px;
		font-size: 16px;
		color: #ed1c24;
	}

}








/* Homepage Tabbed Box */


.homepage-tabbed-wrapper {

margin-bottom: 40px;

	.pow-fancy-selectbox {
		display: inline-block;
		margin-bottom: 0 !important;
	}

	.tabbed-option-row {
		display: table;
		margin-bottom: 15px;

		.tabbed-option-label {
			width: 220px;
			display: table-cell;
			vertical-align: middle; 

		}

	}

	.pow-button {
		margin-left: 0 !important;
	}

}

.pow-current-tabs {
	display: inline-block;
	border: 1px solid #e1e1e1;
	border-bottom: none;
}

.default-tab-item {
	display: none;

}

.pow-tabbed-item {
	position: relative;
	display: none;
	overflow: hidden;
	
	width: 100%;
	border-bottom: 1px solid #e1e1e1;
	&:hover {
		background-color: #f3f3f3;
	}
	.tab-title-text {
		padding: 12px 10px;
		display: inline-block;
		width: 40%;
		border-right:1px solid #e1e1e1;
	}
	.tab-content-pane{
		
		display: inline-block;
		padding: 12px 10px;
	}

	.delete-tab-item{
		position: absolute;
		top: 12px;
		right:12px;
		font-size: 16px;
		color: #ed1c24;

	}

}







/* Visual Selector */

.pow-visual-selector {

	a {
		border: 4px transparent solid;
		position: relative;
		display: inline-block;
		line-height: 4px;
		.border-radius(6px);
		border: 1px #d0d0d0 solid;
		&.current {
			.scale(1.2);
			opacity: 0.8;
			background-color: #91DA6E;
			border-color: #91DA6E;
		}
		&:hover {
			opacity: 0.8;
		}
	}
}




/* Message Boxes */

.pow-message-box {
	position: absolute;
	top:50%;
	left:50%;
	.box-shadow(0 0 0 2500px rgba(0,0,0,.8));
	display: none;
	padding: 100px;
	width: 400px;
	border:1px solid #b7b7b7;
	background-color: #fff;
	text-align: center;
	.border-radius(4px);
	.pow-message-text {
		display: block;
		font-size: 16px;
		padding-top:15px;
	}

}




/* Background Seclector */

.pow-general-bg-selector {
		position: relative;
		max-width: 100%;
		min-height: 960px;
		margin-bottom: 30px;

		.outer-wrapper {
			.box-shadow(6px 6px 0 0 rgba(0,0,0,.5));
			border: 1px rgba(0,0,0,.8) solid;
			padding: 0;
			position: relative;
			
		}
		&.full_width_layout {
			.hover-state-body, .body-section .pow-transparent-bg-indicator, .body-section .pow-bg-preview-layer {
				display: none;
			}
		}

		&.boxed_layout {
			.body-section .pow-transparent-bg-indicator, .body-section .pow-bg-preview-layer {
				display: block !important;
			}
		}

		&.boxed_layout .body-section {
			left:0;
			top: 0;
			height: 100%;
			cursor: pointer;
			background-color: #fff;
			position: absolute;
			z-index: 50;
			width: 100%;



				.hover-state-body {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: #ecf0f1;
					opacity:0;
					.transition(opacity 0.2s);
					z-index: 10;

				.section-indicator{
					position: absolute;
					top: 30px;
					left:30px;
					color: #313d53;
					font-weight: bold;
					display: inline-block;
					z-index: 60;
				}
				&:hover {
					.opacity(100);
				}	
			}
			

		}

		.header-section {
			height: 120px;
			border-bottom: 1px #2d3339 solid;
			&::before {
				.box-sizing(border-box);
				width: 100%;
				content: 'Header';
				display: block;
				position: absolute;
				color: #ddd;
				z-index: 999;
				padding: 10px;
				background-color: #2d3339;
			}
		}

		.banner-section {
			height: 150px;
			border-bottom: 1px #2d3339 solid;
			&::before {
				.box-sizing(border-box);
				width: 100%;
				content: 'Banner';
				display: block;
				position: absolute;
				color: #ddd;
				z-index: 999;
				padding: 10px;
				background-color: #2d3339;
			}
		}

		.page-section {
			height: 340px;
			border-bottom: 1px #2d3339 solid;
			&::before {
				.box-sizing(border-box);
				width: 100%;
				content: 'Page';
				display: block;
				position: absolute;
				color: #ddd;
				z-index: 999;
				padding: 10px;
				background-color: #2d3339;
			}
		}

		.footer-section {
			height: 150px;
			&::before {
				.box-sizing(border-box);
				width: 100%;
				content: 'Footer';
				display: block;
				position: absolute;
				color: #ddd;
				z-index: 999;
				padding: 10px;
				background-color: #2d3339;
			}
		}
		&.boxed_layout .main-sections-wrapper{
			margin: 0 130px;
			background-color: #aaa;
			padding: 0 3px;
			position: relative;
			z-index: 55;
		}





		.header-section, .page-section, .footer-section, .banner-section {
			cursor: pointer;
			
			position: relative;

			.hover-state {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 10;
				background-color: #cbeeff;
				opacity:0;
				.transition(opacity 0.25s);

				.section-indicator{
					position: absolute;
					top:50%;
					left:50%;
					margin: -20px 0 0 -45px;
					color: #313d53;
					padding: 4px 20px;
					font-weight: bold;
					display: inline-block;
					z-index: 60;
				}

				&:hover {
					.opacity(100);
				}

			}
	
		}
}

.pow-transparent-bg-indicator, .pow-bg-preview-layer {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	
	
}
.pow-bg-preview-layer {
	z-index: 2;
}

.pow-transparent-bg-indicator {
	background-image: url(../../images/transparent-bg.png);
	z-index: 1;
}


.pow-bg-edit-panel {
	z-index: 999;
	min-height: 960px;
	display: none;
	position: absolute;
	left: -1px;
	top: -1px;
	width: 100%;
	height: auto;
	border: 1px dashed #ddd;
	background: #ebebeb; 
}
	.pow-bg-panel-heading{
			
			
			border-bottom: 1px solid #ccc;
		.pow-bg-edit-panel-heading-cancel{
			display: block;
			float: right;
			margin: 13px 13px 0 0; 
			font-size: 24px;
			color: #14a5ed;

		}

		.pow-bg-edit-panel-heading-text{
			color: #313d53;
			line-height: 50px;
			font-size: 18px;
			margin:10px 0 0 20px;
			text-transform: capitalize;
			font-weight: bold;
		}
	}

	.pow-bg-edit-left {
		width: 100%;
		float: none;
	}

	.pow-bg-edit-right {
		width: 100%;
		min-height: 750px;
		float: none;
		position: relative;
		.pow-bg-edit-option.pow-bg-edit-option-stretch-2 {
			.pow-toggle-button {
				float: right;
			}
		}
	}

	.pow-bg-edit-bg-color {
		border-bottom: 1px dashed #ccc;
	}

	.pow-bg-edit-option {
		display: block;
		padding: 20px;

	}
	.bg-edit-panel-color {
		float: right;	
	}

	.pow-bg-edit-label {
		display: inline-block;
		float: left;
		font-weight: bold;
		line-height: 30px;
		margin-bottom: 5px;

	}

	
.bg-image-buttons { 
		float: right;
		display: inline-block;
		padding:10px 20px !important;


	}




.bg-repeat-option, .bg-attachment-option, .bg-position-option {
	
	float: right;
	line-height: 4px;
	overflow: hidden;

	
	a{
		
		width: 31px;
		height: 31px;
		display: inline-block;
		margin: 2px;
		padding: 0;
		
		opacity: 0.5;
		background-image: url(../../images/bg-options.png);
		background-repeat: no-repeat;
		.background-size(159px 211px);
		&:hover{
			opacity: 1;
		}
		&.selected {
			opacity: 1;
		}
		&.repeat {
			background-position: -41px -3px; 
		}
		&.no-repeat {
			background-position: 0px -3px; 
		}
		&.repeat-y {
			background-position: -125px -3px; 
		}
		&.repeat-x {
			background-position: -84px -3px; 
		}

		&.fixed {
			background-position: -37px -46px; 
		}
		&.scroll {
			background-position: -78px -47px; 
		}

		&.left-top {
			background-position: -22px -93px; 
		}
		&.center-top {
			background-position: -64px -92px; 
		}
		&.right-top {
			background-position: -106px -92px; 
		}
		&.left-center {
			background-position: -22px -134px; 
		}
		&.center-center {
			background-position: -64px -134px; 
		}

		&.right-center {
			background-position: -106px -134px; 
		}
		&.left-bottom {
			background-position: -22px -177px; 
		}
		&.center-bottom {
			background-position: -64px -177px; 
		}
		&.right-bottom {
			background-position: -106px -177px; 
		}
						

	}	

}

.pow-bg-edit-option-repeat {
	padding-bottom: 25px !important;
}
.pow-bg-edit-option-repeat, .pow-bg-edit-option-attachment{
	border-bottom: 1px solid #ccc;
}
.pow-bg-edit-option-stretch {
	border-top: 1px solid #ccc;
}



.pow-bg-edit-buttons{
	display: block;
	text-align: right;
	padding: 30px;
}






.bg-image-preset-wrapper {

	margin:0px;

}


.bg-background-type-panes {
	height: auto;
	max-height: 120px;

	.bg-background-type-pane {
		display: none;
	}
}



		.bg-image-preset-thumbs {
			overflow-y: scroll; 
			overflow-x: hidden;
			height: 180px;
			.gradient(#fafafa, #aaa);

			border: 1px #fff solid;
			&.patterns-list {
				overflow: hidden;
			}

			li {
				display: inline-block;
				margin: 0;
				padding: 1px;
				width: 48px;
				a{
					height: 48px;
					width: 48px;
					display: block;
					&:hover {
						background-color: #688f2b;
						.scale(1.8);
					}
				}
				&.selected {
						border-color:#009cff;	
					}
			}
		}


.pow-single-option {
	.option-upload-button {
		position: absolute;
		right:0px;
	}
	.pow-upload-container {
		position: relative;
		.option-upload-button {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
.wpb_edit_form_elements {
	.vc_row-fluid {
		input.pow-upload-url {
			float: left;
		}

	}
}

.bg-edit-panel-upload {

	.pow-upload-bg-wrapper {
		position: relative;
	}
	.pow-upload-url {

		margin: 0 !important;
		width: 100% !important

	}
	.bg-edit-panel-upload-title {
		margin: 30px 30px 10px 0px;
		display: block;
	}

	.option-upload-button {
		position: absolute;
		right:0px;
		top:0px;
	}

	.custom-image-preview-block {
		overflow: hidden;
		max-width: 400px !important;
		height: auto;
		max-height: 200px;
		margin: 0 auto !important;
		text-align: center;

	}

}

.bg-background-type-tabs {
text-align: left;
margin: 0;
padding: 0;
	li {
		float: left;
		padding: 0;
		margin: 0 10px 10px 0;
		// a {
		// 	margin: 0;
		// 	padding: 0;
		// 	background-color: #dddddd;
		// 	color: #5b5b5b;
		// }
		&.current > a{
			background-color: #2c6085;
			box-shadow: 0 4px 0 0 #1c5075;
			// color: #fff;
		}
	}
}










/* Specific Background Selector */

.pow-specific-bg-selector {
	border:1px solid #cccccc;
	max-width: 100%;
	position: relative;
	margin-bottom: 20px;
	background: #ebebeb; 


	.bg-image-preset-wrapper {
		margin: 0 0 0 5px;
	}
	.custom-image-preview-block{
		max-width: 300px !important;
		margin: 20px auto !important;
	}
	.bg-background-type-panes {
		min-height: 120px;
		.bg-background-type-pane {
			display: none;
		}
	}

	.specific-edit-panel-upload {
		.bg-edit-panel-upload-title {
			margin-bottom: 10px;
			display: block;
		}
		// margin: 20px !important;

	}
}






.pow-specific-bg-selector-left {
	width: 40%;
	margin-left: -1px;
	float: left;

	
}
.pow-specific-bg-selector-right {
	width: 60%;
	float: right;
	min-height: 100%;
	.border-box();
}

.pow-specific-edit-bg-color, .pow-specific-edit-option-repeat, .pow-specific-edit-option-attachment {
	border-bottom: 1px solid #ccc;
}






.pow-specific-bg-selector, .pow-single-option {
	.pow-upload-url {
		width: 75%;

	}
	.option-upload-button{
		margin-left: -71px;
		
	}
}




.pow-font-icons-wrapper {
	height: 200px;
	overflow: scroll;
	overflow-x:hidden;
	padding:10px;
	a {
		margin: 3px 3px 0 0;
		text-decoration: none;
		display: inline-block;
		background-color: #fff;
		height: 24px;
		width: 24px;
		text-align: center;
		border:1px solid #ccc;
		position: relative;
		z-index: 1;
		overflow: hidden;

		span {
			position: absolute;
			left:-40px;
			top:-5px;
			visibility: hidden;
		}
		
		outline: none;

		&.pow-no-icon {
			text-indent: -1000px;
			font-size: 16px;
			line-height: 24px;
			background-color: #e4e4e4;
		}

		.selector-tick {
			display: none;
		}
		&.current {
				border-color: #0083cb;
				.scale(1.4);
				z-index: 2;
				position: relative;
			i {
				color: #0083cb;
				position: relative;
				&:before {
					position: relative;
				}

			}
		}
		&:hover {
			.scale(2);
			z-index: 2;
		}
	}
	i {
		font-size: 16px;
		line-height: 24px;
		color: #585858;
		position: relative;
		&:before {
			position: relative;
		}
	}
}

.page-composer-icon-filter {
	background-color: #282828;
	background: #282828 !important;
	color: #f8f8f8 !important;
	margin-bottom: 15px;
	.border-radius(0);
}



.pow-system-diagnose {
	margin-bottom: 20px;
	ul {

		li {

			display: block;
			padding: 6px 10px;
			background-color: rgba(0,0,0,0.03);
			margin-bottom: 1px;
			strong {
				margin-right: 10px;
			}

			.error {
				color: red;
			}
		}
	}
}



.pow-group {
	&.inactive {
		height: 60px;
		overflow: hidden;
		.pow-group-title::before {
			content: '\f078';
		}
		.pow-group-title::after {
			content: attr(data-label-inactive);
		}
	}
	&.active {
		height: auto;
		overflow: visible;
		.pow-group-title::before {
			content: '\f077';
		}
		.pow-group-title::after {
			content: attr(data-label-active);
		}
		
	}
	.box-sizing(border-box);
 	.transition(all 0.2s ease-in-out);
	-webkit-perspective: 1500;
	border: 1px #ddd solid;
	border-bottom-width: 0;
	@bshadow:  0 1px 0 0 #ddd, 0 2px 0 0 #fafafa;
	.box-shadow(@bshadow);
	padding: 20px;
	margin-bottom: 20px;
	.pow-group-title {
		cursor: pointer;
		&::before {
			cursor: pointer;
			opacity: 0.5;
			font-family: 'FontAwesome';
			margin-right: 10px;
		}
		&::after {
			cursor: pointer;
			opacity: 0.5;
			float: right;
			margin-right: 10px;
		}
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 2px;
		margin-top: -10px;
		line-height: 18px;
		margin-bottom: 20px;
		padding: 10px;
		margin-left: -10px;
		margin-right: -10px;
		background-color: #F3F3F3;
		position: relative;
	}
}
/* Callouts */
.pow-callout {
		overflow: hidden;
		margin-bottom: 20px;
		padding: 10px 15px;
		border:1px solid #f5f5f5;
		background-color: #f8f8f8;

		p {
			display: inline;
			margin-bottom: 0;
		}

	.callout-title {
		padding-right: 6px;
		color: #282828;
		font-weight: bold;
	}

	.callout-desc {
	}

	a {
		i {
			padding-left: 6px;
			font-size: 14px;
		}
	}
		.box-shadow(2px 2px 0 0 rgba(0,0,0,0.08));

}