.pow-resets {
  a:hover,
  a:active {
    outline: 0;
  }

  sub,
  sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }

  img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
  }

  button,
  input,
  select,
  textarea {
    margin: 0;
    vertical-align: middle;
    font-size: 100%;
  }
  button,
  input {
    line-height: normal;
    *overflow: visible;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }
  input[type="search"] {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-appearance: textfield;
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  textarea {
    overflow: auto;
    vertical-align: top;
  }


  p {
      line-height: 22px;
  }

  ol, ul {
      list-style: none;
  }

  blockquote, q {
      quotes: none;
  }

  blockquote:before, blockquote:after, q:before, q:after {
      content: none;
  }

  table {
      border-spacing: 0;
      border-collapse: collapse;
  }

  strong, th, thead td {
      font-weight: bold;
  }

  cite, em, dfn {
      font-style: italic;
  }

  code, pre {
      display: block;
      white-space: pre;
      font-size: 13px;
      padding-left: 2px;
      .box-shadow( -2px 0 0 0 rgba(128,128,128,.1));
  }

  del {
      color: #666;
      text-decoration: line-through;
  }

  ins, dfn {
      border-bottom: 1px solid #ccc;
  }

  small, sup, sub {
      font-size: 85%;
  }

  abbr, acronym {
      text-transform: uppercase;
      letter-spacing: .1em;
  }

  a abbr, a acronym {
      border: none;
  }

  abbr[title], acronym[title], dfn[title] {
      border-bottom: 1px dotted #ccc;
      cursor: help;
  }

  sup {
      vertical-align: super;
  }

  sub {
      vertical-align: sub;
  }



  a {
      text-decoration: none;
  }

  a:link, a:visited, a:hover, a:active, a:focus {
      outline: 0 none;
      text-decoration: none;
  }



  fieldset {
      padding: 1em;
      border: 1px solid #dddddd;
  }

  legend {
      padding: 0 .8em;
      font-weight: bold;
      font-size: 1.2em;
  }

  textarea, input[type=text], input[type=password], input[type=email], select {
      outline: none;
      border: none;
      font-size: inherit;
  }

  input, select {
      cursor: pointer;
  }

  input[type=text], input[type=password], input[type=email] {
      cursor: text;
  }

  textarea {
      overflow: auto;
  }

  textarea, input {
      padding: 8px;
      outline: none;
  }

  select {
      padding: 2px;
  }

  option {
      padding: 0 4px;
  }
}
