@import '_snippets';
/* 
**
**
** Theme Settings Header 
-------------------------------------------------------------*/

.main-left-section {
	width: 100px;
	float: left;
}
.themesettings-options-page.horizontal-navigation {
	.pow-sub-navigator {
		margin-top: 0;
	}
	.pow-sub-panes {
		margin-left: 210px;
	}
	.pow-main-panes {
		clear: both;
	}
	.pow-theme-version {
		display: none;
	}
	.pow-sub-navigator {
		width: 200px;
		li {
			position: relative;
			a {
				&::after {
					top: 10px;
				}
			}
		}
	}
	.pow-footer-buttons {
		margin-left: 240px;
	}
	.pow-options-container {
		.box-shadow(inset 200px 0 0 #2d3339);
	}
	.main-left-section {
		width: 100%;
		background-color: #242c2f;

		.themesettings-branding {
			display: block;
			width: 100px;
			float: left;
			clear: left;
		}
		ul.pow-main-navigator {
			width: 100%;
			display: block;
			li {
				display: block;
				width: 100px;
				float: left;
			}
		}
	}
}
.pow-logo {
	display: block;
	margin:15px 3px 5px 15px;
	width: 71px;
	height: 71px;
	background: url(../../images/pow-logo.png) no-repeat;
}

.pow-theme-version {
	color: #a4a4a4;
	font-size: 11px;
	text-align: center;
	display: block;
	margin-bottom: 20px;
}




/* 
**
**
** Theme Settings Header
-------------------------------------------------------------*/
.themesettings-options-page { 
	margin: 20px 20px 0 0;
	color:#555555;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;


}


.pow-options-container { 
	position: relative;
	border: 1px #eaeaea solid;
	.double-shadow(inset 100px 0 0 #242c2f, inset 327px 0 0 #2d3339);
	background-color: #fafafa;

}


.pow-main-navigator li, .pow-sub-navigator li {
	i {
		text-align: center;
	}
	&.ui-state-active, &.ui-widget-content &.ui-state-active, &.ui-widget-header &.ui-state-active, &.ui-state-hover {
		border: none !important;
		background: none !important;
		font-weight: inherit !important;
		color: inherit !important;
	}
}


/* 
**
**
** Main Navigator
-------------------------------------------------------------*/

.pow-main-navigator {
	width: 100px;
	position: relative;

	li {	
		margin: 0;
		text-align: center;
		a {
			display: block;	
			color:#666666;
			text-align: center;
			font-size: 11px;
			line-height: 12px;
			padding: 15px 0;
			
			&:hover {
				color:#fff;
				background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.03) 3%, rgba(36,44,47,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(3%,rgba(255,255,255,0.03)), color-stop(100%,rgba(36,44,47,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 3%,rgba(36,44,47,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 3%,rgba(36,44,47,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 3%,rgba(36,44,47,1) 100%); /* IE10+ */
				background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 3%,rgba(36,44,47,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#242c2f',GradientType=1 ); /* IE6-9 */

				i {
					color: #17bce8;
					&:after {
						background-color: #91DA6E;
					}
				}
			}

			i {
				display: block;
				font-size: 32px;
				margin-bottom:10px;
				&:after {
					content: '';
					position: absolute;
					background-color: #000;
					height: 4px;
					width: 4px;
					right: 5px;
					border-radius: 5px;
				}
			}
		}

		&.ui-tabs-active a {
			color:#fff;
			background-color: #2d3339;
			i {
				color: #17bce8;
				&:after {
					background-color: #91DA6E;
				}
			}
		}

													
	}
}


.pow-main-panes {
	min-height: 700px;
	display: block;

}




/* 
**
**
** Sub Navigator
-------------------------------------------------------------*/

.pow-sub-navigator {
	display: block;
	float: left;
	position: relative;
	margin: 130px 0 0 0;
	padding: 0;
	width:227px;

	li {
		display: block; 
		margin: 0;
		&.ui-state-active{
			a {
			}
		}

		&:hover {
			a {
				&:after {
					background-color: #14a5ed;
				}
			}
		}
		&.ui-state-active{
			a {
				&:after {
					background-color: #91DA6E;
				}
			}
		}
		a {
			display: block;
			padding: 16px;
			color:#bbbbbb !important;
			font-size: 13px;
			line-height: 14px;
			&:after {
				content: '';
				position: absolute;
				background-color: #000;
				height: 6px;
				width: 6px;
				margin-top: 5px;
				right: 20px;
				border-radius: 10px;
			}
			&:hover {
			}

		}	
			&.ui-state-active a {
				color:#91DA6E !important;
				&:after {
					background-color: #91DA6E;
				}
			}
	}
}

.pow-sub-panes {
	display: block;
	position: relative;
	margin: 0 15px 15px 325px;
}







/* 
**
**
** General Options Layouts
-------------------------------------------------------------*/

.pow-single-option {
	padding: 0 15px 10px 35px;

	&.no-divider {

		margin-bottom: 20px;
	}
	.pow-upload-url {
		width: 100%;
	}
	.option-title-sub, .option-title-main {
		display: block;
		margin-bottom: 12px;
		color: #404040;
		font-weight: bold;
	} 

	.option-title-sub {
		font-size: 14px;
	}

	.option-title-main {
		margin-bottom: 12px;
		font-size: 18px;
	}


	.option-desc {
		display: block;
		margin-bottom: 20px;
		color:#777777;
		font-size: 11px;

	}

	.option-more-help {
		display: block;
		
		text-align: right;

		a {
			display: inline-block;
			padding-left: 25px;
			height: 20px;
			background: url(../../images/more-help-icon.png) left center no-repeat;
			color:#777777;
			font-size: 11px;
			line-height: 20px;	
			&:hover {
				color: #009cff;
			}
	    }
	}
}

.pow-heading-option {
	margin-left: 2px;
	margin-bottom: 50px;
	border-bottom: 1px solid #dedede;
	.pow-page-heading {
		padding: 20px 20px 0;
		font-size: 26px;
		display: block;
	}

	.option-desc {
		display: block;
		padding: 10px 20px;
		font-size: 13px;
	}
}

.option-divider {
		margin:0 0 25px 3px;
		height: 1px; 
		padding-bottom: 5px;
}



.pow-footer-buttons {
	display: block;
	margin:60px 30px 60px 130px;
	text-align: right;
	height: 70px;
	.reset_section {
		text-align: left;
		width: 180px;
		margin-bottom: 20px;
		color: #aaa;
	}
}


.pow-button {
	// font-size: 13px;
	// display: inline-block;
	// margin-left: 15px;
	// padding: 15px 35px;
	// text-decoration: none;
	// cursor: pointer;
	span{
		display: inline-block;
		padding: 2px 0;
	}
	&.pow-secondary {
		padding: 13px 35px;

	}
	&.pow-ancilary {
		padding: 5px 20px;
	}

	&.dominant-color {
		border:none;
		background-color: #2d3339;
		color:#fff;	

		&:hover {
			background-color: #595959   ;

		}

	}
	&.main-button {
		background-color: #6E9BB1;

		&:hover {
			background-color: #1394d4;

		}
	}

	// &.highlight-color {
	// 	border:none;
	// 	background-color: #aaaaaa;
	// 	color:#fff;

	// 	&:hover {
	// 		background-color: #848484;	

	// 	}
	// }

	&#pow_reset_confirm {
		border: 2px solid #666666;
		background-color: #2d3339;
		color: #aaaaaa;
		margin-bottom: 40px;
		&:hover {
			background-color: #272727;
		}
	}


}





#shortcode_insert_buttons {
	text-align: right;

	a {
		margin:0 30px 20px 0;
	}
}
.shortcode_wrap table { width: 99%; }
.shortcode_wrap .theme_options_container th { width: 280px; text-align: right; }
.homepage-shortcode td, .homepage-shortcode th { border-bottom: none; }



#pow_reset_confirm {
	float: left;
	margin-left: 0px;
}


@font-face {
	font-family: 'themesettings-icons';
	src:url('../themesettings-icons/themesettings-icons.eot');
	src:url('../themesettings-icons/themesettings-icons.eot?#iefix') format('embedded-opentype'),
		url('../themesettings-icons/themesettings-icons.woff') format('woff'),
		url('../themesettings-icons/themesettings-icons.ttf') format('truetype'),
		url('../themesettings-icons/themesettings-icons.svg#themesettings-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-globe, .icon-checkmark3, .icon-close2, .icon-menu10, .icon-lock2, .icon-arrow-up-right2, .icon-arrow-up4, .icon-arrow-up-left2, .icon-arrow-right5, .icon-arrow-left4, .icon-arrow-down4, .icon-arrow-down-right2, .icon-arrow-down-left2, .icon-menu10-2, .icon-support, .icon-lab, .icon-blog, .icon-briefcase3, .icon-type, .icon-globe-2, .icon-droplet3 {
	font-family: 'themesettings-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-globe:before {
	content: "\25a0";
}
.icon-checkmark3:before {
	content: "\25a2";
}
.icon-close2:before {
	content: "\25a3";
}
.icon-menu10:before {
	content: "\25a4";
}
.icon-lock2:before {
	content: "\25a8";
}
.icon-arrow-up-right2:before {
	content: "\25ad";
}
.icon-arrow-up4:before {
	content: "\25ac";
}
.icon-arrow-up-left2:before {
	content: "\25b0";
}
.icon-arrow-right5:before {
	content: "\25c6";
}
.icon-arrow-left4:before {
	content: "\25db";
}
.icon-arrow-down4:before {
	content: "\25e0";
}
.icon-arrow-down-right2:before {
	content: "\25de";
}
.icon-arrow-down-left2:before {
	content: "\25e3";
}
.icon-menu10-2:before {
	content: "\25e5";
}
.icon-support:before {
	content: "\25e8";
}
.icon-lab:before {
	content: "\25e7";
}
.icon-blog:before {
	content: "\25eb";
}
.icon-briefcase3:before {
	content: "\25ef";
}
.icon-type:before {
	content: "\25f1";
}
.icon-globe-2:before {
	content: "\25f2";
}
.icon-droplet3:before {
	content: "\25f4";
}

.pow-button, .button, #save_theme_options, #pow_reset_confirm, .option-upload-button {
	color: #fff;
	display: inline-block;
	text-align: center;
	font-weight: bold !important;
	// background: #5fcf80;
	cursor: pointer;
	text-decoration: none;
	text-shadow: 0 1px 0px rgba(0,0,0,0.15);
	border-width: 1px 1px 3px !important;
	border-style: solid;
	border-color: #3ac162;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	.border-radius(5px);
	.box-sizing(border-box);
	.box-shadow(0 -1px 0 rgba(255,255,255,0.1) inset);

	background-color: #3f8abf;
	-webkit-box-shadow: 0 4px 0 0 #2c6085;
	-moz-box-shadow: 0 4px 0 0 #2c6085;
	box-shadow: 0 4px 0 0 #2c6085;
	border: none;
	font-size: 14px;
	padding: 16px 30px;
	// text-shadow: 0 1px 0 rgba(0,0,0,0.15);
	z-index: 1;
	font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	&:hover {
		background: #2c6085;
		box-shadow: 0 4px 0 0 #1c5075;
		color: #fff;
	}
	&.red {
		background-color: #de0000;
		.box-shadow(0 4px 0 0 #a20000);
		
		&:hover {
			.box-shadow(0 4px 0 0 #c00000);
		}
	}
	&.dark {
		border: none;
		background-color: #101010;
		.box-shadow(0 4px 0 0 #282828);
		
		&:hover {
			.box-shadow(0 4px 0 0 #1a1a1a);
		}
	}
	&.green {
		background-color: #5fcf80;
		.box-shadow(0 4px 0 0 #51a65f);
		// font-size: 20px !important;
		// padding: 20px;
		// width: 270px;
		&:hover {
			background: #69d98a;
		}
	}
}