@import '_snippets';

/* 
**
**
** Specific Visual Composer Styles
-------------------------------------------------------------*/



.wpb_vc_column {
	&:hover {
		> .controls.controls_column::before, > .controls.controls_column::after {
		//, .controls.controls_column.bottom-controls
		// &::before, &::after, .controls.controls_column.bottom-controls::before, .controls.controls_column.bottom-controls::after {
			content: '';
			height: 9px;
			position: absolute;
			width: 9px;
			z-index: 999;
			background-color: #2d3e50;
			border: 2px #2d3e50 solid;
			.border-radius(9px);
			display: block;
		}
	}
}
// .wpb_column_container:hover::after,
// .wpb_column_container:hover .controls.controls_column.bottom-controls::after,
// .wpb_column_container:hover .controls.controls_column.bottom-controls::before {
// 	content: '';
// 	height: 9px;
// 	position: absolute;
// 	width: 9px;
// 	background-color: #fff;
// 	z-index: 999;
// 	border: 2px #8c8c8c solid;
// 	.border-radius(9px);
// }
.wpb_vc_column:hover > .controls.controls_column::before {
	left: -7px;
	top: -14px;
}
.wpb_vc_column:hover > .controls.controls_column::after {
	right: -7px;
	top: -14px;
}

.wpb_vc_column:hover > .controls.controls_column.bottom-controls::before {
	left: -7px;
	bottom: -32px;
}
.wpb_vc_column:hover > .controls.controls_column.bottom-controls::after {
	right: -7px;
	bottom: -32px;
}
.wpb_vc_column > .controls.controls_column.bottom-controls {
	display: block !important;
}

.wpb_pow_custom_caption > .wpb_element_wrapper > *,
.wpb_pow_masked_title > .wpb_element_wrapper > * {
	line-height: 100% !important;
	text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}