@font-face {
  font-family: 'falconIcons';
  src: url('../icons/falcon-icons/falcon-icons.eot');
  src: url('../icons/falcon-icons/falcon-icons.eot?#iefix') format('embedded-opentype'), url('../icons/falcon-icons/falcon-icons.ttf') format('truetype'), url('../icons/falcon-icons/falcon-icons.woff') format('woff'), url('../icons/falcon-icons/falcon-icons.svg#falcon-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="pow-falcon-icon-"]:before,
[class*=" pow-falcon-icon-"]:before {
  font-family: 'falconIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pow-falcon-icon-search:before {
  content: "\e602";
}
.pow-falcon-icon-portfolio:before {
  content: "\e604";
}
.pow-falcon-icon-portfolio-2:before {
  content: "\e603";
}
.pow-falcon-icon-plus:before {
  content: "\e604";
}
.pow-falcon-icon-video:before {
  content: "\e605";
}
.pow-falcon-icon-image:before {
  content: "\e604";
}
.pow-falcon-icon-picture:before {
  content: "\e606";
}
.pow-falcon-icon-doc:before {
  content: "\e607";
}
.pow-falcon-icon-twitter_alt:before {
  content: "\e608";
}
.pow-falcon-icon-rss:before {
  content: "\e609";
}
.pow-falcon-icon-youtube:before {
  content: "\e60a";
}
.pow-falcon-icon-yelp:before {
  content: "\e60b";
}
.pow-falcon-icon-yahoo:before {
  content: "\e60c";
}
.pow-falcon-icon-wordpress:before {
  content: "\e60d";
}
.pow-falcon-icon-vimeo:before {
  content: "\e60e";
}
.pow-falcon-icon-twitter:before {
  content: "\e60f";
}
.pow-falcon-icon-tumblr:before {
  content: "\e610";
}
.pow-falcon-icon-stumbleupon:before {
  content: "\e611";
}
.pow-falcon-icon-skype:before {
  content: "\e612";
}
.pow-falcon-icon-pinterest:before {
  content: "\e613";
}
.pow-falcon-icon-path:before {
  content: "\e614";
}
.pow-falcon-icon-myspace:before {
  content: "\e601";
}
.pow-falcon-icon-linkedin:before {
  content: "\e615";
}
.pow-falcon-icon-lastfm:before {
  content: "\e616";
}
.pow-falcon-icon-googleplus:before {
  content: "\e617";
}
.pow-falcon-icon-google:before {
  content: "\e618";
}
.pow-falcon-icon-github:before {
  content: "\e619";
}
.pow-falcon-icon-flickr:before {
  content: "\e61a";
}
.pow-falcon-icon-facebook:before {
  content: "\e61b";
}
.pow-falcon-icon-envato:before {
  content: "\e61c";
}
.pow-falcon-icon-dropbox:before {
  content: "\e61d";
}
.pow-falcon-icon-dribbble:before {
  content: "\e61e";
}
.pow-falcon-icon-digg:before {
  content: "\e61f";
}
.pow-falcon-icon-deviantart:before {
  content: "\e620";
}
.pow-falcon-icon-delicious:before {
  content: "\e621";
}
.pow-falcon-icon-blogger:before {
  content: "\e622";
}
.pow-falcon-icon-behance:before {
  content: "\e623";
}
.pow-falcon-icon-bebo:before {
  content: "\e624";
}
.pow-falcon-icon-apple:before {
  content: "\e625";
}
.pow-falcon-icon-amazon:before {
  content: "\e626";
}
.pow-falcon-icon-aim:before {
  content: "\e627";
}
.pow-falcon-icon-px:before {
  content: "\e628";
}
.pow-falcon-icon-reddit:before {
  content: "\e629";
}
.pow-falcon-icon-simple-wordpress:before {
  content: "\e62a";
}
.pow-falcon-icon-simple-rss:before {
  content: "\e62b";
}
.pow-falcon-icon-simple-youtube:before {
  content: "\e600";
}
.pow-falcon-icon-simple-yelp:before {
  content: "\e62c";
}
.pow-falcon-icon-simple-yahoo:before {
  content: "\e62d";
}
.pow-falcon-icon-simple-vimeo:before {
  content: "\e62e";
}
.pow-falcon-icon-simple-twitter:before {
  content: "\e62f";
}
.pow-falcon-icon-twitter_alt:before {
  content: "\e630";
}
.pow-falcon-icon-simple-tumblr:before {
  content: "\e631";
}
.pow-falcon-icon-simple-stumbleupon:before {
  content: "\e632";
}
.pow-falcon-icon-simple-skype:before {
  content: "\e633";
}
.pow-falcon-icon-simple-pinterest:before {
  content: "\e634";
}
.pow-falcon-icon-simple-path:before {
  content: "\e635";
}
.pow-falcon-icon-myspace:before {
  content: "\e636";
}
.pow-falcon-icon-simple-linkedin:before {
  content: "\e637";
}
.pow-falcon-icon-simple-lastfm:before {
  content: "\e638";
}
.pow-falcon-icon-simple-googleplus:before {
  content: "\e639";
}
.pow-falcon-icon-simple-google:before {
  content: "\e63a";
}
.pow-falcon-icon-simple-github:before {
  content: "\e63b";
}
.pow-falcon-icon-simple-flickr:before {
  content: "\e63c";
}
.pow-falcon-icon-simple-facebook:before {
  content: "\e63d";
}
.pow-falcon-icon-simple-envato:before {
  content: "\e63e";
}
.pow-falcon-icon-simple-dropbox:before {
  content: "\e63f";
}
.pow-falcon-icon-simple-dribbble:before {
  content: "\e640";
}
.pow-falcon-icon-simple-digg:before {
  content: "\e641";
}
.pow-falcon-icon-simple-deviantart:before {
  content: "\e642";
}
.pow-falcon-icon-simple-delicious:before {
  content: "\e643";
}
.pow-falcon-icon-simple-blogger:before {
  content: "\e644";
}
.pow-falcon-icon-simple-behance:before {
  content: "\e645";
}
.pow-falcon-icon-simple-bebo:before {
  content: "\e646";
}
.pow-falcon-icon-simple-apple:before {
  content: "\e647";
}
.pow-falcon-icon-simple-amazon:before {
  content: "\e648";
}
.pow-falcon-icon-simple-aim:before {
  content: "\e649";
}
.pow-falcon-icon-simple-px:before {
  content: "\e64a";
}
.pow-falcon-icon-simple-reddit:before {
  content: "\e64b";
}
.pow-falcon-icon-square-youtube:before {
  content: "\e64c";
}
.pow-falcon-icon-square-yelp:before {
  content: "\e64d";
}
.pow-falcon-icon-square-yahoo:before {
  content: "\e64e";
}
.pow-falcon-icon-square-wordpress:before {
  content: "\e64f";
}
.pow-falcon-icon-square-vimeo:before {
  content: "\e650";
}
.pow-falcon-icon-square-twitter:before {
  content: "\e651";
}
.pow-falcon-icon-simple-twitter_alt:before {
  content: "\e652";
}
.pow-falcon-icon-square-tumblr:before {
  content: "\e653";
}
.pow-falcon-icon-square-stumbleupon:before {
  content: "\e654";
}
.pow-falcon-icon-square-skype:before {
  content: "\e655";
}
.pow-falcon-icon-square-rss:before {
  content: "\e656";
}
.pow-falcon-icon-square-pinterest:before {
  content: "\e657";
}
.pow-falcon-icon-square-path:before {
  content: "\e658";
}
.pow-falcon-icon-simple-myspace:before {
  content: "\e659";
}
.pow-falcon-icon-square-linkedin:before {
  content: "\e65a";
}
.pow-falcon-icon-square-lastfm:before {
  content: "\e65b";
}
.pow-falcon-icon-square-googleplus:before {
  content: "\e65c";
}
.pow-falcon-icon-square-google:before {
  content: "\e65d";
}
.pow-falcon-icon-square-github:before {
  content: "\e65e";
}
.pow-falcon-icon-square-flickr:before {
  content: "\e65f";
}
.pow-falcon-icon-square-facebook:before {
  content: "\e660";
}
.pow-falcon-icon-square-envato:before {
  content: "\e661";
}
.pow-falcon-icon-square-dropbox:before {
  content: "\e662";
}
.pow-falcon-icon-square-dribbble:before {
  content: "\e663";
}
.pow-falcon-icon-square-digg:before {
  content: "\e664";
}
.pow-falcon-icon-square-deviantart:before {
  content: "\e665";
}
.pow-falcon-icon-square-delicious:before {
  content: "\e666";
}
.pow-falcon-icon-square-blogger:before {
  content: "\e667";
}
.pow-falcon-icon-square-behance:before {
  content: "\e668";
}
.pow-falcon-icon-square-bebo:before {
  content: "\e669";
}
.pow-falcon-icon-square-apple:before {
  content: "\e66a";
}
.pow-falcon-icon-square-amazon:before {
  content: "\e66b";
}
.pow-falcon-icon-square-aim:before {
  content: "\e66c";
}
.pow-falcon-icon-square-px:before {
  content: "\e66d";
}
.pow-falcon-icon-square-reddit:before {
  content: "\e66e";
}
.px-active i {
  color: #444444;
  border-color: #444444;
}
.aim-active i {
  color: #F2D523;
  border-color: #F2D523;
}
.amazon-active i {
  color: #FF9900;
  border-color: #FF9900;
}
.apple-active i {
  color: #B9BFC1;
  border-color: #B9BFC1;
}
.bebo-active i {
  color: #EE1010;
  border-color: #EE1010;
}
.behance-active i {
  color: #1769FF;
  border-color: #1769FF;
}
.blogger-active i {
  color: #F57D00;
  border-color: #F57D00;
}
.delicious-active i {
  color: #3274D1;
  border-color: #3274D1;
}
.deviantart-active i {
  color: #4B5D50;
  border-color: #4B5D50;
}
.digg-active i {
  color: #14589E;
  border-color: #14589E;
}
.dribbble-active i {
  color: #EA4C89;
  border-color: #EA4C89;
}
.dropbox-active i {
  color: #2281CF;
  border-color: #2281CF;
}
.envato-active i {
  color: #528036;
  border-color: #528036;
}
.facebook-active i {
  color: #3B5998;
  border-color: #3B5998;
}
.flickr-active i {
  color: #0063DB;
  border-color: #0063DB;
}
.github-active i {
  color: #4183C4;
  border-color: #4183C4;
}
.google-active i {
  color: #4183C4;
  border-color: #4183C4;
}
.googleplus-active i {
  color: #D14836;
  border-color: #D14836;
}
.lastfm-active i {
  color: #D51007;
  border-color: #D51007;
}
.linkedin-active i {
  color: #007FB1;
  border-color: #007FB1;
}
.myspace-active i {
  color: #008DDE;
  border-color: #008DDE;
}
.path-active i {
  color: #E41F11;
  border-color: #E41F11;
}
.pinterest-active i {
  color: #CB2027;
  border-color: #CB2027;
}
.reddit-active i {
  color: #FF4500;
  border-color: #FF4500;
}
.rss-active i {
  color: #FF8300;
  border-color: #FF8300;
}
.skype-active i {
  color: #00AFF0;
  border-color: #00AFF0;
}
.stumbleupon-active i {
  color: #EB4924;
  border-color: #EB4924;
}
.tumblr-active i {
  color: #2C4762;
  border-color: #2C4762;
}
.twitter_alt-active i {
  color: #00ACED;
  border-color: #00ACED;
}
.twitter-active i {
  color: #00ACED;
  border-color: #00ACED;
}
.vimeo-active i {
  color: #44BBFF;
  border-color: #44BBFF;
}
.wordpress-active i {
  color: #21759B;
  border-color: #21759B;
}
.yahoo-active i {
  color: #731A8B;
  border-color: #731A8B;
}
.yelp-active i {
  color: #C93C27;
  border-color: #C93C27;
}
.youtube-active i {
  color: #CD332D;
  border-color: #CD332D;
}
.px-hover:hover i {
  color: #444444 !important;
  border-color: #444444 !important;
}
.aim-hover:hover i {
  color: #F2D523 !important;
  border-color: #F2D523 !important;
}
.amazon-hover:hover i {
  color: #FF9900 !important;
  border-color: #FF9900 !important;
}
.apple-hover:hover i {
  color: #B9BFC1 !important;
  border-color: #B9BFC1 !important;
}
.bebo-hover:hover i {
  color: #EE1010 !important;
  border-color: #EE1010 !important;
}
.behance-hover:hover i {
  color: #1769FF !important;
  border-color: #1769FF !important;
}
.blogger-hover:hover i {
  color: #F57D00 !important;
  border-color: #F57D00 !important;
}
.delicious-hover:hover i {
  color: #3274D1 !important;
  border-color: #3274D1 !important;
}
.deviantart-hover:hover i {
  color: #4B5D50 !important;
  border-color: #4B5D50 !important;
}
.digg-hover:hover i {
  color: #14589E !important;
  border-color: #14589E !important;
}
.dribbble-hover:hover i {
  color: #EA4C89 !important;
  border-color: #EA4C89 !important;
}
.dropbox-hover:hover i {
  color: #2281CF !important;
  border-color: #2281CF !important;
}
.envato-hover:hover i {
  color: #528036 !important;
  border-color: #528036 !important;
}
.facebook-hover:hover i {
  color: #3B5998 !important;
  border-color: #3B5998 !important;
}
.flickr-hover:hover i {
  color: #0063DB !important;
  border-color: #0063DB !important;
}
.github-hover:hover i {
  color: #4183C4 !important;
  border-color: #4183C4 !important;
}
.google-hover:hover i {
  color: #4183C4 !important;
  border-color: #4183C4 !important;
}
.googleplus-hover:hover i {
  color: #D14836 !important;
  border-color: #D14836 !important;
}
.lastfm-hover:hover i {
  color: #D51007 !important;
  border-color: #D51007 !important;
}
.linkedin-hover:hover i {
  color: #007FB1 !important;
  border-color: #007FB1 !important;
}
.myspace-hover:hover i {
  color: #008DDE !important;
  border-color: #008DDE !important;
}
.path-hover:hover i {
  color: #E41F11 !important;
  border-color: #E41F11 !important;
}
.pinterest-hover:hover i {
  color: #CB2027 !important;
  border-color: #CB2027 !important;
}
.reddit-hover:hover i {
  color: #FF4500 !important;
  border-color: #FF4500 !important;
}
.rss-hover:hover i {
  color: #FF8300 !important;
  border-color: #FF8300 !important;
}
.skype-hover:hover i {
  color: #00AFF0 !important;
  border-color: #00AFF0 !important;
}
.stumbleupon-hover:hover i {
  color: #EB4924 !important;
  border-color: #EB4924 !important;
}
.tumblr-hover:hover i {
  color: #2C4762 !important;
  border-color: #2C4762 !important;
}
.twitter_alt-hover:hover i {
  color: #00ACED !important;
  border-color: #00ACED !important;
}
.twitter-hover:hover i {
  color: #00ACED !important;
  border-color: #00ACED !important;
}
.vimeo-hover:hover i {
  color: #44BBFF !important;
  border-color: #44BBFF !important;
}
.wordpress-hover:hover i {
  color: #21759B !important;
  border-color: #21759B !important;
}
.yahoo-hover:hover i {
  color: #731A8B !important;
  border-color: #731A8B !important;
}
.yelp-hover:hover i {
  color: #C93C27 !important;
  border-color: #C93C27 !important;
}
.youtube-hover:hover i {
  color: #CD332D !important;
  border-color: #CD332D !important;
}
