body {
	 direction: rtl;
	 unicode-bidi: embed;
	 text-align: right;
}
h1,h2,h3,h4,h5,h6, p, .the-title, .the-excerpt, .pow-portfolio-view-all {
	text-align: right;
}
#pow-header .header-logo {
	left: auto !important;
	float: right !important;
	right:20px;
}
.pow-header-right {
	right: auto !important;
	left:30px;
}
.pow-header-start-tour {
	padding-left: 0 !important;
}
.pow-header-start-tour i {
	padding: 0 15px 0 0 !important;
}
.pow-clients-shortcode .pow-fancy-title span {
	padding-left: 5px;
}