@font-face {
  font-family: 'FalconUI';
  src: url('../falconui-icons/falconui.eot?39896726');
  src: url('../falconui-icons/falconui.eot?39896726#iefix') format('embedded-opentype'), url('../falconui-icons/falconui.woff?39896726') format('woff'), url('../falconui-icons/falconui.ttf?39896726') format('truetype'), url('../falconui-icons/falconui.svg?39896726#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="falconui-icon-"]:before,
[class*=" falconui-icon-"]:before {
  font-family: "FalconUI";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
.falconui-icon-columns:before {
  content: '\e805';
}
.falconui-icon-th-thumb:before {
  content: '\e80d';
}
.falconui-icon-menu:before {
  content: '\e806';
}
.falconui-icon-move:before {
  content: '\e804';
}
.falconui-icon-params:before {
  content: '\e807';
}
.falconui-icon-briefcase:before {
  content: '\e809';
}
.falconui-icon-ok-circled:before {
  content: '\e80e';
}
.falconui-icon-rss:before {
  content: '\e80a';
}
.falconui-icon-adjust:before {
  content: '\e80c';
}
.falconui-icon-font:before {
  content: '\e808';
}
.falconui-icon-code:before {
  content: '\e80b';
}
.falconui-icon-article:before {
  content: '\e803';
}
.falconui-icon-location:before {
  content: '\e801';
}
.pow-resets a:hover,
.pow-resets a:active {
  outline: 0;
}
.pow-resets sub,
.pow-resets sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
.pow-resets sup {
  top: -0.5em;
}
.pow-resets sub {
  bottom: -0.25em;
}
.pow-resets img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
.pow-resets button,
.pow-resets input,
.pow-resets select,
.pow-resets textarea {
  margin: 0;
  vertical-align: middle;
  font-size: 100%;
}
.pow-resets button,
.pow-resets input {
  line-height: normal;
  *overflow: visible;
}
.pow-resets button::-moz-focus-inner,
.pow-resets input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.pow-resets button,
.pow-resets input[type="button"],
.pow-resets input[type="reset"],
.pow-resets input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
.pow-resets input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
.pow-resets input[type="search"]::-webkit-search-decoration,
.pow-resets input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.pow-resets textarea {
  overflow: auto;
  vertical-align: top;
}
.pow-resets p {
  line-height: 22px;
}
.pow-resets ol,
.pow-resets ul {
  list-style: none;
}
.pow-resets blockquote,
.pow-resets q {
  quotes: none;
}
.pow-resets blockquote:before,
.pow-resets blockquote:after,
.pow-resets q:before,
.pow-resets q:after {
  content: none;
}
.pow-resets table {
  border-spacing: 0;
  border-collapse: collapse;
}
.pow-resets strong,
.pow-resets th,
.pow-resets thead td {
  font-weight: bold;
}
.pow-resets cite,
.pow-resets em,
.pow-resets dfn {
  font-style: italic;
}
.pow-resets code,
.pow-resets pre {
  display: block;
  white-space: pre;
  font-size: 13px;
  padding-left: 2px;
  -webkit-box-shadow: -2px 0 0 0 rgba(128, 128, 128, 0.1);
  -moz-box-shadow: -2px 0 0 0 rgba(128, 128, 128, 0.1);
  box-shadow: -2px 0 0 0 rgba(128, 128, 128, 0.1);
}
.pow-resets del {
  color: #666;
  text-decoration: line-through;
}
.pow-resets ins,
.pow-resets dfn {
  border-bottom: 1px solid #ccc;
}
.pow-resets small,
.pow-resets sup,
.pow-resets sub {
  font-size: 85%;
}
.pow-resets abbr,
.pow-resets acronym {
  text-transform: uppercase;
  letter-spacing: .1em;
}
.pow-resets a abbr,
.pow-resets a acronym {
  border: none;
}
.pow-resets abbr[title],
.pow-resets acronym[title],
.pow-resets dfn[title] {
  border-bottom: 1px dotted #ccc;
  cursor: help;
}
.pow-resets sup {
  vertical-align: super;
}
.pow-resets sub {
  vertical-align: sub;
}
.pow-resets a {
  text-decoration: none;
}
.pow-resets a:link,
.pow-resets a:visited,
.pow-resets a:hover,
.pow-resets a:active,
.pow-resets a:focus {
  outline: 0 none;
  text-decoration: none;
}
.pow-resets fieldset {
  padding: 1em;
  border: 1px solid #dddddd;
}
.pow-resets legend {
  padding: 0 .8em;
  font-weight: bold;
  font-size: 1.2em;
}
.pow-resets textarea,
.pow-resets input[type=text],
.pow-resets input[type=password],
.pow-resets input[type=email],
.pow-resets select {
  outline: none;
  border: none;
  font-size: inherit;
}
.pow-resets input,
.pow-resets select {
  cursor: pointer;
}
.pow-resets input[type=text],
.pow-resets input[type=password],
.pow-resets input[type=email] {
  cursor: text;
}
.pow-resets textarea {
  overflow: auto;
}
.pow-resets textarea,
.pow-resets input {
  padding: 8px;
  outline: none;
}
.pow-resets select {
  padding: 2px;
}
.pow-resets option {
  padding: 0 4px;
}
.clearboth {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  width: 0;
  height: 0;
}
.clearboth:after {
  display: block;
  visibility: hidden;
  clear: both;
  width: 0;
  height: 0;
  content: ' ';
  font-size: 0;
  line-height: 0;
}
* html .clearboth {
  height: 1%;
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}
/* 
**
**
** Specific Options Layouts
-------------------------------------------------------------*/
.js .tmce-active .wp-editor-area {
  color: #282828;
}
#pow-metaboxes-aside .pow-visual-selector a {
  opacity: 0.5;
  margin: 0;
  padding: 0;
}
#pow-metaboxes-aside .pow-visual-selector img {
  max-width: 180px;
  height: auto;
  margin: auto;
  marbin-bottom: 15px;
}
#pow-metaboxes-aside .pow-visual-selector .current {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  position: relative;
  border-weight: 2px #0d66b8 solid;
}
#pow-metaboxes-aside .pow-visual-selector .current::after {
  opacity: 1;
  font-size: 26px;
  width: 48px;
  border-radius: 48px;
  line-height: 48px;
  height: 48px;
  display: block;
  content: '\e26a';
  font-family: 'Icomoon';
  color: #fff;
  text-align: center;
  background-color: #95b833;
  position: absolute;
  right: -24px;
  top: -24px;
}
/* Textboxes */
.pow-single-option input[type="text"],
.pow-single-option textarea {
  background: #fff;
  color: #343434;
  padding: 15px 20px;
  border-radius: 0;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
}
.pow-single-option input[type="text"].pow_black_white,
.pow-single-option textarea.pow_black_white {
  background-color: #272822;
  color: #fff;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 13px;
}
.pow-single-option textarea {
  margin-bottom: 10px;
  width: 100%;
}
.wp-editor-container textarea {
  border: none !important;
}
@media handheld, only screen and (max-width: 1300px) {
  .pow-textbox,
  .chzn-container {
    width: 100% !important;
  }
}
/* Upload Option */
.upload-option {
  position: relative;
}
.upload-option .option-upload-button {
  display: inline-block;
  padding: 16px 30px;
  background: #14a5ed;
  color: #fff;
  line-height: 12px;
  text-decoration: none;
}
.upload-option .option-upload-button:hover {
  background-color: #1191d1;
}
.upload-option .show-upload-image {
  display: block;
  margin-top: 10px;
  width: 100%;
}
.upload-option .show-upload-image img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
#pow_options_phpinfo table {
  width: 100%;
}
#pow_options_phpinfo table tr {
  border-top: 1px #aaa solid;
}
#pow_options_phpinfo table tr td,
#pow_options_phpinfo table tr th {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px #aaa solid;
}
#pow_options_phpinfo table tr td.e,
#pow_options_phpinfo table tr th.e {
  width: 30%;
}
#pow_options_phpinfo table tr td.v,
#pow_options_phpinfo table tr th.v {
  max-width: 70%;
}
#pow_options_phpinfo table tr td:last-child,
#pow_options_phpinfo table tr th:last-child {
  border-right: 1px #aaa solid;
}
#pow_options_phpinfo table tr:last-child {
  border-bottom: 1px #aaa solid;
}
/* Toggle Button */
.pow-toggle-button {
  display: block;
  background-color: #e8e8e8;
  border-radius: 4px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  background-image: url(../../images/switch-bg.png);
  background-repeat: no-repeat;
  background-size: 50px 26px;
  -webkit-background-size: 50px 26px;
  -moz-background-size: 50px 26px;
  -ms-background-size: 50px 26px;
  width: 50px;
  height: 26px;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pow-toggle-button .toggle-handle {
  width: 26px;
  height: 26px;
  background-color: #eee;
  position: relative;
  display: block;
  left: 0px;
  font-size: 7px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  top: 0px;
}
.pow-toggle-button.on {
  background-color: #bbbbbb;
}
.pow-toggle-button.on .toggle-handle {
  left: 24px;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: inset 2px 0 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 2px 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 2px 0 2px 0 rgba(0, 0, 0, 0.3);
  background-color: #688f2b;
}
.pow-toggle-button.off .toggle-handle {
  border-radius: 4px 0 0 4px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: inset -2px 0 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset -2px 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset -2px 0 2px 0 rgba(0, 0, 0, 0.3);
  background-color: #cc420f;
}
.pow-toggle-button,
.toggle-handle {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
/* Theme Settings Built-in Selectbox */
.pow-fancy-selectbox {
  position: relative;
  margin-bottom: 15px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.pow-fancy-selectbox.selectbox-focused > .pow-selector-heading .pow-selector-arrow {
  position: relative;
  z-index: 50;
  background-color: #dddddd;
}
.pow-fancy-selectbox .pow-selector-heading {
  height: 40px;
  font-weight: bold;
  line-height: 40px;
  cursor: pointer;
  background: #dddddd;
}
.pow-fancy-selectbox .pow-selector-heading .selected_item {
  white-space: nowrap;
  overflow-x: hidden;
  display: inline-block;
  margin-left: 12px;
  height: 40px;
  color: #555555;
  line-height: 40px;
}
.pow-fancy-selectbox .pow-selector-heading .selected_color {
  display: inline-block;
  width: 32px;
  height: 23px;
  margin: 5px 10px 0 5px;
}
.pow-fancy-selectbox .pow-selector-heading .pow-selector-arrow {
  display: block;
  float: right;
  width: 40px;
  height: 40px;
  background: url(../../images/selectbox-arrow.png) center center no-repeat;
}
.pow-fancy-selectbox .pow-select-options {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 40;
  display: none;
  background: #dddddd;
  border-top: 1px solid #aaaaaa;
}
.pow-fancy-selectbox .pow-select-options .pow-select-option {
  display: block;
  padding: 6px 7px 6px 17px;
  color: #555555;
  font-size: 12px;
  cursor: pointer;
  margin: 3px;
}
.pow-fancy-selectbox .pow-select-options .pow-select-option b {
  display: inline-block;
  font-weight: normal;
  line-height: 25px;
  vertical-align: top;
}
.pow-fancy-selectbox .pow-select-options .pow-select-option .pow-option-color {
  display: inline-block;
  width: 60px;
  height: 20px;
  margin-right: 10px;
}
.pow-fancy-selectbox .pow-select-options .pow-select-option:hover {
  background-color: #aaaaaa;
}
.pow-fancy-selectbox.color-based .pow-select-option {
  padding: 5px 7px 0px 10px;
}
.pow-fancy-selectbox.color-based .selected_item {
  line-height: 30px;
  vertical-align: top;
  height: 30px;
  margin: 3px 0 0 0;
}
/* Range Input */
.pow-ui-input-slider {
  margin: 10px 0 20px 0;
}
.pow-ui-input-slider .ui-slider-horizontal {
  position: relative;
  float: left;
  clear: right;
  width: 70%;
  height: 5px;
  top: 0;
  background-color: #3598db;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 5px;
}
.pow-ui-input-slider .progress {
  display: none;
  height: 9px;
  background-color: #C5FF00;
  opacity: 0.6;
}
.pow-ui-input-slider .ui-slider-handle {
  position: absolute;
  top: -10px;
  z-index: 2;
  width: 19px;
  height: 19px;
  background-color: #fff !important;
  border: 3px solid #14a5ed !important;
  cursor: move;
  margin-left: -10px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}
.pow-ui-input-slider .range-input-selector {
  float: left;
  margin: -10px 0 5px 15px !important;
  padding: 8px !important;
  width: 10%;
  color: #555555;
  text-align: center;
}
.pow-ui-input-slider .range-input-selector:before {
  content: '';
  position: absolute;
  margin-left: -20px;
  border: 20px transparent solid;
  border-left-color: #ffffff;
  height: 20px;
  width: 20px;
}
.pow-ui-input-slider .unit {
  display: inline-block;
  margin-left: 6px;
  color: #a5a5a5;
  font-style: italic;
  font-size: 11px;
  line-height: 12px;
}
.ui-slider-horizontal,
.ui-slider-handle {
  border-radius: 30px !important;
  background-clip: padding-box !important;
  -moz-background-clip: padding !important;
  -webkit-background-clip: padding-box !important;
}
/* Checkbox & Radio Button */
.pow-select-radio input[type="checkbox"] {
  display: none;
}
.pow-select-radio input[type="checkbox"] + label {
  margin-right: 30px;
  font-size: 12px;
}
.pow-select-radio input[type="checkbox"] + label span {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 25px;
  height: 25px;
  background: url(../../images/pow-checkbox-radio.png) left top no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
.pow-select-radio input[type="checkbox"]:checked + label span {
  background: url(../../images/pow-checkbox-radio.png) right top no-repeat;
}
.pow-select-radio input[type="radio"] {
  display: none;
}
.pow-select-radio input[type="radio"] + label {
  margin-right: 30px;
  font-size: 12px;
}
.pow-select-radio input[type="radio"] + label span {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 25px;
  height: 25px;
  background: url(../../images/pow-checkbox-radio.png) left bottom no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
.pow-select-radio input[type="radio"]:checked + label span {
  background: url(../../images/pow-checkbox-radio.png) right bottom no-repeat;
}
/* Custom Sidebar */
.custom-sidebar-wrapper {
  margin-bottom: 40px;
}
.custom-sidebar-wrapper #add_sidebar {
  float: left;
}
.selected-sidebar {
  display: inline-block;
  border: 1px solid #e1e1e1;
  border-bottom: none;
}
.default-sidebar-item {
  display: none;
}
.sidebar-item {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 12px 10px;
  width: 300px;
  border-bottom: 1px solid #e1e1e1;
}
.sidebar-item:hover {
  background-color: #f3f3f3;
}
.sidebar-item .delete-sidebar {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 16px;
  color: #ed1c24;
}
/* Homepage Tabbed Box */
.homepage-tabbed-wrapper {
  margin-bottom: 40px;
}
.homepage-tabbed-wrapper .pow-fancy-selectbox {
  display: inline-block;
  margin-bottom: 0 !important;
}
.homepage-tabbed-wrapper .tabbed-option-row {
  display: table;
  margin-bottom: 15px;
}
.homepage-tabbed-wrapper .tabbed-option-row .tabbed-option-label {
  width: 220px;
  display: table-cell;
  vertical-align: middle;
}
.homepage-tabbed-wrapper .pow-button {
  margin-left: 0 !important;
}
.pow-current-tabs {
  display: inline-block;
  border: 1px solid #e1e1e1;
  border-bottom: none;
}
.default-tab-item {
  display: none;
}
.pow-tabbed-item {
  position: relative;
  display: none;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}
.pow-tabbed-item:hover {
  background-color: #f3f3f3;
}
.pow-tabbed-item .tab-title-text {
  padding: 12px 10px;
  display: inline-block;
  width: 40%;
  border-right: 1px solid #e1e1e1;
}
.pow-tabbed-item .tab-content-pane {
  display: inline-block;
  padding: 12px 10px;
}
.pow-tabbed-item .delete-tab-item {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 16px;
  color: #ed1c24;
}
/* Visual Selector */
.pow-visual-selector a {
  border: 4px transparent solid;
  position: relative;
  display: inline-block;
  line-height: 4px;
  border-radius: 6px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  border: 1px #d0d0d0 solid;
}
.pow-visual-selector a.current {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  opacity: 0.8;
  background-color: #91DA6E;
  border-color: #91DA6E;
}
.pow-visual-selector a:hover {
  opacity: 0.8;
}
/* Message Boxes */
.pow-message-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-box-shadow: 0 0 0 2500px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 0 2500px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0 2500px rgba(0, 0, 0, 0.8);
  display: none;
  padding: 100px;
  width: 400px;
  border: 1px solid #b7b7b7;
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
}
.pow-message-box .pow-message-text {
  display: block;
  font-size: 16px;
  padding-top: 15px;
}
/* Background Seclector */
.pow-general-bg-selector {
  position: relative;
  max-width: 100%;
  min-height: 960px;
  margin-bottom: 30px;
}
.pow-general-bg-selector .outer-wrapper {
  -webkit-box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.5);
  border: 1px rgba(0, 0, 0, 0.8) solid;
  padding: 0;
  position: relative;
}
.pow-general-bg-selector.full_width_layout .hover-state-body,
.pow-general-bg-selector.full_width_layout .body-section .pow-transparent-bg-indicator,
.pow-general-bg-selector.full_width_layout .body-section .pow-bg-preview-layer {
  display: none;
}
.pow-general-bg-selector.boxed_layout .body-section .pow-transparent-bg-indicator,
.pow-general-bg-selector.boxed_layout .body-section .pow-bg-preview-layer {
  display: block !important;
}
.pow-general-bg-selector.boxed_layout .body-section {
  left: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  z-index: 50;
  width: 100%;
}
.pow-general-bg-selector.boxed_layout .body-section .hover-state-body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ecf0f1;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  z-index: 10;
}
.pow-general-bg-selector.boxed_layout .body-section .hover-state-body .section-indicator {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #313d53;
  font-weight: bold;
  display: inline-block;
  z-index: 60;
}
.pow-general-bg-selector.boxed_layout .body-section .hover-state-body:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
}
.pow-general-bg-selector .header-section {
  height: 120px;
  border-bottom: 1px #2d3339 solid;
}
.pow-general-bg-selector .header-section::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  content: 'Header';
  display: block;
  position: absolute;
  color: #ddd;
  z-index: 999;
  padding: 10px;
  background-color: #2d3339;
}
.pow-general-bg-selector .banner-section {
  height: 150px;
  border-bottom: 1px #2d3339 solid;
}
.pow-general-bg-selector .banner-section::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  content: 'Banner';
  display: block;
  position: absolute;
  color: #ddd;
  z-index: 999;
  padding: 10px;
  background-color: #2d3339;
}
.pow-general-bg-selector .page-section {
  height: 340px;
  border-bottom: 1px #2d3339 solid;
}
.pow-general-bg-selector .page-section::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  content: 'Page';
  display: block;
  position: absolute;
  color: #ddd;
  z-index: 999;
  padding: 10px;
  background-color: #2d3339;
}
.pow-general-bg-selector .footer-section {
  height: 150px;
}
.pow-general-bg-selector .footer-section::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  content: 'Footer';
  display: block;
  position: absolute;
  color: #ddd;
  z-index: 999;
  padding: 10px;
  background-color: #2d3339;
}
.pow-general-bg-selector.boxed_layout .main-sections-wrapper {
  margin: 0 130px;
  background-color: #aaa;
  padding: 0 3px;
  position: relative;
  z-index: 55;
}
.pow-general-bg-selector .header-section,
.pow-general-bg-selector .page-section,
.pow-general-bg-selector .footer-section,
.pow-general-bg-selector .banner-section {
  cursor: pointer;
  position: relative;
}
.pow-general-bg-selector .header-section .hover-state,
.pow-general-bg-selector .page-section .hover-state,
.pow-general-bg-selector .footer-section .hover-state,
.pow-general-bg-selector .banner-section .hover-state {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #cbeeff;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
}
.pow-general-bg-selector .header-section .hover-state .section-indicator,
.pow-general-bg-selector .page-section .hover-state .section-indicator,
.pow-general-bg-selector .footer-section .hover-state .section-indicator,
.pow-general-bg-selector .banner-section .hover-state .section-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -45px;
  color: #313d53;
  padding: 4px 20px;
  font-weight: bold;
  display: inline-block;
  z-index: 60;
}
.pow-general-bg-selector .header-section .hover-state:hover,
.pow-general-bg-selector .page-section .hover-state:hover,
.pow-general-bg-selector .footer-section .hover-state:hover,
.pow-general-bg-selector .banner-section .hover-state:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
}
.pow-transparent-bg-indicator,
.pow-bg-preview-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pow-bg-preview-layer {
  z-index: 2;
}
.pow-transparent-bg-indicator {
  background-image: url(../../images/transparent-bg.png);
  z-index: 1;
}
.pow-bg-edit-panel {
  z-index: 999;
  min-height: 960px;
  display: none;
  position: absolute;
  left: -1px;
  top: -1px;
  width: 100%;
  height: auto;
  border: 1px dashed #ddd;
  background: #ebebeb;
}
.pow-bg-panel-heading {
  border-bottom: 1px solid #ccc;
}
.pow-bg-panel-heading .pow-bg-edit-panel-heading-cancel {
  display: block;
  float: right;
  margin: 13px 13px 0 0;
  font-size: 24px;
  color: #14a5ed;
}
.pow-bg-panel-heading .pow-bg-edit-panel-heading-text {
  color: #313d53;
  line-height: 50px;
  font-size: 18px;
  margin: 10px 0 0 20px;
  text-transform: capitalize;
  font-weight: bold;
}
.pow-bg-edit-left {
  width: 100%;
  float: none;
}
.pow-bg-edit-right {
  width: 100%;
  min-height: 750px;
  float: none;
  position: relative;
}
.pow-bg-edit-right .pow-bg-edit-option.pow-bg-edit-option-stretch-2 .pow-toggle-button {
  float: right;
}
.pow-bg-edit-bg-color {
  border-bottom: 1px dashed #ccc;
}
.pow-bg-edit-option {
  display: block;
  padding: 20px;
}
.bg-edit-panel-color {
  float: right;
}
.pow-bg-edit-label {
  display: inline-block;
  float: left;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 5px;
}
.bg-image-buttons {
  float: right;
  display: inline-block;
  padding: 10px 20px !important;
}
.bg-repeat-option,
.bg-attachment-option,
.bg-position-option {
  float: right;
  line-height: 4px;
  overflow: hidden;
}
.bg-repeat-option a,
.bg-attachment-option a,
.bg-position-option a {
  width: 31px;
  height: 31px;
  display: inline-block;
  margin: 2px;
  padding: 0;
  opacity: 0.5;
  background-image: url(../../images/bg-options.png);
  background-repeat: no-repeat;
  background-size: 159px 211px;
  -moz-background-size: 159px 211px;
  -webkit-background-size: 159px 211px;
  -o-background-size: 159px 211px;
  -ms-background-size: 159px 211px;
}
.bg-repeat-option a:hover,
.bg-attachment-option a:hover,
.bg-position-option a:hover {
  opacity: 1;
}
.bg-repeat-option a.selected,
.bg-attachment-option a.selected,
.bg-position-option a.selected {
  opacity: 1;
}
.bg-repeat-option a.repeat,
.bg-attachment-option a.repeat,
.bg-position-option a.repeat {
  background-position: -41px -3px;
}
.bg-repeat-option a.no-repeat,
.bg-attachment-option a.no-repeat,
.bg-position-option a.no-repeat {
  background-position: 0px -3px;
}
.bg-repeat-option a.repeat-y,
.bg-attachment-option a.repeat-y,
.bg-position-option a.repeat-y {
  background-position: -125px -3px;
}
.bg-repeat-option a.repeat-x,
.bg-attachment-option a.repeat-x,
.bg-position-option a.repeat-x {
  background-position: -84px -3px;
}
.bg-repeat-option a.fixed,
.bg-attachment-option a.fixed,
.bg-position-option a.fixed {
  background-position: -37px -46px;
}
.bg-repeat-option a.scroll,
.bg-attachment-option a.scroll,
.bg-position-option a.scroll {
  background-position: -78px -47px;
}
.bg-repeat-option a.left-top,
.bg-attachment-option a.left-top,
.bg-position-option a.left-top {
  background-position: -22px -93px;
}
.bg-repeat-option a.center-top,
.bg-attachment-option a.center-top,
.bg-position-option a.center-top {
  background-position: -64px -92px;
}
.bg-repeat-option a.right-top,
.bg-attachment-option a.right-top,
.bg-position-option a.right-top {
  background-position: -106px -92px;
}
.bg-repeat-option a.left-center,
.bg-attachment-option a.left-center,
.bg-position-option a.left-center {
  background-position: -22px -134px;
}
.bg-repeat-option a.center-center,
.bg-attachment-option a.center-center,
.bg-position-option a.center-center {
  background-position: -64px -134px;
}
.bg-repeat-option a.right-center,
.bg-attachment-option a.right-center,
.bg-position-option a.right-center {
  background-position: -106px -134px;
}
.bg-repeat-option a.left-bottom,
.bg-attachment-option a.left-bottom,
.bg-position-option a.left-bottom {
  background-position: -22px -177px;
}
.bg-repeat-option a.center-bottom,
.bg-attachment-option a.center-bottom,
.bg-position-option a.center-bottom {
  background-position: -64px -177px;
}
.bg-repeat-option a.right-bottom,
.bg-attachment-option a.right-bottom,
.bg-position-option a.right-bottom {
  background-position: -106px -177px;
}
.pow-bg-edit-option-repeat {
  padding-bottom: 25px !important;
}
.pow-bg-edit-option-repeat,
.pow-bg-edit-option-attachment {
  border-bottom: 1px solid #ccc;
}
.pow-bg-edit-option-stretch {
  border-top: 1px solid #ccc;
}
.pow-bg-edit-buttons {
  display: block;
  text-align: right;
  padding: 30px;
}
.bg-image-preset-wrapper {
  margin: 0px;
}
.bg-background-type-panes {
  height: auto;
  max-height: 120px;
}
.bg-background-type-panes .bg-background-type-pane {
  display: none;
}
.bg-image-preset-thumbs {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 180px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#aaaaaa));
  background: -webkit-linear-gradient(top, #fafafa, #aaaaaa);
  background: -moz-linear-gradient(top, #fafafa, #aaaaaa);
  background: -ms-linear-gradient(top, #fafafa, #aaaaaa);
  background: -o-linear-gradient(top, #fafafa, #aaaaaa);
  background-color: #fafafa;
  border: 1px #fff solid;
}
.bg-image-preset-thumbs.patterns-list {
  overflow: hidden;
}
.bg-image-preset-thumbs li {
  display: inline-block;
  margin: 0;
  padding: 1px;
  width: 48px;
}
.bg-image-preset-thumbs li a {
  height: 48px;
  width: 48px;
  display: block;
}
.bg-image-preset-thumbs li a:hover {
  background-color: #688f2b;
  -webkit-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -ms-transform: scale(1.8);
  -o-transform: scale(1.8);
}
.bg-image-preset-thumbs li.selected {
  border-color: #009cff;
}
.pow-single-option .option-upload-button {
  position: absolute;
  right: 0px;
}
.pow-single-option .pow-upload-container {
  position: relative;
}
.pow-single-option .pow-upload-container .option-upload-button {
  position: absolute;
  top: 0;
  right: 0;
}
.wpb_edit_form_elements .vc_row-fluid input.pow-upload-url {
  float: left;
}
.bg-edit-panel-upload .pow-upload-bg-wrapper {
  position: relative;
}
.bg-edit-panel-upload .pow-upload-url {
  margin: 0 !important;
  width: 100% !important;
}
.bg-edit-panel-upload .bg-edit-panel-upload-title {
  margin: 30px 30px 10px 0px;
  display: block;
}
.bg-edit-panel-upload .option-upload-button {
  position: absolute;
  right: 0px;
  top: 0px;
}
.bg-edit-panel-upload .custom-image-preview-block {
  overflow: hidden;
  max-width: 400px !important;
  height: auto;
  max-height: 200px;
  margin: 0 auto !important;
  text-align: center;
}
.bg-background-type-tabs {
  text-align: left;
  margin: 0;
  padding: 0;
}
.bg-background-type-tabs li {
  float: left;
  padding: 0;
  margin: 0 10px 10px 0;
}
.bg-background-type-tabs li.current > a {
  background-color: #2c6085;
  box-shadow: 0 4px 0 0 #1c5075;
}
/* Specific Background Selector */
.pow-specific-bg-selector {
  border: 1px solid #cccccc;
  max-width: 100%;
  position: relative;
  margin-bottom: 20px;
  background: #ebebeb;
}
.pow-specific-bg-selector .bg-image-preset-wrapper {
  margin: 0 0 0 5px;
}
.pow-specific-bg-selector .custom-image-preview-block {
  max-width: 300px !important;
  margin: 20px auto !important;
}
.pow-specific-bg-selector .bg-background-type-panes {
  min-height: 120px;
}
.pow-specific-bg-selector .bg-background-type-panes .bg-background-type-pane {
  display: none;
}
.pow-specific-bg-selector .specific-edit-panel-upload .bg-edit-panel-upload-title {
  margin-bottom: 10px;
  display: block;
}
.pow-specific-bg-selector-left {
  width: 40%;
  margin-left: -1px;
  float: left;
}
.pow-specific-bg-selector-right {
  width: 60%;
  float: right;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pow-specific-edit-bg-color,
.pow-specific-edit-option-repeat,
.pow-specific-edit-option-attachment {
  border-bottom: 1px solid #ccc;
}
.pow-specific-bg-selector .pow-upload-url,
.pow-single-option .pow-upload-url {
  width: 75%;
}
.pow-specific-bg-selector .option-upload-button,
.pow-single-option .option-upload-button {
  margin-left: -71px;
}
.pow-font-icons-wrapper {
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px;
}
.pow-font-icons-wrapper a {
  margin: 3px 3px 0 0;
  text-decoration: none;
  display: inline-block;
  background-color: #fff;
  height: 24px;
  width: 24px;
  text-align: center;
  border: 1px solid #ccc;
  position: relative;
  z-index: 1;
  overflow: hidden;
  outline: none;
}
.pow-font-icons-wrapper a span {
  position: absolute;
  left: -40px;
  top: -5px;
  visibility: hidden;
}
.pow-font-icons-wrapper a.pow-no-icon {
  text-indent: -1000px;
  font-size: 16px;
  line-height: 24px;
  background-color: #e4e4e4;
}
.pow-font-icons-wrapper a .selector-tick {
  display: none;
}
.pow-font-icons-wrapper a.current {
  border-color: #0083cb;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  z-index: 2;
  position: relative;
}
.pow-font-icons-wrapper a.current i {
  color: #0083cb;
  position: relative;
}
.pow-font-icons-wrapper a.current i:before {
  position: relative;
}
.pow-font-icons-wrapper a:hover {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  z-index: 2;
}
.pow-font-icons-wrapper i {
  font-size: 16px;
  line-height: 24px;
  color: #585858;
  position: relative;
}
.pow-font-icons-wrapper i:before {
  position: relative;
}
.page-composer-icon-filter {
  background-color: #282828;
  background: #282828 !important;
  color: #f8f8f8 !important;
  margin-bottom: 15px;
  border-radius: 0;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
}
.pow-system-diagnose {
  margin-bottom: 20px;
}
.pow-system-diagnose ul li {
  display: block;
  padding: 6px 10px;
  background-color: rgba(0, 0, 0, 0.03);
  margin-bottom: 1px;
}
.pow-system-diagnose ul li strong {
  margin-right: 10px;
}
.pow-system-diagnose ul li .error {
  color: red;
}
.pow-group {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-perspective: 1500;
  border: 1px #ddd solid;
  border-bottom-width: 0;
  -webkit-box-shadow: 0 1px 0 0 #dddddd, 0 2px 0 0 #fafafa;
  -moz-box-shadow: 0 1px 0 0 #dddddd, 0 2px 0 0 #fafafa;
  box-shadow: 0 1px 0 0 #dddddd, 0 2px 0 0 #fafafa;
  padding: 20px;
  margin-bottom: 20px;
}
.pow-group.inactive {
  height: 60px;
  overflow: hidden;
}
.pow-group.inactive .pow-group-title::before {
  content: '\f078';
}
.pow-group.inactive .pow-group-title::after {
  content: attr(data-label-inactive);
}
.pow-group.active {
  height: auto;
  overflow: visible;
}
.pow-group.active .pow-group-title::before {
  content: '\f077';
}
.pow-group.active .pow-group-title::after {
  content: attr(data-label-active);
}
.pow-group .pow-group-title {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: -10px;
  line-height: 18px;
  margin-bottom: 20px;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
  background-color: #F3F3F3;
  position: relative;
}
.pow-group .pow-group-title::before {
  cursor: pointer;
  opacity: 0.5;
  font-family: 'FontAwesome';
  margin-right: 10px;
}
.pow-group .pow-group-title::after {
  cursor: pointer;
  opacity: 0.5;
  float: right;
  margin-right: 10px;
}
/* Callouts */
.pow-callout {
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 1px solid #f5f5f5;
  background-color: #f8f8f8;
  -webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.08);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.08);
}
.pow-callout p {
  display: inline;
  margin-bottom: 0;
}
.pow-callout .callout-title {
  padding-right: 6px;
  color: #282828;
  font-weight: bold;
}
.pow-callout a i {
  padding-left: 6px;
  font-size: 14px;
}
/* 
**
**
** Theme Settings Header 
-------------------------------------------------------------*/
.main-left-section {
  width: 100px;
  float: left;
}
.themesettings-options-page.horizontal-navigation .pow-sub-navigator {
  margin-top: 0;
}
.themesettings-options-page.horizontal-navigation .pow-sub-panes {
  margin-left: 210px;
}
.themesettings-options-page.horizontal-navigation .pow-main-panes {
  clear: both;
}
.themesettings-options-page.horizontal-navigation .pow-theme-version {
  display: none;
}
.themesettings-options-page.horizontal-navigation .pow-sub-navigator {
  width: 200px;
}
.themesettings-options-page.horizontal-navigation .pow-sub-navigator li {
  position: relative;
}
.themesettings-options-page.horizontal-navigation .pow-sub-navigator li a::after {
  top: 10px;
}
.themesettings-options-page.horizontal-navigation .pow-footer-buttons {
  margin-left: 240px;
}
.themesettings-options-page.horizontal-navigation .pow-options-container {
  -webkit-box-shadow: inset 200px 0 0 #2d3339;
  -moz-box-shadow: inset 200px 0 0 #2d3339;
  box-shadow: inset 200px 0 0 #2d3339;
}
.themesettings-options-page.horizontal-navigation .main-left-section {
  width: 100%;
  background-color: #242c2f;
}
.themesettings-options-page.horizontal-navigation .main-left-section .themesettings-branding {
  display: block;
  width: 100px;
  float: left;
  clear: left;
}
.themesettings-options-page.horizontal-navigation .main-left-section ul.pow-main-navigator {
  width: 100%;
  display: block;
}
.themesettings-options-page.horizontal-navigation .main-left-section ul.pow-main-navigator li {
  display: block;
  width: 100px;
  float: left;
}
.pow-logo {
  display: block;
  margin: 15px 3px 5px 15px;
  width: 71px;
  height: 71px;
  background: url(../../images/pow-logo.png) no-repeat;
}
.pow-theme-version {
  color: #a4a4a4;
  font-size: 11px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
/* 
**
**
** Theme Settings Header
-------------------------------------------------------------*/
.themesettings-options-page {
  margin: 20px 20px 0 0;
  color: #555555;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}
.pow-options-container {
  position: relative;
  border: 1px #eaeaea solid;
  -webkit-box-shadow: inset 100px 0 0 #242c2f, inset 327px 0 0 #2d3339;
  -moz-box-shadow: inset 100px 0 0 #242c2f, inset 327px 0 0 #2d3339;
  box-shadow: inset 100px 0 0 #242c2f, inset 327px 0 0 #2d3339;
  background-color: #fafafa;
}
.pow-main-navigator li i,
.pow-sub-navigator li i {
  text-align: center;
}
.pow-main-navigator li.ui-state-active,
.pow-sub-navigator li.ui-state-active,
.pow-main-navigator li.ui-widget-content .pow-main-navigator li.ui-state-active,
.pow-main-navigator li.ui-widget-content .pow-sub-navigator li.ui-state-active,
.pow-sub-navigator li.ui-widget-content .pow-main-navigator li.ui-state-active,
.pow-sub-navigator li.ui-widget-content .pow-sub-navigator li.ui-state-active,
.pow-main-navigator li.ui-widget-header .pow-main-navigator li.ui-state-active,
.pow-main-navigator li.ui-widget-header .pow-sub-navigator li.ui-state-active,
.pow-sub-navigator li.ui-widget-header .pow-main-navigator li.ui-state-active,
.pow-sub-navigator li.ui-widget-header .pow-sub-navigator li.ui-state-active,
.pow-main-navigator li.ui-state-hover,
.pow-sub-navigator li.ui-state-hover {
  border: none !important;
  background: none !important;
  font-weight: inherit !important;
  color: inherit !important;
}
/* 
**
**
** Main Navigator
-------------------------------------------------------------*/
.pow-main-navigator {
  width: 100px;
  position: relative;
}
.pow-main-navigator li {
  margin: 0;
  text-align: center;
}
.pow-main-navigator li a {
  display: block;
  color: #666666;
  text-align: center;
  font-size: 11px;
  line-height: 12px;
  padding: 15px 0;
}
.pow-main-navigator li a:hover {
  color: #fff;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 3%, #242c2f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(3%, rgba(255, 255, 255, 0.03)), color-stop(100%, #242c2f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 3%, #242c2f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 3%, #242c2f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 3%, #242c2f 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 3%, #242c2f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#242c2f', GradientType=1);
  /* IE6-9 */
}
.pow-main-navigator li a:hover i {
  color: #17bce8;
}
.pow-main-navigator li a:hover i:after {
  background-color: #91DA6E;
}
.pow-main-navigator li a i {
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
}
.pow-main-navigator li a i:after {
  content: '';
  position: absolute;
  background-color: #000;
  height: 4px;
  width: 4px;
  right: 5px;
  border-radius: 5px;
}
.pow-main-navigator li.ui-tabs-active a {
  color: #fff;
  background-color: #2d3339;
}
.pow-main-navigator li.ui-tabs-active a i {
  color: #17bce8;
}
.pow-main-navigator li.ui-tabs-active a i:after {
  background-color: #91DA6E;
}
.pow-main-panes {
  min-height: 700px;
  display: block;
}
/* 
**
**
** Sub Navigator
-------------------------------------------------------------*/
.pow-sub-navigator {
  display: block;
  float: left;
  position: relative;
  margin: 130px 0 0 0;
  padding: 0;
  width: 227px;
}
.pow-sub-navigator li {
  display: block;
  margin: 0;
}
.pow-sub-navigator li:hover a:after {
  background-color: #14a5ed;
}
.pow-sub-navigator li.ui-state-active a:after {
  background-color: #91DA6E;
}
.pow-sub-navigator li a {
  display: block;
  padding: 16px;
  color: #bbbbbb !important;
  font-size: 13px;
  line-height: 14px;
}
.pow-sub-navigator li a:after {
  content: '';
  position: absolute;
  background-color: #000;
  height: 6px;
  width: 6px;
  margin-top: 5px;
  right: 20px;
  border-radius: 10px;
}
.pow-sub-navigator li.ui-state-active a {
  color: #91DA6E !important;
}
.pow-sub-navigator li.ui-state-active a:after {
  background-color: #91DA6E;
}
.pow-sub-panes {
  display: block;
  position: relative;
  margin: 0 15px 15px 325px;
}
/* 
**
**
** General Options Layouts
-------------------------------------------------------------*/
.pow-single-option {
  padding: 0 15px 10px 35px;
}
.pow-single-option.no-divider {
  margin-bottom: 20px;
}
.pow-single-option .pow-upload-url {
  width: 100%;
}
.pow-single-option .option-title-sub,
.pow-single-option .option-title-main {
  display: block;
  margin-bottom: 12px;
  color: #404040;
  font-weight: bold;
}
.pow-single-option .option-title-sub {
  font-size: 14px;
}
.pow-single-option .option-title-main {
  margin-bottom: 12px;
  font-size: 18px;
}
.pow-single-option .option-desc {
  display: block;
  margin-bottom: 20px;
  color: #777777;
  font-size: 11px;
}
.pow-single-option .option-more-help {
  display: block;
  text-align: right;
}
.pow-single-option .option-more-help a {
  display: inline-block;
  padding-left: 25px;
  height: 20px;
  background: url(../../images/more-help-icon.png) left center no-repeat;
  color: #777777;
  font-size: 11px;
  line-height: 20px;
}
.pow-single-option .option-more-help a:hover {
  color: #009cff;
}
.pow-heading-option {
  margin-left: 2px;
  margin-bottom: 50px;
  border-bottom: 1px solid #dedede;
}
.pow-heading-option .pow-page-heading {
  padding: 20px 20px 0;
  font-size: 26px;
  display: block;
}
.pow-heading-option .option-desc {
  display: block;
  padding: 10px 20px;
  font-size: 13px;
}
.option-divider {
  margin: 0 0 25px 3px;
  height: 1px;
  padding-bottom: 5px;
}
.pow-footer-buttons {
  display: block;
  margin: 60px 30px 60px 130px;
  text-align: right;
  height: 70px;
}
.pow-footer-buttons .reset_section {
  text-align: left;
  width: 180px;
  margin-bottom: 20px;
  color: #aaa;
}
.pow-button span {
  display: inline-block;
  padding: 2px 0;
}
.pow-button.pow-secondary {
  padding: 13px 35px;
}
.pow-button.pow-ancilary {
  padding: 5px 20px;
}
.pow-button.dominant-color {
  border: none;
  background-color: #2d3339;
  color: #fff;
}
.pow-button.dominant-color:hover {
  background-color: #595959   ;
}
.pow-button.main-button {
  background-color: #6E9BB1;
}
.pow-button.main-button:hover {
  background-color: #1394d4;
}
.pow-button#pow_reset_confirm {
  border: 2px solid #666666;
  background-color: #2d3339;
  color: #aaaaaa;
  margin-bottom: 40px;
}
.pow-button#pow_reset_confirm:hover {
  background-color: #272727;
}
#shortcode_insert_buttons {
  text-align: right;
}
#shortcode_insert_buttons a {
  margin: 0 30px 20px 0;
}
.shortcode_wrap table {
  width: 99%;
}
.shortcode_wrap .theme_options_container th {
  width: 280px;
  text-align: right;
}
.homepage-shortcode td,
.homepage-shortcode th {
  border-bottom: none;
}
#pow_reset_confirm {
  float: left;
  margin-left: 0px;
}
@font-face {
  font-family: 'themesettings-icons';
  src: url('../themesettings-icons/themesettings-icons.eot');
  src: url('../themesettings-icons/themesettings-icons.eot?#iefix') format('embedded-opentype'), url('../themesettings-icons/themesettings-icons.woff') format('woff'), url('../themesettings-icons/themesettings-icons.ttf') format('truetype'), url('../themesettings-icons/themesettings-icons.svg#themesettings-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-globe,
.icon-checkmark3,
.icon-close2,
.icon-menu10,
.icon-lock2,
.icon-arrow-up-right2,
.icon-arrow-up4,
.icon-arrow-up-left2,
.icon-arrow-right5,
.icon-arrow-left4,
.icon-arrow-down4,
.icon-arrow-down-right2,
.icon-arrow-down-left2,
.icon-menu10-2,
.icon-support,
.icon-lab,
.icon-blog,
.icon-briefcase3,
.icon-type,
.icon-globe-2,
.icon-droplet3 {
  font-family: 'themesettings-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-globe:before {
  content: "\25a0";
}
.icon-checkmark3:before {
  content: "\25a2";
}
.icon-close2:before {
  content: "\25a3";
}
.icon-menu10:before {
  content: "\25a4";
}
.icon-lock2:before {
  content: "\25a8";
}
.icon-arrow-up-right2:before {
  content: "\25ad";
}
.icon-arrow-up4:before {
  content: "\25ac";
}
.icon-arrow-up-left2:before {
  content: "\25b0";
}
.icon-arrow-right5:before {
  content: "\25c6";
}
.icon-arrow-left4:before {
  content: "\25db";
}
.icon-arrow-down4:before {
  content: "\25e0";
}
.icon-arrow-down-right2:before {
  content: "\25de";
}
.icon-arrow-down-left2:before {
  content: "\25e3";
}
.icon-menu10-2:before {
  content: "\25e5";
}
.icon-support:before {
  content: "\25e8";
}
.icon-lab:before {
  content: "\25e7";
}
.icon-blog:before {
  content: "\25eb";
}
.icon-briefcase3:before {
  content: "\25ef";
}
.icon-type:before {
  content: "\25f1";
}
.icon-globe-2:before {
  content: "\25f2";
}
.icon-droplet3:before {
  content: "\25f4";
}
.pow-button,
.button,
#save_theme_options,
#pow_reset_confirm,
.option-upload-button {
  color: #fff;
  display: inline-block;
  text-align: center;
  font-weight: bold !important;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);
  border-width: 1px 1px 3px !important;
  border-style: solid;
  border-color: #3ac162;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  background-color: #3f8abf;
  -webkit-box-shadow: 0 4px 0 0 #2c6085;
  -moz-box-shadow: 0 4px 0 0 #2c6085;
  box-shadow: 0 4px 0 0 #2c6085;
  border: none;
  font-size: 14px;
  padding: 16px 30px;
  z-index: 1;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.pow-button:hover,
.button:hover,
#save_theme_options:hover,
#pow_reset_confirm:hover,
.option-upload-button:hover {
  background: #2c6085;
  box-shadow: 0 4px 0 0 #1c5075;
  color: #fff;
}
.pow-button.red,
.button.red,
#save_theme_options.red,
#pow_reset_confirm.red,
.option-upload-button.red {
  background-color: #de0000;
  -webkit-box-shadow: 0 4px 0 0 #a20000;
  -moz-box-shadow: 0 4px 0 0 #a20000;
  box-shadow: 0 4px 0 0 #a20000;
}
.pow-button.red:hover,
.button.red:hover,
#save_theme_options.red:hover,
#pow_reset_confirm.red:hover,
.option-upload-button.red:hover {
  -webkit-box-shadow: 0 4px 0 0 #c00000;
  -moz-box-shadow: 0 4px 0 0 #c00000;
  box-shadow: 0 4px 0 0 #c00000;
}
.pow-button.dark,
.button.dark,
#save_theme_options.dark,
#pow_reset_confirm.dark,
.option-upload-button.dark {
  border: none;
  background-color: #101010;
  -webkit-box-shadow: 0 4px 0 0 #282828;
  -moz-box-shadow: 0 4px 0 0 #282828;
  box-shadow: 0 4px 0 0 #282828;
}
.pow-button.dark:hover,
.button.dark:hover,
#save_theme_options.dark:hover,
#pow_reset_confirm.dark:hover,
.option-upload-button.dark:hover {
  -webkit-box-shadow: 0 4px 0 0 #1a1a1a;
  -moz-box-shadow: 0 4px 0 0 #1a1a1a;
  box-shadow: 0 4px 0 0 #1a1a1a;
}
.pow-button.green,
.button.green,
#save_theme_options.green,
#pow_reset_confirm.green,
.option-upload-button.green {
  background-color: #5fcf80;
  -webkit-box-shadow: 0 4px 0 0 #51a65f;
  -moz-box-shadow: 0 4px 0 0 #51a65f;
  box-shadow: 0 4px 0 0 #51a65f;
}
.pow-button.green:hover,
.button.green:hover,
#save_theme_options.green:hover,
#pow_reset_confirm.green:hover,
.option-upload-button.green:hover {
  background: #69d98a;
}
/* Homepage Tabbed Box */
.header-social-wrapper {
  margin-bottom: 40px;
}
.header-social-wrapper .pow-fancy-selectbox {
  display: inline-block;
  margin-bottom: 0 !important;
}
.header-social-wrapper .header-social-option-row {
  display: block;
  max-width: 100%;
  margin-bottom: 15px;
}
.header-social-wrapper .header-social-option-row input,
.header-social-wrapper .header-social-option-row select {
  width: 100%;
}
.header-social-wrapper .header-social-option-row .header-social-option-label {
  width: 100%;
  display: block;
}
.header-social-wrapper .pow-button {
  margin: 0;
}
.pow-current-social {
  display: inline-block;
  border-bottom: none;
}
.default-social-item {
  display: none;
}
.pow-social-item {
  position: relative;
  display: none;
  overflow: hidden;
  margin-bottom: 4px;
  width: 100%;
  border: 1px solid #e1e1e1;
}
.pow-social-item:hover {
  background-color: #f3f3f3;
}
.pow-social-item .social-item-icon {
  float: left;
  padding: 6px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #282828;
  border-right: 1px solid #202020;
}
.pow-social-item .social-item-icon i:before {
  color: #fafafa;
  font-size: 24px;
}
.pow-social-item .social-item-url {
  height: 24px;
  line-height: 28px;
  display: inline-block;
  padding: 3px 10px;
  float: left;
}
.pow-social-item .delete-social-item {
  position: absolute;
  top: 11px;
  right: 11px;
  font-size: 16px;
  color: #ed1c24;
}
.minicolors {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.minicolors-focus {
  z-index: 2;
}
.minicolors input {
  margin-right: 4px;
  margin-bottom: 2px;
  color: #3F3F3F;
  background-color: #fff;
  font: 14px sans-serif;
  width: 120px;
  font-size: 12px;
  vertical-align: middle;
  border-radius: 0;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  outline: none;
  padding: 13px;
}
.composer-color-picker {
  border: 1px solid  #dfdfdf !important;
}
.minicolors-swatch-left INPUT {
  margin-left: -1px;
  margin-right: auto;
}
.minicolors-hidden {
  position: absolute;
  left: -9999em;
}
.minicolors-swatch {
  position: relative;
  z-index: 10;
  display: inline-block;
  width: 35px;
  height: 30px;
  margin-left: -45px;
  margin-top: -1px;
  cursor: pointer;
  vertical-align: middle;
  border: solid 1px #CCC;
}
.minicolors-swatch:hover,
.minicolors-swatch:focus {
  background-position: 0 bottom;
}
.rgba-value-console {
  display: inline-block;
  padding-left: 10px;
}
.minicolors-swatch SPAN {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 35px;
  height: 30px;
  background: none;
  display: inline-block;
}
/* Panel */
.minicolors-panel {
  position: absolute;
  z-index: 30;
  top: 45px;
  left: 0;
  width: 173px;
  height: 152px;
  background: white;
  display: none;
}
.minicolors-position-top .minicolors-panel {
  top: -156px;
}
.minicolors-position-left .minicolors-panel {
  left: -83px;
}
.minicolors-position-left.minicolors-with-opacity .minicolors-panel {
  left: -104px;
}
.minicolors-with-opacity .minicolors-panel {
  width: 194px;
}
.minicolors .minicolors-grid {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 150px;
  height: 150px;
  background: url(../../images/jquery.minicolors.png) -120px 0;
  cursor: crosshair;
  z-index: 999;
}
.minicolors .minicolors-grid-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: none;
}
.minicolors-slider-saturation .minicolors-grid {
  background-position: -420px 0;
}
.minicolors-slider-saturation .minicolors-grid-inner {
  background: url(jquery.minicolors.png) -270px 0;
}
.minicolors-slider-brightness .minicolors-grid {
  background-position: -570px 0;
}
.minicolors-slider-brightness .minicolors-grid-inner {
  background: black;
}
.minicolors-slider-wheel .minicolors-grid {
  background-position: -720px 0;
}
.minicolors-slider,
.minicolors-opacity-slider {
  position: absolute;
  top: 1px;
  left: 152px;
  width: 20px;
  height: 150px;
  background: #ffffff url(../../images/jquery.minicolors.png) 0 0;
  cursor: crosshair;
}
.minicolors-slider-saturation .minicolors-slider {
  background-position: -60px 0;
}
.minicolors-slider-brightness .minicolors-slider {
  background-position: -20px 0;
}
.minicolors-slider-wheel .minicolors-slider {
  background-position: -20px 0;
}
.minicolors-opacity-slider {
  left: 173px;
  background-position: -40px 0;
  display: none;
}
.minicolors-with-opacity .minicolors-opacity-slider {
  display: block;
}
/* Pickers */
.minicolors-grid .minicolors-picker {
  position: absolute;
  top: 70px;
  left: 70px;
  width: 10px;
  height: 10px;
  border: solid 1px black;
  border-radius: 10px;
  margin-top: -6px;
  margin-left: -6px;
  background: none;
}
.minicolors-grid .minicolors-picker SPAN {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  border: solid 2px white;
}
.minicolors-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 2px;
  background: white;
  border: solid 1px black;
  margin-top: -2px;
}
/* Inline controls */
.minicolors-inline INPUT,
.minicolors-inline .minicolors-swatch {
  display: none;
}
.minicolors-inline .minicolors-panel {
  position: relative;
  top: auto;
  left: auto;
  display: inline-block;
}
/* Chosen Selectbox + Multiselect options */
/* @group Base */
.chzn-container {
  position: relative;
  display: inline-block;
  font-size: 13px;
  zoom: 1;
  *display: inline;
}
.chzn-container .chzn-drop {
  position: absolute;
  top: 29px;
  left: 0;
  z-index: 1010;
  border-top: 0;
  background-color: #f0f0f0;
}
/* @end */
/* @group Single Chosen */
.chzn-container-single .chzn-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 32px;
  background-color: #f0f0f0;
  color: #444444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 32px;
}
.chzn-container-single .chzn-default {
  color: #999;
}
.chzn-container-single .chzn-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 13px;
  background: url('../../images/chosen-sprite.png') right top no-repeat;
  font-size: 1px;
}
.chzn-container-single .chzn-single abbr:hover {
  background-position: right -11px;
}
.chzn-container-single.chzn-disabled .chzn-single abbr:hover {
  background-position: right top;
}
.chzn-container-single .chzn-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 32px;
  height: 100%;
  border-left: 1px solid #cccccc;
}
.chzn-container-single .chzn-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../../images/chosen-sprite.png') no-repeat 0px 4px;
}
.chzn-container-single .chzn-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chzn-container-single .chzn-search input {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #aaa;
  background: #ffffff url('../../images/chosen-sprite.png') no-repeat 100% -22px;
  font-size: 1em;
  font-family: sans-serif;
}
/* @end */
.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: -9000px;
}
/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: auto !important;
  height: 1%;
  background: #fff;
  cursor: text;
}
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chzn-container-multi .chzn-choices .search-field input {
  margin: 1px 0;
  padding: 8px;
  height: 32px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #666;
  font-size: 100%;
  font-family: sans-serif;
}
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999;
}
.chzn-container-multi .chzn-choices .search-choice {
  position: relative;
  margin: 4px 0 4px 4px;
  padding: 8px 20px 6px 5px;
  background-color: #e4e4e4;
  color: #333;
  font-size: 12px;
  line-height: 12px;
  cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled {
  padding-right: 5px;
  background-color: #e4e4e4;
  color: #666;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 5px;
  display: block;
  width: 12px;
  height: 13px;
  background: url('../../images/chosen-sprite.png') right 3px no-repeat;
  font-size: 1px;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: -2px -45px;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}
/* @end */
/* @group Results */
.chzn-container .chzn-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
.chzn-container .chzn-results li {
  display: none;
  margin: 0;
  padding: 7px 6px;
  list-style: none;
  line-height: 16px;
}
.chzn-container .chzn-results .active-result {
  display: list-item;
  cursor: pointer;
}
.chzn-container .chzn-results .highlighted {
  background-color: #14a5ed;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0);
}
.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}
.chzn-container .chzn-results .no-results {
  display: list-item;
  background: #f4f4f4;
}
.chzn-container .chzn-results .group-result {
  color: #999;
  font-weight: bold;
  cursor: default;
}
.chzn-container .chzn-results .group-option {
  padding-left: 15px;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}
.chzn-container .chzn-results-scroll {
  position: absolute;
  z-index: 1;
  margin: 0 4px;
  width: 321px;
  /* This should by dynamic with js */
  background: white;
  text-align: center;
}
.chzn-container .chzn-results-scroll span {
  display: inline-block;
  width: 9px;
  height: 17px;
  text-indent: -5000px;
}
.chzn-container .chzn-results-scroll-down {
  bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {
  background: url('../../images/chosen-sprite.png') no-repeat -4px -3px;
}
.chzn-container .chzn-results-scroll-up span {
  background: url('../../images/chosen-sprite.png') no-repeat -22px -3px;
}
/* @end */
/* @group Active  */
.chzn-container-active .chzn-single-with-drop div {
  border-left: none;
  background: transparent;
}
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important;
}
/* @end */
/* @group Disabled Support */
.chzn-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chzn-disabled .chzn-single {
  cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}
/* 
**
**
** Metaboxes
-------------------------------------------------------------*/
#pow-metaboxes-tabs .inside {
  padding: 0 !important;
  margin: 0 !important;
}
.pow-metabox-wrapper {
  margin: 0 !important;
}
#pow-metaboxes-notab .inside,
#pow-metaboxes-slideshow .inside {
  padding: 10px;
}
#pow-metaboxes-tabs .hndle {
  border: none !important;
  color: #f5f5f5;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  background-clip: padding-box !important;
  -moz-background-clip: padding !important;
  -webkit-background-clip: padding-box !important;
}
#pow-metaboxes-slideshow {
  margin-bottom: 100px;
}
#pow-metaboxes-slideshow .slideshow-textures a {
  border: 1px solid #adadad;
}
#pow-metaboxes-tabs {
  -webkit-box-shadow: inset 100px 0 0 0 #2d3339 !important;
  -moz-box-shadow: inset 100px 0 0 0 #2d3339 !important;
  box-shadow: inset 100px 0 0 0 #2d3339 !important;
  border-radius: 0 !important;
  background-clip: padding-box !important;
  -moz-background-clip: padding !important;
  -webkit-background-clip: padding-box !important;
}
#pow-metaboxes-tabs h3.hndle {
  background-color: #2d3339;
}
#pow-metaboxes-tabs .pow-sub-panes {
  margin: 0 15px 0 110px;
}
#pow-metaboxes-tabs .pow-sub-pane {
  padding-top: 40px;
}
#pow-metaboxes-tabs .pow-sub-navigator {
  width: 100px;
  margin-bottom: 40px;
  margin-top: 0;
}
#pow-metaboxes-tabs .pow-sub-navigator li a {
  position: relative;
  display: block;
  text-align: center;
}
#pow-metaboxes-tabs .pow-sub-navigator li a::after {
  top: 0px;
}
#pow-metaboxes-tabs .pow-sub-navigator li a i {
  display: block;
  text-align: center;
  margin: auto;
  font-size: 26px;
  margin-bottom: 10px;
}
/* 
**
**
** Specific Visual Composer Styles
-------------------------------------------------------------*/
.wpb_vc_column:hover > .controls.controls_column::before,
.wpb_vc_column:hover > .controls.controls_column::after {
  content: '';
  height: 9px;
  position: absolute;
  width: 9px;
  z-index: 999;
  background-color: #2d3e50;
  border: 2px #2d3e50 solid;
  border-radius: 9px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  display: block;
}
.wpb_vc_column:hover > .controls.controls_column::before {
  left: -7px;
  top: -14px;
}
.wpb_vc_column:hover > .controls.controls_column::after {
  right: -7px;
  top: -14px;
}
.wpb_vc_column:hover > .controls.controls_column.bottom-controls::before {
  left: -7px;
  bottom: -32px;
}
.wpb_vc_column:hover > .controls.controls_column.bottom-controls::after {
  right: -7px;
  bottom: -32px;
}
.wpb_vc_column > .controls.controls_column.bottom-controls {
  display: block !important;
}
.wpb_pow_custom_caption > .wpb_element_wrapper > *,
.wpb_pow_masked_title > .wpb_element_wrapper > * {
  line-height: 100% !important;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
