@font-face {
  font-family: 'FalconUI';
  src: url('../falconui-icons/falconui.eot?39896726');
  src: url('../falconui-icons/falconui.eot?39896726#iefix') format('embedded-opentype'),
       url('../falconui-icons/falconui.woff?39896726') format('woff'),
       url('../falconui-icons/falconui.ttf?39896726') format('truetype'),
       url('../falconui-icons/falconui.svg?39896726#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
 
.icon-font:before { content: '\e808'; }
.icon-params:before { content: '\e807'; }
.icon-code:before { content: '\e80b'; }
.icon-adjust:before { content: '\e80c'; }
.icon-briefcase:before { content: '\e809'; }
.icon-rss:before { content: '\e80a'; }
.icon-columns:before { content: '\e805'; }
.icon-move:before { content: '\e804'; }
.icon-menu:before { content: '\e806'; }
.icon-th-thumb:before { content: '\e80d'; }
.icon-location:before { content: '\e801'; }
.icon-ok-circled:before { content: '\e80e'; }
.icon-article:before { content: '\e803'; }
