.clearboth {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  width: 0;
  height: 0;
}
.clearboth:after {
  display: block;
  visibility: hidden;
  clear: both;
  width: 0;
  height: 0;
  content: ' ';
  font-size: 0;
  line-height: 0;
}
* html .clearboth {
  height: 1%;
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}
/* @import 'font-awesome'; */
/* @import 'icomoon-fonts'; */
.pow-mega-menu-wrapper {
  padding: 5px 10px;
  margin: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.pow-mega-menu-wrapper i {
  font-size: 24px;
  line-height: 24px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 3px 4px;
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.pow-menus-main-title {
  margin: 0 0 5px !important;
  display: block;
  font-size: 20px !important;
}
.pow-menus-icon-manage {
  margin-bottom: 20px;
  display: block;
}
.pow-menus-icon-manage a {
  margin-right: 10px;
}
.pow-font-icons-wrapper {
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px;
}
.pow-font-icons-wrapper a {
  margin: 3px 3px 0 0;
  text-decoration: none;
  display: inline-block;
  background-color: #fff;
  height: 24px;
  width: 24px;
  text-align: center;
  border: 1px solid #ccc;
  position: relative;
  z-index: 1;
  outline: none;
}
.pow-font-icons-wrapper a.pow-no-icon {
  text-indent: -1000px;
  font-size: 16px;
  line-height: 24px;
  background-color: #e4e4e4;
}
.pow-font-icons-wrapper a .selector-tick {
  display: none;
}
.pow-font-icons-wrapper a.current {
  border-color: #9fcd3e;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
  z-index: 2;
  position: relative;
}
.pow-font-icons-wrapper a.current i {
  color: #0083cb;
  position: relative;
}
.pow-font-icons-wrapper a.current i:before {
  position: relative;
}
.pow-font-icons-wrapper a:hover {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  z-index: 2;
}
.pow-font-icons-wrapper i {
  font-size: 16px;
  line-height: 24px;
  color: #585858;
  position: relative;
}
.pow-font-icons-wrapper i:before {
  position: relative;
}
.pow-visual-selector a {
  position: relative;
  display: inline-block;
  line-height: 4px;
}
