.not-found-wrapper {
	text-align: center;
	padding: 30px 0 100px 0;
}

.not-found-title {
	font-size: 28px;
	display: block;
	margin-bottom: 20px;
	font-weight: bold;
	color: #333333;
	text-shadow:2px 2px 3px rgba(0,0,0,0.2);
}

.not-found-subtitle {
	font-size: 20em;
	font-size: 20rem;
	line-height: 100%;
	display: block;
	font-weight: 900;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.not-found-desc {
	color: #333333;
	font-size: 18px;

	text-transform: uppercase;
	display: block;
	margin-bottom: 30px;

}

.pow-notfound-search {
	position: relative;
	background-color: #f4f4f4;
	.border-radius(2px);
	border:1px solid #d2d2d2;
	padding: 25px;
	display: inline-block;
	width: 100%;

	span {
		position: relative;
	}

	.notfound-text-input {
		width: 100%;
		font-size: 22px;
		background-color: #fff;
		padding: 10px 10px;
		.border-radius(2px);
	}

	.pow-icon-remove-sign {
		position: absolute;
		left:7px;
		top:0px;
		font-size: 16px;
		color: #cccccc;
		cursor: pointer;
	}

	.notfound-search-btn {
		background:none;
		border:none;
		outline: none;
		position: absolute;
		left:0;
		top:0;

	}

	.pow-icon-search {
		position: absolute;
		right:8px;
		top:-1px;
		font-size: 16px;
		color: #cccccc;
	}
}
