.pow-blog-grid-item {
	position: relative;
	float: left;
	overflow: hidden;
	margin:0;
	.opacity(0);

	.blog-grid-holder {
		margin:0 12px 24px 12px;
		.box-shadow(inset 0 0 0 2px rgba(128,128,128,0.1));
		background-color: #fff;
	}

	&.one-column {
		width: 100%;
	}

	&.two-column {
		width: 50%;
	}

	&.three-column {
		width: 33.1%;
	}

	&.four-column {
		width: 25%;
		.blog-grid-holder {
			margin:0 8px 16px 8px;
		}	
	}


	@media handheld, only screen and (max-width: 960px) {
		&.three-column, &.four-column {
			width: 49.5% !important;
		} 

	}

	@media handheld, only screen and (max-width: 650px) {
		&.three-column, &.four-column, &.two-column, &.one-column {
			width: 100% !important;
			
			.blog-grid-holder {
				margin: 0 0 18px 0 !important;
			}
		} 

	}	
	

	.featured-image {
		position: relative;
		display: block;
		overflow: hidden;
		img {
			position: relative;
			width: 100%;
		}
		&:hover {
			.blog-grid-hover-icon {
				.opacity(100);
			}
		}
	}

	.pow-blog-meta {
		padding: 20px;
		line-height: 18px;
	}


	time {
		display: block;
		margin-bottom: 10px;
		a {
			color: #999999;
			font-style: italic;
			font-size: 11px;

		}
	}

	.the-title {
		margin-top: 5px;
		text-transform: uppercase !important;
		line-height: 18px !important;
		a {
			letter-spacing: 1px;
			font-size: 14px;
			line-height:18px;
			
		}
	}

	.the-excerpt {
		margin: 5px 0;
		line-height: 22px;
		color: #666666;
	}

	.blog-grid-hover-icon {
		font-size: 48px;
		width: 48px;
		height: 48px;
		color: #fff;
		position: absolute;
		left:50%;
		top:50%;
		margin: -24px 0 0 -24px;
		.opacity(0);
		z-index: 10;
	}
	
	
	
	

	.blog-grid-footer {
		position: relative;
		padding: 15px 20px;
		border-top: 1px rgba(128,128,128,0.1) solid;
	}

	.pow-love-holder {
		position: absolute;
		right:20px;
		top:15px;
		span {
			
		}
	}
}

