
.blog-modern-item {
	width: 100%;
	.opacity(0);
	margin-bottom: 50px;


	.pow-blog-meta {
		margin: 0 20px 20px 75px;
		display: block;
		padding: 0 !important;
	}

	.pow-audio-section, .featured-image {
		margin-bottom: 25px;
	}
	

	.blog-modern-btn {
		letter-spacing: 1px;
		text-transform: uppercase;
		display: inline-block;
		.border-radius(2px);
		padding: 12px 15px;
		font-size: 12px;
		line-height: 12px;
		color: #fff;

		&:hover {
			background-color: #313d53 !important;
		}
	}

.pow-audio-section {
	height: 170px;
	overflow: hidden;

	@media handheld, only screen and (max-width: 780px) { 
			.audio-has-img {
				margin: 0 !important;
			}
			.audio-thumb {
				display: none;
			}
		}

		.jp-audio {

			&.audio-has-img {
				margin-left: 0 ;
			}

			div.jp-interface {
				min-height: 160px !important;
			}

		}
}

	.blog-modern-comment, .blog-modern-share, .pow-love-holder {
		display: block;
		padding: 12px 0;
		color: #898989;
		text-align: center;
		line-height: 16px;


		i {
			font-size: 14px;
		}

	}

	.blog-share-container {
		display: block;
		float: none;
	}

	.blog-modern-comment{
		line-height: 16px;

		span {
			display: block;
		}
	}

	.blog-modern-share{
		cursor: pointer;
		
		padding: 20px 0;
	}

	.pow-love-holder {
		span {
			display:block;
		}
	}





	.blog-social-share {
		position: absolute; 
		left:50px;
		bottom:-10px;
		background-color: #313d53;
		margin: 0;
		list-style: none;
		width: 160px;
		text-align: center;
		padding:10px;
		text-transform: center;

		.box-shadow(4px 4px 0 0 rgba(20,20,20,.4));

		&:before {
			left: -5px;
			top: 50%;
			margin-top: -5px;
		}

		li {
			display: inline-block;
			margin: 16px 0;
		}
	}	

}

.blog-modern-social-section {
	float: left;
	width: 50px;
	.box-shadow(1px 0 0 0 rgba(128,128,128,.2));
	min-height: 150px;
	text-transform: center;
	> * {
		margin: 1px 0;
	}
}

