

.blog-classic-item {
	margin-bottom: 20px;
	border:1px solid #e3e3e3;
	background-color: #fff;
	overflow: hidden;
	position: relative;
	width: 100%;
	background-color: #fff;

	
	.pow-readmore {
		position: absolute;
		right:20px;
		bottom: 15px;
		line-height: 32px;
		text-transform: uppercase;
		letter-spacing: 1px;
		i {
			margin-left: 5px;
			font-size: 12px;
		}
		&:hover {
			color: #313d53 !important;	
		}
	}



	.blog-social-share {
		left:50px;
		bottom:-10px;
		min-width: 150px;

		&:before {
			left:-5px;
			top:50%;

		}

		li {
			float: left;
			display: inline-block;
		}

	}

.pow-audio-section {
	height: 170px;
	overflow: hidden;

	@media handheld, only screen and (max-width: 780px) { 
			.audio-has-img {
				margin: 0 !important;
			}
			.audio-thumb {
				display: none;
			}
		}

		.jp-audio {

			&.audio-has-img {
				margin-left: 0;
			}

			div.jp-interface {
				min-height: 160px !important;
			}

		}
}



}

	.featured-image:hover {

			img {
				filter: grayscale(100%); /* Current draft standard */
				    -webkit-filter: grayscale(100%); /* New WebKit */
				    -moz-filter: grayscale(100%);
				    -ms-filter: grayscale(100%); 
				    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
				    filter: gray; /* IE */
				    -webkit-filter: grayscale(1); /* Old WebKit */
			}
			.image-hover-overlay {
				.opacity(90);
			}
		}

	

	.pow-classic-comments, .pow-blog-share  {
		position: relative;
		display: inline-block;
		float: left;
		margin-right: 15px;
		text-align: center;
		cursor: pointer;
		height: 32px;
		width: 32px;
		i {
			line-height: 32px;
			color: #636363;
			font-size: 16px;
		}
	}

	.pow-classic-comments span {
				position: absolute;
				font-weight: bold;
				color: #fff;
				line-height: 10px;
				font-size: 11px;
				height: 20px;
				padding: 0 7px;
				line-height: 20px;
				right: -15px;
				top: 5px;
				.border-radius(30px);
				// &::after {
				// 	content: '';
				// 	width: 0;
				// 	height: 0;
				// 	margin-lefT: -18px;
				// 	margin-top: 7px;
				// 	border: 3px transparent solid;
				// 	position: absolute;
				// }
	}

	

	.pow-classic-comments:hover, .pow-blog-share:hover {
		background-color: #f1f1f1;
	}



.blog-share-container {
	margin-top: -3px;
	position: relative;
	float: left;
}




.post-type-badge {
	position: absolute;
	left:50%;
	top:50%;
	display: block;
	.opacity(0);
	margin: -24px 0 0 -24px;
	i {
		font-size: 48px;
		color: #fff;

	}

}


.pow-blog-portraite {
	width: 100%;
	.featured-image {
		float: left;
		display: inline-block;
		width: 50%;
	}

	.pow-blog-meta {
		float: left;
		width: 50%;
	}

}

@media handheld, only screen and (max-width: 1140px) {
	.pow-blog-portraite {
	width: 100%;
	.featured-image {
		float: none !important;
		display: block;
		width: 100%  !important;
	}

	.pow-blog-meta {
		float: none !important;
		width: 100% !important;
	}

}

}



.sticky {
	border:1px solid #cccccc;
}

.the-excerpt {
	-ms-word-wrap: break-word;
    	word-wrap: break-word;
}

.image-hover-overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			left:0;
			top:0;
			.opacity(0);
			.box-shadow(inset 0 0 1920px 1920px rgba(128,128,128,.5));
}

.pow-audio-section {
		display: block;
		background-color: #fbb845;
		height: 100px;
		> img {
			float: left;
			filter: grayscale(100%); /* Current draft standard */
		    -webkit-filter: grayscale(100%); /* New WebKit */
		    -moz-filter: grayscale(100%);
		    -ms-filter: grayscale(100%); 
		    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
		    filter: gray; /* IE */
		    -webkit-filter: grayscale(1); /* Old WebKit */
		    .opacity(70);
		}

		.pow-audio-author {
			font-size: 12px;
			font-weight: bold;
			text-transform: capitalize;
			position: absolute;
			top:40px;
			left:10px;
			display: block;
			color: #fff;
		}
}



.pow-readmore {
		
		line-height: 12px;
		font-weight: bold;
		font-size: 12px;
		i {
			margin-right: 5px;
			text-decoration: none;
			font-size:8px;
		}
		&:hover {
			color: #313d53 !important;
		}
}


.blog-modern-item, .blog-classic-item {


	.pow-blog-meta {
		padding: 20px;
	}

	.the-title {
		margin-top: 5px;
		a {
			font-size: 24px;
			line-height: 24px;
		}
	}

	.the-excerpt {
		margin-bottom: 20px;

	}

	.pow-categories, .pow-blog-author, time {
		display: inline-block;
		font-size: 11px;
		color: #999999;
		margin-right: 5px;
		a {
			color: #313d53;
		}
	}	


	.featured-image {
			position: relative;
			display: block;
			overflow: hidden;
			a {
				overflow: hidden;
				display: block;
			}
			img {
				position: relative;
				-webkit-backface-visibility: hidden;
				width: 100%;
				max-width: 100%;

				-webkit-transition: all 500ms cubic-bezier(0.985, 0.005, 0.030, 0.990); 
				   -moz-transition: all 500ms cubic-bezier(0.985, 0.005, 0.030, 0.990); 
				     -o-transition: all 500ms cubic-bezier(0.985, 0.005, 0.030, 0.990); 
				        transition: all 500ms cubic-bezier(0.985, 0.005, 0.030, 0.990);

				-webkit-transition-timing-function: cubic-bezier(0.985, 0.005, 0.030, 0.990); 
				   -moz-transition-timing-function: cubic-bezier(0.985, 0.005, 0.030, 0.990); 
				     -o-transition-timing-function: cubic-bezier(0.985, 0.005, 0.030, 0.990); 
				        transition-timing-function: cubic-bezier(0.985, 0.005, 0.030, 0.990);
			}
		

			&:hover {
				.image-hover-overlay {
					.opacity(85);
				}
				.post-type-badge {
					.opacity(100);
				}
				img {
					.transform( scale(1.3) rotate(3deg) )
				}
			}
	}





}



.blog-social-share {
	position: absolute; 
	background-color: #313d53;
	margin: 0;
	list-style: none;
	display: block;
	text-align: center;
	padding: 15px 10px;
	display: none;

	&:before {
		display: block;
		width: 10px;
		height: 10px;
		position: absolute;
		margin-top: -5px;
		.rotate(45deg);
		background-color: #313d53;
		content: "";

	}

	li {
		margin: 0;
		a {
			color: #a8a8a8;
			display: block;
			margin: 0 10px;
			&:hover {
				color: #ffffff;
			}
			i {
				font-size: 16px;
				
			}
		}
	}


}

