.pow-blog-single {

	.the-title {
		margin-bottom: 10px;
		a {
			font-size: 28px;
		}
	}

	.blog-single-meta {
		margin-bottom: 20px;
		float: left;

		@media handheld, only screen and (max-width: 960px) { 
			float: none !important;
			display: block;
		}

	}

	.pow-blog-author, .pow-post-date, .pow-post-cat {
		color: #999999;
		font-style: italic;
		font-size: 11px;
		display: inline-block;
	}

	article {
		position: relative;

	}


	.pow-audio-section {
		height: 170px;
		overflow: hidden;
		

		.jp-audio {

			&.audio-has-img {
				margin-left: 0;
			}

			div.jp-interface {
				min-height: 160px !important;
			}

		}

		@media handheld, only screen and (max-width: 780px) { 
			.audio-has-img {
				margin: 0 !important;
			}
			.audio-thumb {
				display: none;
			}
		}

	}
}



.single-social-section {
	float: right;




	.blog-modern-comment, .blog-share-container, .pow-love-holder {
		float: right;
		display: inline-block;
		margin-left: 30px;


	}

	.blog-modern-comment {

		i {
			color: #898989;
		}
	}

	.blog-share-container {

		position: relative;

	}

	.blog-single-share {
		cursor: pointer;
		i {
			font-size: 18px;
			color: #898989;
		}
	}

	.pow-love-holder {

	}

	@media handheld, only screen and (max-width: 960px) { 
			float: none !important;
			display: block;
			margin-bottom: 20px;
		.blog-modern-comment, .blog-share-container, .pow-love-holder {
			float: left;
			padding: 0 20px 0 0!important;
			margin: 0 !important;
		}

		.single-share-box {
			right:-170px;
			left: auto !important;
			&:before {
				left:-5px;
				right: auto !important;
			}
		}
	}
}


.single-share-box {
		position: absolute; 
		left:-180px;
		bottom:-13px;
		background-color: #313d53;
		margin: 0;
		list-style: none;
		display: none;
		text-align: center;
		padding:12px;
		text-transform: center;

	&:before {
		position: absolute;
		right:-5px;
		top:50%;
		margin-top: -5px;
		display: block;
		width: 10px;
		height: 10px;
		position: absolute;
		.rotate(45deg);
		background-color: #313d53;
		content: "";
	}

	li {
		float: left;
		margin: 0;

		a {
			color: #a8a8a8;
			display: block;
			margin: 0 10px;
			&:hover {
				color: #ffffff;
			}
			i {
				font-size: 16px;
				
			}
		}
	}
}



.pow-blog-next-prev {
	display: block;
	margin-bottom: -10px;
	a {
		float: left !important;
	}
}



.pow-single-content {
	margin: 30px 0 60px;
}


.single-post-tags {
	margin-bottom: 30px;
	span {
		font-size: 12px;
		color: #999999;
		margin-right: 15px;
	}

	a {
		display: inline-block;
		padding: 5px 8px;
		margin: 5px 5px 0 0;
		line-height: 13px;
		font-size: 12px;
		background-color: #bebebe;
		color: #fff !important;
		.border-radius(3px);
		text-transform: capitalize;
	}
}

.single-back-top {
	padding-bottom: 30px;
	margin-bottom: 20px;
	border-bottom: 1px #ccc solid; 
	
	a {
		float: right;
		margin-top: -15px;
		font-size: 13px;
		color: #999999;
		&:hover {
			color: #afafaf;	
		}
		i {
			padding-right: 5px;
		}
	}

	@media handheld, only screen and (max-width: 800px) {
		display: none !important;
	 }
}



.pow-about-author-wrapper {
	padding-bottom: 20px;
	margin-bottom: 40px;
	.avatar {
		display: block;
		margin: 8px 0 0 0;
		border: 1px #ccc solid;
	}
	.avatar-wrapper {
		display: block;
		width: 80px;
		float: left;
	}

	.pow-about-author-meta {
		display:block;

		margin-left: 80px;
	}

	.about-author-name {
		display: block;
		font-weight: bold;

	}
	.about-author-desc {
		display: block;
	}

	.about-author-social {
			list-style: none;
			margin: 10px 0 0;
			 li{
			 	display: inline-block;
			 	float: left;
			 	margin: 0;
			 	a {
			 		padding: 5px 4px;
			 		margin-right: 5px;
			 		line-height: 4px;
			 		display: block;
			 		&:hover {
			 			.opacity(60);
			 		}
			 		i {
			 			color: #fff;
			 		}
			 	}
			 	.googleplus-icon {
			 		
			 		background-color: #D73D32;
			 		
			 	}
			 	.twitter-icon {
			 		background-color: #1fabc9;
			 		
			 	}
			 	.email-icon {
			 		background-color: #adadad;
			 	}
			 }
	}
}


.similar-post-title {
		font-size: 16px;
		margin-bottom: 20px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;

	}


.blog-similar-posts {
	margin-bottom: 40px;
	border-bottom: 3px solid #dddddd;
	padding-bottom: 30px;

	.similar-post-holder {
			border:1px solid #efefef;
			overflow: hidden;
			margin: 0 10px 20px;
	}

	ul {
		list-style: none;
		margin: 0 0 0 5px;
		padding: 0;

		&.three-cols {

			li {
				width: 33.3%;
			}
		}
		&.four-cols {

			li {
				width: 24.9%;
			}
		}

		li {
			
			padding: 0;
			margin: 0;
			display: inline-block;
			img {
				position: relative;

			}

		}
	}
}

@media handheld, only screen and (max-width: 960px) {
	.blog-similar-posts {
		li {
			width: 50% !important;
			img {
			-webkit-backface-visibility: hidden;
			width: 100% !important;
			max-width: 100% !important;
			}
		}
	}
}

@media handheld, only screen and (max-width: 600px) {
	.blog-similar-posts {
		li {
			width: 100% !important;
		}
	}
}


.pow-similiar-thumbnail {
	position: relative;
	display: block;
	overflow: hidden;
	.image-hover-overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		left:0;
		top:0;
		.opacity(0);
	}

	&:hover {
		.image-hover-overlay {
			.opacity(80);
		}
	}
}

.pow-similiar-title {
	padding: 15px;
	display: block;
	color: #313d53;
	font-weight: bold;
	font-size: 12px;
	min-height: 40px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.about-author-social.archive {
		list-style: none;
		margin: 10px 0 0;
		 li{
		 	display: inline-block;
		 	float: left;
		 	margin: 0;
		 	a {
		 		padding: 5px 4px;
		 		margin-right: 5px;
		 		line-height: 4px;
		 		display: block;
		 		&:hover {
		 			.opacity(60);
		 		}
		 		i {
		 			color: #fff;
		 		}
		 	}
		 	.googleplus-icon {
		 		
		 		background-color: #D73D32;
		 		
		 	}
		 	.twitter-icon {
		 		background-color: #1fabc9;
		 		
		 	}
		 	.email-icon {
		 		background-color: #adadad;
		 	}
		 }
}