.pow-flexsldier-slideshow {
	background-repeat: repeat-x;
	background-position: center bottom;
	display: block;
	margin:0 auto;
	padding: 0;

	&.flexslider-thumbnail {
		padding-bottom: 100px;
	}

	.pow-flexslider-wrapper {
		margin:0 auto;
		position: relative;
		.box-shadow(0 0px 2px rgba(0,0,0,0.6));
		
	}
	.flex-viewport, .flex-viewport li{

	}
	ul.pow-flex-slides {
		li {
			overflow: hidden;
			&.flex-active-slide {
				.pow-flex-caption {
					opacity: 1;
					bottom: 0;
				}
			}
		}
	}

	.pow-flex-caption {
		position: absolute;
		bottom: -300px;
		left:0px;

		padding: 40px;
		overflow: hidden;
		display: block;
		.box-sizing(border-box);
		.transition(all 0.6s);
		width: 100%;
		background-color: rgba(0,0,0,0.5);
		// box-shadow: 8px 0 0 #000, -8px 0 0 0 #000  !important;
		color: #f5f5f5;
		opacity: 0;
		.flex-title {
			font-size: 26px;
			line-height:42px;
			display: inline;
			.box-sizing(border-box);
			padding: 8px 0;
			text-transform: uppercase;
			font-weight: bold;
			span {
				color: #fff;
			}
		}

		.flex-desc {
			font-size: 14px;
			font-weight: bold;
			line-height:28px;
			display: inline;
			padding: 8px 0;
			.box-sizing(border-box);
			margin-left: 0;
			span {
				color: #f5f5f5;
				text-transform: uppercase;
				.box-sizing(border-box);
				padding: 5px 0;
				
			}
		}
		
	}



.flex-control-nav {
	display: block;
		li {
			a {
				width: 6px;
				height: 14px;
				display: block;
				padding: 0;
				i {
					font-size: 12px;
					color: #fff;
				}

				&.flex-active i:before {
					content: "\f111" !important;
				}
			}

		}
}


	.flex-direction-nav {
		 	a {
				width: 38px;
				height: 38px;
				top:50%;
				margin-top: -20px;
				background-color: rgba(0,0,0,0.4);
				.border-radius(4px);
				&:hover {
					background-color: rgba(0,0,0,0.6);
				}

				i {
					position: absolute;
					left:8px;
					top:12px;
					font-size: 16px;
					color: #fff;
				}
			}
		}

		.flex-direction-nav .flex-next {
			right:10px;

		}
		.flex-direction-nav .flex-prev {
			left:10px;
			
		}

	&:hover {

		.flex-direction-nav .flex-next {
			right: 20px;
		}
		.flex-direction-nav .flex-prev {
			left: 20px;
		}
	}	

@media handheld, only screen and (max-width: 1100px) {

}

	@media handheld, only screen and (max-width: 960px) {
		.pow-flex-caption {
			top:0 !important;
			padding: 10px !important;
		}
	}

	@media handheld, only screen and (max-width: 480px) {
		.pow-flex-caption {
			display: none !important;
		}
	}

}
