#pow-notification-bar {
	.container {
		// padding: 0 20px;
		// .box-sizing(border-box);
		max-width: 1140px;
		margin: auto;
		position: relative;
	}
	.box-shadow(0 3px 0 0 rgba(0,0,0,0.2));
	.box-sizing(border-box);
	padding: 10px 25px;
	width: 100%;
	position: relative;
	z-index: 100;
	min-height: 24px;
	text-align: left;
	
	.pow-noti-icon {
		margin-right:15px;
		line-height: 4px;
		display: inline-block;
	}
	.pow-noti-message, .pow-noti-more {
		font-size: 12px;
		line-height: 12px;
		font-weight: bolder;
		text-shadow:1px 1px 1px rgba(0,0,0,0.2);
		text-transform: uppercase;
		display: inline-block;
	}
	.pow-noti-more {
		opacity: .8;
		&:hover {
			opacity: .6;
		}
	}

	.pow-noti-message {
	}
	.pow-noti-more {
		margin-left: 6px;
	}
	#pow-bar-close {
		i {
			position: absolute;
			right:15px;
			top:50%;
			padding: 0 10px;
			height: 17px;
			line-height: 16px;
			font-size: 10px;
			text-transform: uppercase;
			margin-top: -9px;
			color: #fff;
			opacity: .4;
			border: 1px rgb(255,255,255) solid;
			text-shadow:1px 1px 1px rgba(0,0,0,0.2);
			&::before {
				font-size: 14px;

			}
		}
	}

}

