.pow-header-toolbar {
	padding: 10px 20px;
	width: 100%;
	position: relative;
	z-index: 231;
	border-bottom-style:solid;
	border-bottom-width: 1px;
	border-bottom-color:transparent; 

	.pow-button {
		color: #fff !important;
	}
	.pow-header-toolbar-wrapper {
		max-width: 1140px;
		margin: auto;	
		padding: 0 20px;
		.box-sizing(border-box);
	}
}

.pow-header-tagline {
	font-size: 12px;
	line-height: 30px;
	margin-right: 15px;
}

.header-toolbar-contact {
	font-size: 12px;
	line-height: 30px;
	margin-right: 15px;

	i {
		font-size: 14px;
		padding-right: 6px;

	}
}

.pow-header-date {
	font-size: 11px;
	padding-right: 20px; 
	i {
		padding-right: 6px;
		vertical-align: middle;
		font-size: 16px;
	}
}

.pow-language-nav {
	position: relative;
	display: inline-block;
	margin-right: 15px;
	line-height: 30px;
	height: 30px;
	> a {
		font-size: 11px;
		i {
			padding-right: 5px;
			vertical-align: middle;
			font-size: 14px;
			margin-top: -1px;
			border-radius: 100%;
		}

	}
	&:hover {
		> .pow-language-nav-sub-wrapper {
			display: block;
		}
	}
}

.pow-language-nav-sub-wrapper {
	display: none;
	position: absolute;
	top:30px;
	left:0;
	z-index: 20;
	padding-top: 8px;
}

.pow-language-nav-sub {
	background-color: #fff;
	position: relative;
	border:1px solid #d9d9d9;
	&:after {
		position: absolute;
		display: block;
		content: "";
		width: 12px;
		height: 12px;
		background-color: #fff;
		border:1px solid #d9d9d9;
		border-right:none;
		border-bottom: none;
		top:-7px;
		left:25px;
		.rotate(45deg);
	}
	.box-shadow(0 4px 14px rgba(0,0,0,0.2));
}

.pow-language-navigation {
		margin: 0;
		padding: 1px 0;
		list-style: none;
		li {
			margin: 0;
			a {
				display: block;
				margin: 5px 0;
				padding: 6px 12px 6px 0;
				min-width: 120px;
				color: #666666;
				font-size: 11px;
				line-height: 14px;
				font-weight: bold;
				&:hover {
					background-color: rgba(0,0,0,0.05);
				}

				.pow-lang-flag {
					margin-left: 8px;
					vertical-align: middle;
				}
				.pow-lang-name {
					padding-left: 8px;
				}
			}
			&.current-menu-item > a {
				background-color: rgba(0,0,0,0.05);
			}
		}
}

#pow-header-search {
display: inline-block;
float: right;
margin-left: 6px;
}

.pow-header-toolbar {

	#pow-header-searchform {
		padding-top: 4px;
	}

}

.pow-header-inner {
	#pow-header-searchform {
		float: right;
		display: inline-block;
		span {
			line-height: 12px;
		}
		.text-input {
			width: 200px;
			padding: 5px 15px 5px 25px !important;
			height: 28px;
			line-height: 20px;

		}
		.pow-icon-search {
			left:7px;
			top:5px;
			.opacity(70);
		}
	}
}


#pow-header-searchform {
	span {
		display: inline-block;
		position: relative;
		overflow: hidden;
		
		.border-radius(40px);
		.text-input {
			border:none;
			background-color:rgba(255,255,255,0.2);
			font-size: 12px;
			width: 90px;
			height: 23px;
			padding: 3px 15px 3px 25px;
			line-height: 16px;
			margin: 0;
			border:none;
			.border-radius(40px);
			opacity:0.7;
			&:focus {
				opacity:1;
			}
		}
		i {
			font-size: 16px;
			opacity:0.7;
			position: absolute;
		}

		.pow-icon-search {
			left:7px;
			top:3px;
		}

	}
}


.header-search-btn {
	width: 100%;
	height: 100%;
	display: block;
	border:none;
	outline: none;
	position: absolute;
	left:0;
	top:0;
	background-color: transparent;
	

}



#pow-header-social {
	display: inline-block;
	float: right;
	height: 30px;
	ul {
		list-style: none;
		margin:6px 0 0;
		padding: 0;
		li {
			margin: 0;
			display: inline-block;
			&:last-child a {
				margin-right: 0;
			}
			a {
				width: 18px;
				height: 18px;
				position: relative;
				display: block;
				margin-right: 4px;
				line-height: 4px;
				.opacity(80);
				i:before {
					font-size: 18px;
					line-height: 18px;
					top:3px;
				}
				&:hover {
					.opacity(100); 
				}
			}
		}
	}
}


.pow-header-login {
	float: right;
	display: inline-block;
	margin: 4px 20px 0 0;
	position: relative;
	.pow-login-link {
		i {
			margin-right: 4px;
			vertical-align: middle;
			font-size: 16px;
		}

	}
	#pow-header-login-button {
		// background-color: rgba(0,0,0,.3);
		// padding: 5px 15px;
		// border-radius: 15px;
	}
}


.pow-login-register, #pow-header-subscribe {
	position: absolute;
	right:-10px;
	width: 220px;
	top:27px;
	background-color: #fff;
	border:1px solid #d9d9d9;
	.box-shadow-double(2px 2px 0 0 rgba(0,0,0,0.1), 0 -500px 0 2500px rgba(50,50,50,0.5));
	padding: 15px;
	display: none;

	&:before {
		position: absolute;
		display: block;
		content: "";
		width: 12px;
		height: 12px;
		background-color: #fff;
		border:1px solid #d9d9d9;
		border-right:none;
		border-bottom: none;
		top:-6px;
		right:30px;
		.rotate(45deg);
		z-index: 8;
	}


	.form-section {
		margin-bottom: 8px;
		display: block;
		label {

		}
		.text-input {
			width: 220px;
			background-color: #fff;
		}
	}

	.register-login-links {
		display: inline-block;
		float: left;
		padding-top: 5px;
		a {
			color: #888888;
			line-height: 12px;
			display: inline-block;
		}
		.pow-create-account {
			padding-left: 5px;
			margin-left: 5px;
			border-left: 2px solid #b6b6b6;
		}
	}
	.pow-login-remember {
		display: block;
		margin: 5px 0 10px;
	}
	.shop-flat-btn {
		float: right;
		
	}

	.pow-login-title {
		font-size: 16px;
	}
}



#pow-register-panel {
	display: none;
	.register-login-links {
		float: right;
		display: block;
		margin: 5px 0;
	}
	
}

#pow-forget-panel {
	display: none;
	.register-login-links {
		float: right;
		display: block;
		margin: 5px 0;
	}
}


.user-profile-box {

	img {
		float: left;
	}
	a {
		margin: 0 0 0px 60px;
		display: block;
		color: #747474;
	}
}


.pow-header-signup {
	float: right;
	display: inline-block;
	margin: 4px 10px 0 0;


	.pow-subscribe-link {
		i {
			vertical-align: middle;
			margin-right: 4px;
			font-size: 16px;
			margin-top: -2px;
		}
	}
}



.pow-header-signup {
	position: relative;
}

#pow-header-subscribe {

	label {
		margin-bottom: 8px;
		display: block;
	}
	.text-input {
		background-color: #fff;
		width: 220px;
		margin-bottom: 10px;
	}
}





.pow-header-checkout {
	float: right;
	display: inline-block;
	margin: 4px 20px 0 0;
	position: relative;
	height: 25px;
	
	&:hover > #pow-header-checkout{
		display: block;
		.box-shadow(0 -200px 0 2500px rgba(50,50,50,0.5));
	}

	.pow-checkout-btn {
		i {
			vertical-align: middle;
			margin-right: 4px;
			font-size: 14px;
			
		}
	}
}



#pow-header-checkout {
	position: absolute;
	top:25px;
	right:0;
	background-color: #fff;
	.box-shadow(0 4px 14px rgba(0,0,0,0.2));
	border:1px solid #d9d9d9;
	padding: 0;
	display: none;
	z-index: 9;
	width: 320px;
	
	&:before {
		position: absolute;
		display: block;
		content: "";
		width: 12px;
		height: 12px;
		background-color: #fff;
		border:1px solid #d9d9d9;
		border-right:none;
		border-bottom: none;
		top:-6px;
		right:28px;
		.rotate(45deg);
		z-index: 8;
	}


}







#pow-toolbar-navigation {
	display: inline-block;
	margin-right: 10px;
	height: 30px;
	ul {
		padding: 0;
		margin: 0;
		li {
			&:first-child > a {
				padding-left: 0;
			}
			margin: 0;
			padding: 0;
			display: inline-block;
			line-height: 32px;

			&:last-child > a {
				border:none !important;
			}

			a {
				font-size: 11px;
				line-height: 10px;
				display: inline-block;	
				padding: 0 5px;
			}

			ul {
				display: none;
			}

		}
	}
}

#pow-toolbar-navigation ul li a, 
.pow-language-nav > a, 
.pow-header-login .pow-login-link, 
.pow-subscribe-link, 
.pow-checkout-btn,
.pow-header-tagline a {
	font-size: 12px;
}

#pow-toolbar-navigation ul li a:hover, 
.pow-language-nav > a:hover, 
.pow-header-login .pow-login-link:hover, 
.pow-subscribe-link:hover, 
.pow-checkout-btn:hover,
.pow-header-tagline a:hover {
	.opacity(80);
}


.main-nav-side-search {
	display: inline-block;
	float: right;
	margin: 0 0 0 20px;
	vertical-align: top;
	// position: relative;
}

.pow-search-trigger {
	display: block;
	font-size: 16px;
	
}

.classic-style-nav .pow-search-trigger {
	padding: 16px 0;
}



#pow-nav-search-wrapper {
	position: absolute;
	right: 20px;
	width: 50%;
	height: 70px;
	 .box-shadow(2px 2px 0 0 rgba(0,0,0,0.05));
	background-color: #fff;
	display: none;

	.ui-helper-hidden-accessible {
		display: none;
	}
	form {
		display: block;
		overflow: hidden;

		&.ajax-searching {
			.pow-moon-search-3:before {
				-moz-animation: spin 0.8s infinite linear;
			    -o-animation: spin 0.8s infinite linear;
				-webkit-animation: spin 0.8s infinite linear;
				animation: spin 0.8s infinite linear;
				display: inline-block;
				content: "\e2a2";
			}
		}
		i::after {
			position: absolute;
			display: block;
			content: "";
			width: 0;
			height: 0;
			border: 6px solid transparent;
			border-bottom-color: #bfbcbc;
			top: -12px;
			right: 5px;
			z-index: 8;
		}

	}


		input[type=text] {
			position: absolute;
			left:0;
			top:0;
			border:none;
			height: 100%;
			font-size: 18px;
			color: #282828;
			background-color: #fff;
			padding: 0 10px;
			width: 100%;
			line-height: 30px;
			border: none;
			border-right: none;
		}

		input[type=submit] {
			width: 100%;
			height: 100%;
			display: block;
			border:none;
			outline: none;
			position: absolute;
			left:0;
			top:0;
			background-color: transparent;
		}

		.pow-moon-search-3 {
			width: 70px;
			height: 100%;
			line-height: 70px;
			position: absolute;
			right:0;
			top:0;
			font-size: 14px;
			display: block;
			color: #fff;
			background-color: #bfbcbc;
			text-align: center;

		}


}

.main-nav-align-right.pow-boxed-enabled #pow-nav-search-wrapper {
		right: -30px;	

		&:before {
			display: none;
		}
}

#pow-nav-search-wrapper {
	.ui-autocomplete {
		background-color: #fff;
		border:1px solid #e3e3e3;
		border-top: none;
		border-bottom:none; 
		overflow: auto;
		text-align: left;
		top:66px !important;
		list-style: none;
		margin: 0;
		padding: 0;
		.box-shadow(0 0 0 2800px rgba(128,128,128,0.1));

		li {
			line-height: 16px;
			padding: 10px;
			border-bottom:1px solid #e3e3e3;
			margin: 0;
			overflow: hidden;
			cursor: pointer;

			a {
				cursor: pointer;

				&:hover {
					color: #313d53;
				}
			}

			.search-date {
				// float: right;
				color: #8c8c8c;
				font-size: 11px;
			}

			.search-cat {
				color: #999999;
				font-size: 11px;
			}

			.search-title {
				font-size: 12px;
				text-transform: uppercase;
				color: #313d53;
				line-height: 18px;
				display: block;
				margin-bottom: 3px;
				font-weight: bold;
			}

			&:hover {
				background-color: #fbfbfb;	
			}
			
			img, i {
				width: 48px;
				height: 48px;
				.border-radius(0);
				float: left;
				margin-right: 15px;
			}


			i {
				
				background-color: #f3f3f3;
				
				text-align: center;
				
				
				&:before {
					font-size: 18px;
					color: #636363;
					line-height: 48px;
				}
			}
		}
	}	

}


.shopping-cart-header {
	float: right;
	
	position: relative;
	

	&:hover > .pow-shopping-cart-box{
		display: block;	
	}	
}


.shoping-cart-link {
	float: right;
	padding: 7px 10px 0;
	margin: 0 20px;
	i {
		font-size: 16px;
		line-height: 16px;
		position: relative;
		
	}

	span {
		position: absolute;
		.border-radius(30px);
		padding: 0;
		text-align: center;
		color: #fff;
		font-size: 13px;
		height: 20px;
		width: 20px;
		line-height: 20px;
		font-weight: bold;
		font-style: normal;
		top:-12px;
		left:12px;
	}



}


.pow-shopping-cart-box {
	position: absolute;
	right:-10px;
	top:80px;
	width: 320px;
	background-color: #fff;
	padding: 15px;
	display: none;
	background-color: #fff;
	border:1px solid #d9d9d9;
	&:after {
		position: absolute;
		display: block;
		content: "";
		width: 12px;
		height: 12px;
		background-color: #fff;
		border:1px solid #d9d9d9;
		border-right:none;
		border-bottom: none;
		top:-7px;
		right:38px;
		.rotate(45deg);
	}
	.box-shadow(0 20px 980px 980px rgba(0, 0, 0, 0.15));


}



#pow-header-checkout, .pow-shopping-cart-box {

	.buttons {
		.shop-flat-btn.shop-black-btn {
			
		}
		.shop-flat-btn.shop-skin-btn.checkout {

		}
	}

	.widget {
		margin: 0;
	}

	.product_list_widget {

		margin-bottom: 10px;
		li {
			&.empty {
				padding: 12px 20px 3px !important;
			}

			margin: 0  !important;
			line-height: 22px !important;
			padding: 12px 0 !important;
			border-top: 1px solid #efefef;
			a {
				img {
					width: 48px;
					height: 48px;
				}
				font-size: 16px;
				font-weight: 600 !important;
				padding-left: 5px;
				&::after {
					font-family: 'FontAwesome';
					content: "\f054";
					font-size: 18px;
					opacity: .1;
					position: absolute;
					right: 5px;
					top: 10px;

				}
			}
			.variation {
				display: none !important;
			}
			.quantity {
				font-size: 14px;
				font-weight: bold;
				margin-top: 5px;
				display: inline-block;
				text-align: left;
				span {

				}
			}

			&:first-child {
				border-top: none;
			}

			img {
				padding: 0 !important;
			}
		}
	}

	.total {
		font-size: 14px;
		font-weight: bold;
		display: block;
		text-align: left;
		border-top:1px solid #efefef !important;
		padding-top: 15px !important;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 5px;
		strong {

		}

		.amount {
			color: #a0a0a0;
		}
	}

	.buttons {
		text-align: center;
		margin-bottom: 7px;
		.shop-black-btn {

			background-color: #898989 !important;

			&:hover {
				background-color: #707070 !important;
			}	
		}

		a {
			padding: 16px 28px !important;
			line-height: 13px !important;
		}
	}

}

@media handheld, only screen and (max-width: 780px) {
	.pow-header-right {
		display: none !important;
	}
}
