/**
 * Header
 */
.large-header {
	-webkit-backface-visibility: hidden;
}
#pow-header{
	width: 100%;
	position: relative;
	.pow-header-bg, .pow-classic-nav-bg {
		position: absolute;
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1;
		// .transition(opacity 0.3s ease-in-out);
	}
	.pow-header-bg {
	  padding-top: 1px;
	  .box-shadow(inset 0 3px 0 0 rgba(128,128,128,0.1));
	  border-bottom: 1px rgba(128,128,128,0.1) solid;
	}

	.pow-header-wrapper {
		position: relative;
		max-width: 1140px;
		height: 100%;
		margin: auto;
	}

	.header-logo {
		float: left;
	    top:0;
	    position: absolute;
	    display: block;
	    height: 100%;
	    z-index: 10;
		&.left-logo {
			left:20px;
		}
		&.right-logo {
			right:20px;
		}
		a {
			display: inline-block;
		    height: 100%;
		    position: relative;
			img {
			    margin-top: 3px;
				display: block;
			    height: auto;
			    max-height: 100%;
			    width: auto;
			}
		 }
	}

	&.classic-style-nav .header-logo {
		&.center-logo {
			position: relative;
	    	width: 100%;
	    	margin: 0 auto;
	    	text-align: center;
	    	z-index: 2;
	    	width: 100%;
	    	a {
	    		margin: 0 auto;

	    	}
	
	    }
	}

	.pow-header-inner {
			position: relative;
			z-index: 210;
			width: 100%;
			border-bottom-style:solid;
			border-bottom-width: 1px;
			border-bottom-color:transparent; 
			.pow-header-bg {
				// background-image: none, -moz-linear-gradient(bottom,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 10px,rgba(255,255,255,0.86) 20px,rgba(255,255,255,0.9) 30px,rgba(255,255,255,0.94) 40px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
				// background-image: none, -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,#ffffff));
				// background-image: none, -webkit-linear-gradient(bottom,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 10px,rgba(255,255,255,0.86) 20px,rgba(255,255,255,0.9) 30px,rgba(255,255,255,0.94) 40px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
				// background-image: none, -o-linear-gradient(bottom,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 10px,rgba(255,255,255,0.86) 20px,rgba(255,255,255,0.9) 30px,rgba(255,255,255,0.94) 40px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
				// background-image: none, -ms-linear-gradient(bottom,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 10px,rgba(255,255,255,0.86) 20px,rgba(255,255,255,0.9) 30px,rgba(255,255,255,0.94) 40px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
				// background-image: none, linear-gradient(to top,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 10px,rgba(255,255,255,0.86) 20px,rgba(255,255,255,0.9) 30px,rgba(255,255,255,0.94) 40px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
				// background-color: transparent;

				// background: -moz-linear-gradient(top,  rgba(253,255,255,0.75) 0%, rgba(255,255,255,0.84) 18%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
				// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,255,255,0.75)), color-stop(18%,rgba(255,255,255,0.84)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
				// background: -webkit-linear-gradient(top,  rgba(253,255,255,0.75) 0%,rgba(255,255,255,0.84) 18%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
				// background: -o-linear-gradient(top,  rgba(253,255,255,0.75) 0%,rgba(255,255,255,0.84) 18%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
				// background: -ms-linear-gradient(top,  rgba(253,255,255,0.75) 0%,rgba(255,255,255,0.84) 18%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
				// background: linear-gradient(to bottom,  rgba(253,255,255,0.75) 0%,rgba(255,255,255,0.84) 18%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
				// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bffdffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
				// background-color: transparent;
			}

	}

}
.modern-style-nav .pow-header-inner {
	padding-bottom: 0;
}


.modern-style-nav .pow-header-inner {
		
		&.pow-fixed {
			position: fixed !important;
			right:0;
			z-index: 9999 !important;

		}
}

.classic-style-nav .pow-fixed .pow-classic-nav-bg{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}


body.boxed_layout #pow-boxed-layout {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	.pow-header-inner.pow-fixed {
		right: auto !important;
	}
}

.pow-header-start-tour {
	font-weight: bold;
	float: right;
	padding-left: 20px;
	i {
		padding-left: 16px;
		font-size: 18px;
	}
	&:hover {
		i {
			padding-left: 9px;
		}
	}

}


.pow-header-right {
	position: absolute;
	right:30px;
	top:0;
	z-index: 30;
}




.not-found-page {
	.theme-page-wrapper, .pow-tabbed-box {
		margin: 0 !important;
	}
	#theme-page {
		margin-bottom: 0 !important;
		padding: 0 !important;
	}
	.theme-content {
		padding: 0 !important;
	}
}





.pow-relative {
	position: relative;
}
.no-margin-top {
	padding-top: 10px !important
}

.pow-zindex-fix {
	position: relative;
	z-index: 60;
}






.pow-love-this {

	span {
		color: #c2c2c2;
		font-size: 11px;

		&:hover i{
			color: #b1b1b1;
		}
	}
	i {
		font-size: 16px;
		color: #c2c2c2;
	}

	&.item-loved {
		i {
			color: #da4c26;
		}
	}
}




/*----------------------------*/





/*
* Page SECTION
*/
#theme-page {
	overflow: hidden;
	padding: 20px 0 0;
	margin: 0;
	min-height: 400px;

	.theme-page-wrapper {
		margin: 0 auto;
		// margin: 10px auto 0;

		#pow-sidebar {
			position: relative;
		}

		&.right-layout #pow-sidebar {
			float: right;

		}	
		&.left-layout #pow-sidebar {
			float: left;

		}
		&.right-layout .theme-content {
			float: left;
			padding: 40px 20px 30px;
		}	
		&.left-layout .theme-content {
			float: right;
			padding: 40px 20px 30px;
		}

		&.full-layout .theme-content {
			padding: 40px 20px 30px;

		}

		&.right-layout .sidebar-wrapper {
			padding: 40px 10px 30px 30px;
			
		}

		&.left-layout .sidebar-wrapper {
			padding: 40px 30px 30px 10px;
			
		}
		
	}
}


* html #theme-page, * html #pow-sidebar {
	display: inline;
}

@media handheld, only screen and (max-width: 768px) {
#theme-page {
	padding:0 !important;
}

.theme-page-wrapper {
	margin: 0 auto 0 !important;
}


}

/**
 * Blank Template
 */
body.pow-blank-template {
	.theme-content.blank-content,
	#theme-page .theme-page-wrapper.full-layout > .theme-content, #theme-page .theme-page-wrapper > .theme-content {
		padding: 0 !important;
	}
	.pow-header-inner.pow-fixed {
		position: fixed;
		z-index: 9999;
	}
}