/**
 * NAV: Navigation
 */

.pow-header-nav-container {
  line-height: 4px;
  display: block;
  position: relative;
  z-index: 10;
  margin: 0 auto;
}
@media handheld, only screen and (max-width: 1140px){
  #pow-header .pow-header-nav-container {
    width: 100% !important;
  }
  #pow-header .pow-classic-menu-wrapper {
    width: 100% !important;
  }
}

.classic-style-nav .pow-classic-nav-bg {
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}
.classic-style-nav {
  .pow-header-nav-container {
    &.pow-fixed {
      text-align: left;
    }
  	width: 100% !important;
    float: none !important;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}
.modern-style #pow-main-navigation > ul > li > a {
  border-right: 1px transparent solid;
}
.pow-fixed .modern-style #pow-main-navigation > ul > li > a {
  border-right-color: rgba(128,128,128,0.1);
}
.pow-classic-navigation > ul > li,
.classic-style-nav #pow-main-navigation > ul > li {
  > a {
    padding: 16px 25px;
    border-top: 2px solid transparent;
    border-right: 1px rgba(128,128,128,0.1) solid;
    line-height: 16px;
    font-weight: 400;
  }
  &.current-page-ancestor, &.current-menu-ancestor, &.current-page-parent, &.current_page_ancestor {
    > a {
      font-weight: 600;
    }
  }

}

.classic-style-nav .pow-header-nav-container.pow-fixed {
  position: fixed !important;
  left: 0;
  z-index: 210;
  border: none;
}
.classic-style-nav .pow-header-nav-container.pow-fixed .pow-classic-nav-bg {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}
#pow-main-navigation {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
.pow-classic-menu-wrapper {
	position: relative;
	z-index: 99;
	margin: 0 auto;
  
	.main-navigation-ul > li > a i {
		padding-right: 7px;
	}
}


/**
 * NAV: Mega Menu Styles
 */
.main-navigation-ul ul,
.main-navigation-ul ul li {
  list-style: none;
}




.main-navigation-ul ul {
  position: relative;
  padding: 0;
  margin: 0;
}
.main-navigation-ul ul li ul {
  display: none;
}
.main-navigation-ul .sub, .main-navigation-ul ul {
  display: none;
  .megamenu-title {
    &.has-icon {
      .megamenu-tagline {
        line-height: 1.8em;
        font-weight: 400;
        margin-left: 20px;
      }  
    }
    .megamenu-tagline {
      display: block;
      letter-spacing: 1px;
      font-size: 75%;
    }
    i {
      margin-right: 5px;
    }

  	text-align: left;
  	font-size: 14px;
    line-height: 14px;
  	font-weight: bold;
    text-transform: uppercase;
  	padding: 9px 14px 4px 15px;
  	margin: 0 0 6px;
  }
}
.main-navigation-ul .sub ul {
  display: block;
}
.main-navigation-ul {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
.main-navigation-ul .sub ul {
  display: block;

}
.nav-right.main-navigation-ul {
  width: auto;
  float: right;
}
.nav-left.main-navigation-ul {
  width: auto;
  float: left;
}
.main-navigation-ul {
  width: 100%;
  display: inline-block;
}
.main-navigation-ul li {
  margin: 0 1px 0 0;
  padding: 0;
  float: left;
}
.main-navigation-ul > li > a {
  float: left;
  border-top: 3px solid transparent;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  position: relative;
}
.modern-style .main-navigation-ul > li > a > span.pow-me-item {
  vertical-align: middle;
  line-height: 1.5em;
}
.modern-style .main-navigation-ul > li > a i {
			margin-left: -10px;
      padding-right: 5px;
}
.pow-mega-icon {
	display: none;
}
.main-navigation-ul .pow-mega-icon {
	display: block;
	position: absolute;
	right:3px;
	top:9px;
}
.pow-fixed .modern-style {
	.main-navigation-ul > li > a{
		i {
			.opacity(0);
		}
	}
}

.main-navigation-ul li .sub-container {
  position: absolute;
}
.main-navigation-ul li .sub {
 .opacity(98);
 .box-shadow-double(2px 2px 0 0 rgba(128, 128, 128, 0.1), 0 2500px 0 2500px rgba(50,50,50,0.5));
  // .box-shadow(4px 4px 0 0 rgba(0, 0, 0, 0.05));

  // border:1px solid #d3d3d3;
}
.main-navigation-ul li .sub-container.pow-nested-sub {
  > ul li {
    position: relative;
  }
  ul ul {
    display: none;
    top:-5px;
    padding: 0;
    margin-top: 4px;
    position: absolute;
    z-index: 0;
    // .box-shadow(4px 4px 0 0 rgba(0, 0, 0, 0.03));
    .box-shadow(0 10px 40px 0px rgba(128, 128, 128, 0.1));
    border:1px solid rgba(128, 128, 128, 0.1);
  }

}


.main-navigation-ul li .sub .row {
  width: 100%;
  overflow: hidden;
  clear: both;
}
.main-navigation-ul li .sub li {
  list-style: none;
  float: none;
  margin: 0;

}


.pow_megamenu_columns_2{
  width: 49.5%;
}

.pow_megamenu_columns_3{
  width: 33.25%;
}

.pow_megamenu_columns_4{
  width: 24.9%;
}

.pow_megamenu_columns_5{
  width: 19.8%;
}

.pow_megamenu_columns_6{
  width: 16.5%;
}

.sub-container.non-mega .sub li a {
  width: 210px;
}


.main-navigation-ul li .sub li.mega-hdr {
  margin: 0;
 float: left;
 .box-shadow( -2px 0 0 0 rgba(0,0,0,0.05));
  -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.main-navigation-ul li .sub li.mega-hdr.last {
 	border: none;
}
.main-navigation-ul li .sub a {
  display: block;
  position: relative;
  font-size: 12px;
  text-align: left;
  float: none;
  background-color: transparent !important;
  margin: 0;
  padding: 6px 10px;
  text-transform: capitalize;
  font-weight: normal;
  line-height: 18px;
  i {
  	margin-right: 5px;
  }
}
.main-navigation-ul .sub li.mega-hdr li a {
  
  font-weight: normal;
}
// .main-navigation-ul 
// .main-navigation-ul li .sub-container.non-mega
// .main-navigation-ul li .sub-container.non-mega li {
// }

.main-navigation-ul{
  .sub ul li {
    padding-right: 0;
  }
  li {
    .sub-container.non-mega {
      .sub {
        li {
          width: auto !important;
        }
      }

      li {
        padding: 0;
        margin: 0;
        min-width: 180px;
        a {
          line-height: 18px;
          padding: 9px 15px;
        }        
      }
    	> ul {
    		padding:0 !important;
    	}
    }
    .sub-container.mega {
      // height: 0;
      .pow_mega_menu{
        padding:0 10px 10px 10px;
      }
      > .sub-menu{
        opacity: 1;
        // .box-shadow(inset 0 -2px 0 0 #ddd);
        .box-shadow-double(2px 2px 0 0 rgba(128, 128, 128, 0.1), 0 2500px 0 2500px rgba(50,50,50,0.5));
        padding: 20px 0 !important;
      }
    }
    &:hover > .sub-container.mega {
      // height: auto;
      // .box-shadow-double(2px 2px 0 0 rgba(128, 128, 128, 0.1), 0 2500px 0 2500px rgba(50,50,50,0.5));
    }
  }
}

// .main-navigation-ul li 
// .main-navigation-ul li
// .main-navigation-ul li .sub-container.mega 



.pow-nav-responsive-link{
	display: none;
}

#pow-responsive-nav > li > ul, #pow-responsive-nav > li > div {
  display: none;
  border-top:1px solid rgba(0,0,0,0.1);
}

#pow-responsive-nav > li {
  border-bottom:1px solid rgba(0,0,0,0.1);
}



#pow-responsive-nav .pow-nav-arrow {
  position: absolute;
  right:0px;
  top:2px;
  text-align: center;
  cursor: pointer;
  .opacity(70);
  width: 70px;
  height: 100%;
  line-height: 50px;


  &:hover {
      .opacity(100);
  }
}

.menu-html-content {
  line-height: 22px !important;
  text-align: left;
}

  #pow-responsive-nav {
     border-radius: 3px;
     position:relative;
     width:100%;
     display: none;
      margin:0;
      padding:0;
       z-index: 20;

        li {
          display:block;
          margin:0;
          

          .sub li a {
            width: auto !important;
          }

            a {
                border-top:1px solid rgba(255,255,255,0.1);
                display:block;
                font-size:14px;
                padding:15px 20px;
                text-align:left;
                text-transform:uppercase;
                text-decoration: none;
                font-weight: bold;
                font-size: 13px;
                position: relative;
                > i {
                  display: none;
                }

                &:hover {
                 background-color:rgba(0,0,0,0.03);
              }

                .sub-menu {
                  left:auto;
                  position:relative;
                }

                .pow_mega_menu {
                  .megamenu-title {
                    background-color:rgba(0,0,0,0.03);
                    font-size:14px;
                    font-weight:700;
                    > i {
                      margin-right: 10px;
                    }
                  }
                }

                .pow_mega_menu .row{
                    width:auto;
                }
            }
            ul {
              margin: 0;
              padding: 0;
            }

               ul li a, ul li .megamenu-title {
                  font-size:12px;
                  line-height:12px;
                  margin:0;
                  padding:12px 15px 12px 35px;
                  text-align:left;
                  text-transform:none;
                  font-weight: normal;
                }
        }
     }
.pow-fixed {
  .main-navigation-ul li {
    .sub-container {
      &.pow-nested-sub, &.mega {
        margin-top: 3px;
      }
    }
  }

  .main-nav-side-search .pow-search-trigger > i {
    .scale(1.3);
  }
  .pow-header-nav-container.modern-style.pow-mega-nav {
    margin-top: -3px;
  }
}
#pow-responsive-nav > .responsive-searchform {
  display: block !important;


}

.responsive-searchform{
  margin: 10px;
  position: relative;
  .text-input {
    width: 100%;
    padding: 12px;
    border:1px solid rgba(0,0,0,0.15);
    background-color: rgba(0,0,0,0.02);
    .box-shadow(none) !important;
    .border-radius(0);
    color: #9e9e9e !important;
  }

  .pow-icon-search {
    position: absolute;
    right: 15px;
    font-size: 20px;
    bottom:14px;
    color: #ccc;
    color: rgba(0,0,0,0.3);
    input {
      width: 100%;
      height: 100%;
      background: none;
      border:none;
      outline: none;
      position: absolute;
      left:0;
      top:0;
    }
  }
}

.user-nav-wrap {
  position: relative;
  z-index: 9910;
}
.pow-user-nav {
  max-width: 100%;
  .user-logo {
    text-align: center;
    max-height: 100%;
    width: auto;
  }
}
@media handheld, only screen and (max-width: 768px) {
  .pow-user-nav {
    max-width: 100%;
    text-align: center;
    float: none;
    .main-navigation-ul {
      float: left;
      width: 100%;
    }
    .main-navigation-ul {
      display: block;
      float: none;
      li {
        float: none;
        display: inline;
      }
      li:last-child {
        border-right-color: transparent;
      }
    }
    .user-logo {
      display: inline;
      max-height: 100%;
      width: auto;
      float: none;
    }
  }
}