/* 
* Pageination
*/
.pow-pagination {
	margin: 40px 0;
	text-align: center;
	padding: 25px 0 0;
	border-top: 1px solid #bcbcbc;
	border-top: 1px solid rgba(0,0,0,0.2);
	position: relative;

	.pow-pagination-inner {
		margin: 0 10px;
		float: left;
	}

	.page-number, .current-page, .pow-pagination-next a, .pow-pagination-previous a {
		display: block;
		padding: 11px 14px;
		line-height: 12px;
		font-size: 12px;
		margin: 0 1px;
		font-weight: bold;
		float: left;
		.border-radius(2px);
	}

	.page-number, .current-page {
		background-color: #313d53;
		color: #fff !important;
		&:hover {
			background-color: #a1a1a1;
		}
	}

	.current-page{
		background-color: #a1a1a1;
	}
	.pow-total-pages {
		float: right;
	}

	.pow-pagination-next a, .pow-pagination-previous a{
		float: left;
		color: #a1a1a1;
		&:before {
			line-height: 32px;
			font-size: 16px;
		}

		&:hover{
			color:#313d53;
		}

	}
}



.pow-page-links {
	margin:10px 0 20px 10px;
	font-weight: bold;
	a {
		display: inline-block;
		line-height: 14px;
		font-size: 12px;
		margin: 0;
	}
}
/* Loader */
.pow-loader {
	position: fixed;
	top: 100%;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 5px;
	background: rgba(0,0,0,0.1);
	pointer-events: none;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;

	&::before {
		position: absolute;
		content: '';
		height: 100%;
		width: 100%;
		background: #73a000;
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
		transition: opacity 0.3s, transform 0s 0.3s;
	}

	&.la-animate {
		&::before {
			opacity: 1;
			-webkit-transition: -webkit-transform 5.4s linear 0.3s;
			transition: transform 5.4s linear 0.3s;

			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		z-index: 910;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);

	}
}
.pow-loadmore-button {
	margin: 0 auto 40px;
	color: #313d53 !important;
	font-size: 13px;
	display: block;
	text-align: center;
	padding: 0 0 15px;
	line-height: 16px;
	font-weight: bold;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	&:hover {
		opacity: 0.8;
	}
	.pow-moon-arrow-down-4 {
		font-size: 16px;
		margin-right: 10px;
		color: #b5b5b5;
	}

	.pow-moon-loop-4 {
		font-size: 16px;
		color: #313d53;
		-moz-animation: spin 0.6s infinite linear;
	    -o-animation: spin 0.6s infinite linear;
		-webkit-animation: spin 0.6s infinite linear;
		animation: spin 0.6s infinite linear;
		display: block;
		width: 16px;
		position: absolute;
		left:50%;
		top:50%;
		margin: -8px 0 0 -8px;
		.opacity(0);
	}



	&.pagination-loading {
		background-color: #fff;
		color: #d7d7d7 !important;
		.pow-moon-arrow-down-4 {
			color: #e6e6e6;
		}
		.pow-moon-loop-4 {
			.opacity(100);
		}
	}

	#infscr-loading {
		display: none !important;
	}
	&.disable-pagination {
		cursor: default;
	}

	@media handheld, only screen and (max-width: 700px) {
	
			width: 100% !important;
	}

}
