
#pow-filter-portfolio {
	margin-bottom: 15px;

	&.filter-classic {
		padding-bottom: 10px;
		margin-left: 12px;
		margin-right: 12px; 
		ul {
			
		}
	}


	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		float: left;
		display: inline-block;
		li { 
			display: inline-block;
			float: left;
			margin: 0 10px 5px 0;
			a {
				padding: 8px;
				line-height: 12px;
				font-size: 13px;
				display: block;
				border:1px solid transparent;
				&.current {
					background-color: #efefef;
					.border-radius(2px);
				}
			}
		}
	}	
}



.pow-portfolio-list {

	.pow-portfolio-item {
		width: 98% !important;
		margin: 0 0 20px !important;
	}
	.portfolio-meta-wrapper {
		float: left;
		width: 55%;
	}

	.featured-image {
		width: 45%;
		float: left;
	}


}

.pow-portfolio-classic-item{
	float: left;
	
	.opacity(0);
	

	.portfolio-classic-holder {
		margin:0 10px 20px 10px;
		background-color: #fff;
		border:1px solid #efefef;
		.box-shadow(0 2px 0 #f9f9f9);
		overflow: hidden;
	}

	&.portfolio-one-column {
		width:100%;
	}

	&.portfolio-two-column {
		width: 50%;
	}

	&.portfolio-three-column {
		width: 33.31%;
	}

	&.portfolio-four-column {
		width: 25%;
	}
	&.portfolio-five-column {
		width: 20%;
	}
	&.portfolio-six-column {
		width: 16.6%;
	}
	@media handheld, only screen and (max-width: 1140px) {
		&.portfolio-four-column, &.portfolio-five-column, &.portfolio-six-column {
			width: 33.1%;
		}
	}

	@media handheld, only screen and (max-width: 960px) {
		&.portfolio-two-column, &.portfolio-three-column, &.portfolio-four-column, &.portfolio-five-column, &.portfolio-six-column {
			width: 49.5%;
		}
	}

	@media handheld, only screen and (max-width: 540px) {
	
			width: 100% !important;
	}


	.featured-image {
		position: relative;
		overflow: hidden;

		img {
			position: relative;
			z-index: 10;
			-webkit-backface-visibility: hidden;
			width: 100%;
		}

		.image-hover-overlay {
			z-index: 11;

		}
		&:hover {
			.permalink-badge, .pow-lightbox {
				.opacity(100);
			}
			.permalink-badge {
				left: 50%;
			}
			.pow-lightbox {
				right:50%;
			}
			img {
				.scale(1.1);
			}
		}
	}

	.permalink-badge, .pow-lightbox {
		position: absolute;
		z-index: 20;
		width: 30px;
		height: 30px;
		top:50%;
		margin-top: -20px;
		.opacity(0);
		background-color: rgba(0,0,0,0.5);
		padding: 4px 6px;
		.border-radius(2px);
		text-align: center;

		&:hover {
			background-color: rgba(0,0,0,0.7);
		}

		i {
			font-size: 16px;
			color: #fff;
			line-height: 32px;
		}
	}


	.permalink-badge {
		margin-left: -50px;
	}

	.pow-lightbox {
		margin-right: -50px;
		&.hover-single-icon {
			margin-right: -20px !important;
		}
	}

}

.portfolio-meta-wrapper {
	padding: 20px;

	.the-title {
		line-height: 20px !important;
		margin-bottom: 8px;
		font-size: 14px !important;
		
		a {
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	.portfolio-categories{
		font-size: 12px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.the-excerpt {
		margin-top: 10px;
	}

}



.pow-portfolio-orientation, .pow-woocommerce-orientation {
	float: right;
	margin-top: 10px;

	a {
		display: block;
		float: right;
		padding: 14px 16px;
		line-height: 11px;
		background-color: #e8e8e8;
		border:1px solid #d1d1d1;
		background-repeat: no-repeat;
		background-image: url(../images/portfolio-orientation.png);
		margin-left: 10px;
		.border-radius(1px);
		position: relative;

		&:active, &.current {
			background-color: #fff;
		}

	}

	@media handheld, only screen and (max-width: 860px) {
			display: none !important;
	}

}

.pow-list-view {
	background-position: 7px 8px;
}

.pow-grid-view {
	background-position: -77px -27px;
}


/*******************************/






/* Modern Style */
.pow-modern-portfolio-item {
	.opacity(0);
	float: left;
	margin: 0 2px 4px;

	&.portfolio-one-column {
		width: 100%;
		
	}

	&.portfolio-two-column {
		width: 49.4%;
	}

	&.portfolio-three-column {
		width: 32.8%;
	}

	&.portfolio-four-column {
		width: 24.6%;
	}
	&.portfolio-five-column {
		width: 19.6%;
	}
	&.portfolio-six-column {
		width: 16%;
	}
	@media handheld, only screen and (max-width: 1140px) {
		&.portfolio-four-column, &.portfolio-five-column, &.portfolio-six-column {
			width: 32%;
		}
	}

	@media handheld, only screen and (max-width: 960px) {
		&.portfolio-two-column, &.portfolio-three-column, &.portfolio-four-column, &.portfolio-five-column, &.portfolio-six-column {
			width: 48%;
		}
	}

	@media handheld, only screen and (max-width: 540px) {
	
			width: 100% !important;
	}

	&.portfolio-six-column {
			.modern-portfolio-meta {
				display: none;
			}
	}
	

	.modern-portfolio-meta {
		position: absolute;
		bottom:20px;
		left: 0;
		width: 100%;
		text-align: center;
		z-index: 20;
		text-transform: uppercase;
		padding-bottom: 20px;
		.opacity(0);
		.transition(all 0.4s ease-in-out);
	}

	.the-title {
		letter-spacing: 2px;
		line-height: 18px !important;
		padding: 0 20px;
		color: #fff !important;
		font-size: 14px !important;
		line-height: 18px !important;
		
	}
	.portfolio-categories {
		padding: 0 20px;
		.transition(opacity 0.5s ease-in-out);
		.opacity(0);
	}
	.portfolio-categories span{
		color: #fff;
	}

	.modern-post-type-icon {
		position: absolute;
		display: block;
		z-index: 20;
		top:25%;
		left:50%;
		margin-left: -26px;
		.opacity(0);
		text-align: center;
		width: 52px;
		height: 52px;
		line-height: 32px;
		color: #fff;

		i {
			font-size: 32px;
			line-height: 32px;
			height: 32px;
			width: 32px;
			padding: 10px;
		}
	}


	.featured-image {
		position: relative;
		overflow: hidden;

		img {
			position: relative;
			z-index: 10;
			-webkit-backface-visibility: hidden;
			width: 100%;
		}

		.image-hover-overlay {
			z-index: 11;
			.scale(0.8);
			.box-shadow(inset 0 0 1920px 1920px rgba(0,0,0,.5));

		}

		.modern-post-type-icon {
			-webkit-transition: all 500ms cubic-bezier(1, 0, 0.005, 1);
			-webkit-transition: all 500ms cubic-bezier(1, -0.12, 0.005, 1);
			-moz-transition: all 500ms cubic-bezier(1, -0.12, 0.005, 1);
			-o-transition: all 500ms cubic-bezier(1, -0.12, 0.005, 1);
			transition: all 500ms cubic-bezier(1, -0.12, 0.005, 1);
			-webkit-transition-timing-function: cubic-bezier(1, 0, 0.005, 1);
			-webkit-transition-timing-function: cubic-bezier(1, -0.12, 0.005, 1);
			-moz-transition-timing-function: cubic-bezier(1, -0.12, 0.005, 1);
			-o-transition-timing-function: cubic-bezier(1, -0.12, 0.005, 1);
			transition-timing-function: cubic-bezier(1, -0.12, 0.005, 1);
		}

		&:hover {
			.modern-post-type-icon {
				.opacity(100);
				.rotate(360deg);
			}
			.modern-portfolio-meta {
				.opacity(100);
				bottom:30px;
			}
			.portfolio-categories {
				.opacity(100);
			}
			.image-hover-overlay {
				.opacity(80);
				.scale(1);
				
			}
		}
	}


}


.pow-main-wrapper.right-layout, .pow-main-wrapper.right-layout {
	.pow-modern-portfolio-item.portfolio-two-column, 
	.pow-modern-portfolio-item.portfolio-three-column,
	.pow-modern-portfolio-item.portfolio-four-column,
	.pow-modern-portfolio-item.portfolio-five-column,
	.pow-modern-portfolio-item.portfolio-six-column {
		width: 49.5%;
	}
}




.ajax-container {
	-moz-transition: all 0.5s cubic-bezier(0,0,0.25,1);
	-webkit-transition: all 0.5s cubic-bezier(0,0,0.25,1);
	transition: all 0.5s cubic-bezier(0,0,0.25,1);
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	overflow: hidden;
	border:1px solid #dddddd;
	.transform( scale(0) rotateX(45deg) );
	margin:15px 7px 0px 2px;
	.opacity(0);
	// display: none;
	&.opened {
		z-index: 999;
		// display: block;
		height: auto !important;
		.opacity(100);
		.transform( scale(1) rotateX(0deg) );
	}
}

.ajax_project {
	padding:20px;	
}

.ajax-controls {
	border-bottom: 1px solid #dddddd;
	overflow: hidden;

	a {
		&.close-ajax {
			float: left;
			border-left: none;
			border-right: 1px solid #dddddd;
		}
		float: right;
		width: 37px;
		height: 37px;
		
		text-align: center;
		color: #bbbbbb;
		border-left: 1px solid #dddddd;

		i {
			font-size: 16px;
			line-height: 37px;
		}

		&:hover {
			color: #222222;
		}
	}
}

.portfolio-loader {
	position: absolute;
	z-index: 10000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}


.portfolio-loader > div {
	background: url(../images/ajax-loading.gif) no-repeat center center #000;
	border-radius: 30px;
	height: 60px;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
	position: absolute;
	top: 40%;
	width: 60px;
	opacity: 0.7;
	z-index: 10000;
}



