.pow-image-shortcode {
    .pow-image-inner.stack, .stack {
        &.stack-spread,
        &.stack-fanout,
        &.stack-randomrot,
        &.stack-sideslide,
        &.stack-sidegrid,
        &.stack-bouncygrid,
        &.stack-peekaboo,
        &.stack-previewgrid,
        &.stack-cornergrid,
        &.stack-coverflow,
        &.stack-leaflet,
        &.stack-vertspread,
        &.stack-vertelastic,
        &.stack-fan,
        &.stack-queue {
            margin: 20px auto;
            width: 100%;
            overflow: visible;
            padding: 0;
            position: relative;
            max-width: 100%;
            .stack-figure {
                max-width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                outline: 1px solid transparent;
                img {
                    opacity: 0.1;
                }
                &:last-child {
                    position: relative;
                }
            }
        }
    }
}

/**
 * Portfolio: Simple Spread
 */
.stack-spread {
    &.active {
        .stack-figure {
            &:nth-child(3) {
                -webkit-transform: translate(-15px,15px);
                transform: translate(-15px,15px);
            }
            &:first-child {
                -webkit-transform: translate(15px,-15px);
                transform: translate(15px,-15px);
            }
        }
    }
}
/**
 * Portfolio: Fan out
 */
.stack-fanout {
  .stack-figure {
    &:first-child, &:nth-child(2) {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
  }
  &.active .stack-figure {
    &:nth-child(3) {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    &:first-child {
      -webkit-transform: rotate(-10deg) translateX(-25%) scale(0.8);
      transform: rotate(-10deg) translateX(-25%) scale(0.8);
    }
    &:nth-child(2) {
      -webkit-transform: rotate(10deg) translateX(25%) scale(0.8);
      transform: rotate(10deg) translateX(25%) scale(0.8);
    }
  }
}
/**
 * Portfolio: Random rotation
 */
.stack-randomrot.active .stack-figure {
  &:nth-child(3) {
    -webkit-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
  }
  &:first-child {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  &:nth-child(2) {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}
/**
 * Portfolio: Side slide
 */
.stack-sideslide {
  .stack-figure {
    &:first-child, &:nth-child(2) {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, visibility 0s 0.3s;
      transition: transform 0.3s, opacity 0.3s, visibility 0s 0.3s;
    }
    &:first-child {
      -webkit-transform: translateX(-50%) scale(0.6);
      transform: translateX(-50%) scale(0.6);
    }
    &:nth-child(2) {
      -webkit-transform: translateX(50%) scale(0.6);
      transform: translateX(50%) scale(0.6);
    }
  }
  &.active .stack-figure {
    &:nth-child(3) {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    &:first-child, &:nth-child(2) {
      opacity: 1;
      visibility: visible;
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s;
    }
    &:first-child {
      -webkit-transform: translateX(-20%) scale(0.8);
      transform: translateX(-20%) scale(0.8);
    }
    &:nth-child(2) {
      -webkit-transform: translateX(20%) scale(0.8);
      transform: translateX(20%) scale(0.8);
    }
  }
}
/**
 * Portfolio: Side Grid
 */
.stack-sidegrid {
  .stack-figure {
    &:first-child, &:nth-child(2), &:nth-child(3) {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    &:nth-child(4) {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }
    &:nth-child(3) {
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
    }
    &:nth-child(2) {
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
    }
    &:first-child {
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
  }
  &.active .stack-figure {
    -webkit-transform: scale(0.48);
    transform: scale(0.48);
  }
}
/**
 * Portfolio: Bouncy Grid
 */
.stack-bouncygrid.active .stack-figure {
  -webkit-transform: scale(0.48);
  transform: scale(0.48);
  &:nth-child(4) {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  &:nth-child(3) {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  &:nth-child(2) {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  &:first-child {
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
/* Peek-a-boo */
.stack-peekaboo {
  .stack-figure {
    &:first-child, &:nth-child(2), &:nth-child(3) {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
  }
 .pow-image-overlay,.pow-lightbox {
      -webkit-transform: scale(0.5) translate(-50%, -50%) rotate(-15deg);
      transform: scale(0.5) translate(-50%, -50%) rotate(-15deg);
 }
  &.active .stack-figure {
    &:nth-child(3) {
      -webkit-transform: scale(0.5) translate(-50%, -50%) rotate(-15deg);
      transform: scale(0.5) translate(-50%, -50%) rotate(-15deg);
    }
    &:first-child {
      -webkit-transform: scale(0.5) translate(50%, -50%) rotate(15deg);
      transform: scale(0.5) translate(50%, -50%) rotate(15deg);
    }
    &:nth-child(2) {
      -webkit-transform: scale(0.5) translate(0, -50%);
      transform: scale(0.5) translate(0, -50%);
    }
    &:nth-child(4) {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .stack-figure:nth-child(4) {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

/**
 * Portfolio: Preview Grid
 */
.stack-previewgrid {
    .stack-figure {
        &:first-child, &:nth-child(2), &:nth-child(3) {
            width: 24.5%;
            top: auto;
            left: auto;
            bottom: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        &:first-child {
            right: 12.5%;
        }

        &:nth-child(2) {
            left: 37.75%;
        }

        &:nth-child(3) {
            left: 12.5%;
        }
        &:nth-child(4) {
            -webkit-transform-origin: 50% -1.5%;
            transform-origin: 50% -1.5%;
        }
    }

    &.active {
        .stack-figure {
            &:first-child, &:nth-child(2), &:nth-child(3) {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            &:nth-child(4) {
                -webkit-transform: scale(0.75);
                transform: scale(0.75);
            }
        }
    }
}
/**
 * Portfolio: Corner grid
 */
.stack-cornergrid {
    .stack-figure {
        &:first-child, &:nth-child(2), &:nth-child(3) {
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
        }
        &:nth-child(4) {
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }

    &.active {
        .stack-figure {
            &:nth-child(3) {
                -webkit-transform: scale(0.5) translate(-100%,0%);
                transform: scale(0.5) translate(-100%,0%);
            }

            &:nth-child(2) {
                -webkit-transform: scale(0.5) translate(-100%,-100%);
                transform: scale(0.5) translate(-100%,-100%);
            }

            &:first-child {
                -webkit-transform: scale(0.5) translate(0%,-100%);
                transform: scale(0.5) translate(0%,-100%);
            }
            &:nth-child(4) {
                -webkit-transform: scale(0.5);
                transform: scale(0.5);
            }
        }
    }
}
/**
 * Portfolio: Coverflow
 */
.stack-coverflow {
    -webkit-perspective: 1600px;
    perspective: 1600px;
     .pow-image-overlay,.pow-lightbox {
        -webkit-transform: translateZ(-300px) translateX(-10%) rotateY(-45deg);
        transform: translateZ(-300px) translateX(-10%) rotateY(-45deg);
     }

    &.active {
        .stack-figure {
            &:nth-child(3) {
                -webkit-transform: translateZ(-300px) translateX(-10%) rotateY(-45deg);
                transform: translateZ(-300px) translateX(-10%) rotateY(-45deg);
            }

            &:first-child {
                -webkit-transform: translateZ(-300px) translateX(10%) rotateY(-45deg);
                transform: translateZ(-300px) translateX(10%) rotateY(-45deg);
            }

            &:nth-child(2) {
                -webkit-transform: translateZ(-300px) rotateY(-45deg);
                transform: translateZ(-300px) rotateY(-45deg);
            }
        }
    }
}
/**
 * Portfolio: leaflet
 */
.stack-leaflet {
    -webkit-perspective: 1600px;
    perspective: 1600px;

    -webkit-transform: scale(0.8);
    transform: scale(0.8);

     .pow-image-overlay,.pow-lightbox {
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;

        -webkit-transform: rotateX(35deg);
        transform: rotateX(35deg);
        -webkit-transition-delay: .05s;
        transition-delay: .05s;
     }


    .stack-figure {
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }

    &.active {
        .stack-figure {
            &:nth-child(4) {
                -webkit-transform: rotateX(45deg);
                transform: rotateX(45deg);
            }

            &:nth-child(2) {
                -webkit-transform: rotateX(25deg);
                transform: rotateX(25deg);
                -webkit-transition-delay: .1s;
                transition-delay: .1s;
            }

            &:nth-child(3) {
                -webkit-transform: rotateX(35deg);
                transform: rotateX(35deg);
                -webkit-transition-delay: .05s;
                transition-delay: .05s;
            }
        }
    }
}
/**
 * Portfolio: Vertical Spread
 */
.stack-vertspread {
    .pow-image-overlay,.pow-lightbox {
                -webkit-transform: translateY(50px);
                transform: translateY(50px);
                -webkit-transition-delay: .1s;
                transition-delay: .1s;
    }
    &.active {
        .stack-figure {
            &:nth-child(4) {
                -webkit-transform: translateY(75px);
                transform: translateY(75px);
            }
            &:nth-child(3) {
                -webkit-transform: translateY(50px);
                transform: translateY(50px);
                -webkit-transition-delay: .1s;
                transition-delay: .1s;
            }

            &:nth-child(2) {
                -webkit-transform: translateY(25px);
                transform: translateY(25px);
                -webkit-transition-delay: .2s;
                transition-delay: .2s;
            }
        }
    }
}
/**
 * Portfolio: Vertical Elastic Spread
 */
.stack-vertelastic {
    .stack-figure {
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    &.active {
        .stack-figure {
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1);
/**
 * Portfolio: older webkit
 */
            -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
        }

        &:nth-child(4) {
            -webkit-transform: translateY(90px);
            transform: translateY(90px);
        }

        &:nth-child(2) {
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
        }

        &:nth-child(3) {
            -webkit-transform: translateY(50px);
            transform: translateY(50px);
        }
    }
}
/**
 * Portfolio: Fan
 */
.stack-fan {
    .stack-figure, .pow-image-overlay,.pow-lightbox {
        -webkit-transform-origin: 0 0%;
        transform-origin: 0 0%;
    }
    &.active {
        .stack-figure {
            &:nth-child(4) {
                -webkit-transform: rotate(15deg);
                transform: rotate(15deg);
            }
            &:nth-child(2) {
                -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
                -webkit-transition-delay: .1s;
                transition-delay: .1s;
            }
            &:nth-child(3),.pow-image-overlay {
                -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
                -webkit-transition-delay: .05s;
                transition-delay: .05s;
            }
        }
    }
    .pow-image-overlay,.pow-lightbox {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
        -webkit-transition-delay: .05s;
        transition-delay: .05s;
    }

}
/**
 * Portfolio: Queue
 */
.stack-queue {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    .pow-image-overlay,.pow-lightbox {
      background-color: transparent !important;
    }

    &.active {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    .stack-figure {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-origin: 50% -50%;
        transform-origin: 50% -50%;

        &:first-child {
            -webkit-transform: scale(.7);
            transform: scale(.7);
        }

        &:nth-child(2) {
            -webkit-transform: scale(.8);
            transform: scale(.8);
        }

        &:nth-child(3) {
            -webkit-transform: scale(.9);
            transform: scale(.9);
        }
    }
}