/*
* RESET CSS
*/
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
    display: none;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  position: relative;
  -webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
}



a:hover,
a:active {
  outline: 0;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}


.google_map img {
  max-width: none !important;
}

.theme-content img, #pow-sidebar img, #pow-footer img, .pow-page-section img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}





button,
input,
select,
textarea {
  margin: 0;
  vertical-align: middle;
  font-size: 100%;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}

a {
    color: #777;
}

p {
    line-height: 22px;
    margin-bottom: 30px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

strong, th, thead td {
    font-weight: bold;
}

cite, em, dfn {
    font-style: italic;
}


code, pre, xmp{
  margin: 10px 0 10px 0;
  display: block;
  font-size: 12px;
  color: #ffffff;
  line-height: 20px;
  border: 1px solid #e8e8e8;
  padding:1px 20px;
  .box-shadow(inset 10px 0 0 0 #e8e8e8);
  background:#282828;
  background: #282828 url("../images/preformat.png") repeat scroll 0 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  overflow:auto;
}

del {
    color: #666;
    text-decoration: line-through;
}

ins, dfn {
    border-bottom: 1px solid #ccc;
}

small, sup, sub {
    font-size: 85%;
}

abbr, acronym {
    text-transform: uppercase;
    letter-spacing: .1em;
}

a abbr, a acronym {
    border: none;
}

abbr[title], acronym[title], dfn[title] {
    border-bottom: 1px dotted #ccc;
    cursor: help;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}

p, ul, ol, dl, table, fieldset, blockquote, pre, code {
    margin-bottom: 20px;

}

a {
    text-decoration: none;
}

p, a {
  -ms-word-wrap: break-word;
    word-wrap: break-word;
}

a:link, a:visited, a:hover, a:active, a:focus {
    outline: 0 none;
    text-decoration: none;
}
hr {
  border-width: 1px 0 0 0;
  opacity: 0.2;
}

* html .clearboth {
    height: 1%;
}


ul {
    margin-bottom: 1em;
    margin-left: 1.5em;
    list-style-type: disc;
}

ul li {
    margin-left: .85em;
}

ul ul {
    list-style-type: square;
}

ul ul ul {
    list-style-type: circle;
}

ol {
    margin-bottom: 1em;
    margin-left: 2.35em;
    list-style-position: outside;
    list-style-type: decimal;
}

dt {
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 0.2em;
  }
dd {
  margin: 0;
  padding: 0 0 1em 15px;
}

ol ol, ul ol {
    margin-left: 2.5em;
}

ul ol, ol ul, ol ol, ul ul {
    margin-bottom: 0;
}


fieldset {
    padding: 1em;
    border: 1px solid #dddddd;
}

legend {
    padding: 0 .8em;
    font-weight: bold;
    font-size: 1.2em;
}

textarea, input[type=text], input[type=password], input[type=email], select {
    outline: none;
    border: none;
    font-size: inherit;
}

input, select {
    cursor: pointer;
}

input[type=text], input[type=password], input[type=email] {
    cursor: text;
}

textarea {
    overflow: auto;
   
}

textarea, input[type=text], input[type=tel], input[type=email], input[type=password] {
    font-size: 13px;
    color: #767676;
    padding: 12px;
    background-color: #fafafa;
    border:1px solid #e3e3e3;
    outline: none;
    margin-bottom: 4px;
    &:focus {
      background-color: #fff;
    }
}



select{
   background-color:#fff;
   border:1px solid #e3e3e3;
   background: url('../images/selectbox-arrow.png')  right center  no-repeat;
   -webkit-appearance:none;
   -moz-appearance:none;
   appearance:none;
   padding:12px 14px 12px 20px;
   font-size: 12px;
  line-height: 14px;
  color: #313d53;
  .border-radius(0) !important;
  font-weight: bold;
  min-width: 240px;
  max-width: 100%;
  display: block;
}

option {
    padding: 0 4px;
}


/* HEADEING STYLES */
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.8em;
    font-weight: normal;
    line-height: 1.2em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

h1 {font-size: 36px;margin-bottom: 16px;}
h2 {font-size: 30px;margin-bottom: 14px;}
h3 {font-size: 28px;margin-bottom: 10px;}
h4 {font-size: 24px;margin-bottom: 9px;}
h5 {font-size: 18px;margin-bottom: 8px;}
h6 {font-size: 14px;margin-bottom: 8px;}


.visuallyhidden { 
  position: absolute !important; 
  overflow: hidden; 
  clip: rect(0 0 0 0);
  left:-100000px;
  top:-100000px;
  margin: -1px; padding: 0; border: 0; 
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}



.pow-video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.pow-video-container iframe,
.pow-video-container object,
.pow-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pow-video-wrapper {
  max-width: 100%;

}


.pow-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

}
.pow-background-stretch {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pow-background-stretch-150 {
  -webkit-background-size: 150% auto;
  -moz-background-size: 150% auto;
  -o-background-size: 150% auto;
  background-size: 150% auto;
}

.pow-background-stretch-200 {
  -webkit-background-size: 200% auto;
  -moz-background-size: 200% auto;
  -o-background-size: 200% auto;
  background-size: 200% auto;
}

.pow_rev_slider_wrapper {
  overflow: hidden;
}

.ls-falcon .ls-nav-prev, .ls-falcon .ls-nav-next {
  z-index: 10 !important;
}

.relative {
  position: relative !important;
}
