
.floatleft, .alignleft {
    float: left;
    text-align: left;
}

.floatright, .alignright {
    float: right;
    text-align: right;
}

.aligncenter {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}


.clearboth {
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;
    width: 0;
    height: 0;
}

.clearboth:after {
    display: block;
    visibility: hidden;
    clear: both;
    width: 0;
    height: 0;
    content: ' ';
    font-size: 0;
    line-height: 0;
}
.hidden {
    display: none;
}