
.featured-image a.post-type-badge,
.featured-image .image-hover-overlay,
.portfolio-logo-section .portfolio-social li a,
.widget_contact_form .contact-widget-button,
.widget_instagram ul li a,
.widget_posts_lists ul li.post-list-document .post-type-thumb,
.widget .pow-searchform .search-button,
.pow-image-shortcode-link,
.pow-process-steps p,
.widget-portfolio-overlay,
.portfolio-widget-info,
.portfolio-widget-lightbox,
.portfolio-widget-permalink,
.portfolio-carousel-overlay,
.blog-carousel-overlay,
.portfolio-carousel-lightbox,
.portfolio-carousel-permalink,
.blog-showcase-overlay,
.pow-portfolio-carousel .flex-viewport ul li img,
.pow-blog-showcase ul li img,
.image-hover-overlay,
.featured-image img,
.permalink-badge, 
.pow-lightbox,
.post-type-badge,
.pow-similiar-thumbnail img,
.pow-skype-call,
.pow-skype-call i:before,
.widget_posts_lists ul li img,
.portfolio-showcase-extra-info,
.blog-showcase-extra-info,
.pow-blog-showcase ul li,
#pow-header-social ul li a,
.blog-classic-item .featured-image a.permalink-badge,
.blog-classic-item .featured-image a.zoom-badge,
.blog-newspaper-item .newspaper-meta-wrapper,
.blog-newspaper-item .featured-image .image-hover-overlay,
.blog-newspaper-item .featured-image a.permalink-badge,
.blog-newspaper-item .featured-image a.zoom-badge,
.pow-pagination a,
.pow-woocommerce-pagination a,
.pow-blog-single-page .about-author-avatar-social-wrapper .about-author-social,
.pow-blog-single-page .about-author-avatar-social-wrapper .about-author-social li a,
.similar-posts-wrapper ul li .post-thumbnail .overlay-pattern,
.filter-portfolio ul li a,
.portfolio-carousel-extra-info,
.pow-portfolio-newspaper-item .zoom-badge,
.pow-clients-shortcode .client-logo,
.pow-pricing-cols .pow-pricing-button a,
.widget_social_networks a,
.widget-sub-navigation ul li a,
.pow-social-network-shortcode a i,
.pow-quick-contact-link,
.portfolio-similar-posts img,
.single-post-tags a,
.showcase-blog-overlay,
.pow-nav-responsive-link,
.pow-responsive-close,
#pow-footer-navigation ul li a,
.ls-falcon .ls-nav-prev, 
.ls-falcon .ls-nav-next,
a.jp-play,
a.jp-pause,
#cboxPrevious,
#cboxNext,
#cboxClose,
.woo-hidden-section,
.pow-image-overlay,
.modern-post-type-icon,
.portfolio-modern-meta,
.pow-loop-next-prev a,
.portfolio-similar-meta,
.text-input, .pow-textarea,
#pow-nav-search-wrapper form i,
.blog-grid-hover-icon,
.shop-flat-btn, 
#review_form_wrapper input[type=submit], 
.pow-message-box .button,
.blog-modern-btn,
.the-title a,
.pow-readmore,
.blog-social-share a,
.blog-modern-comment, 
.blog-modern-share,
.pow-search-trigger > i,
.pow-loadmore-button

 {
 	.transition(all 0.2s ease-in-out);
  -webkit-perspective: 1000;

 }

 .modern-style-nav .pow-header-inner .main-navigation-ul > li > a {
  .transition(color 0.2s ease-in-out);
  .transition(background 0.2s ease-in-out);
  .transition(border 0.2s ease-in-out);
  -webkit-perspective: 1000;
 }


.pow-fixed .modern-style #pow-main-navigation > ul > li > a {
  .transition(border-color 0.2s ease-in-out);
}




.pow-box-icon .icon-box-boxed .pow-main-ico{
	.transition(all 0.15s ease-in-out);
  -webkit-perspective: 1000;
}

.pow-blog-showcase-thumb a,
.pow-header-start-tour i,
.pow-accordion-tab:before,
.pow-toggle-title:before,
.pow-social-network-shortcode ul li a {
	.transition(all 0.25s ease-in-out);
  -webkit-perspective: 1000;
}




.pow-transform .pow-animate-element{
	opacity: 0;
  -webkit-perspective: 1000;
}

.pow-transform .pow-animate-element.pow-in-viewport.fade-in{
  -webkit-animation: pow_fade 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-animation:    pow_fade 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-animation:      pow_fade 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation:         pow_fade 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
  opacity: 1;
}

.pow-transform .pow-animate-element.pow-in-viewport.scale-up{
	-webkit-animation: pow_scale 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-moz-animation:    pow_scale 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-o-animation:      pow_scale 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
	animation:         pow_scale 0.7s 1 cubic-bezier(0.445, 0.05, 0.55, 0.95);
	opacity: 1;
}


.pow-transform .pow-animate-element.pow-in-viewport.right-to-left{
	-webkit-animation: pow_right_to_left 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	-moz-animation:    pow_right_to_left 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	-o-animation:      pow_right_to_left 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	animation:         pow_right_to_left 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	opacity: 1;
}

.pow-transform .pow-animate-element.pow-in-viewport.left-to-right{
	-webkit-animation: pow_left_to_right 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	-moz-animation:    pow_left_to_right 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	-o-animation:      pow_left_to_right 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	animation:         pow_left_to_right 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	opacity: 1;
}

.pow-transform .pow-animate-element.pow-in-viewport.top-to-bottom{
	-webkit-animation: pow_top_to_bottom 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	-moz-animation:    pow_top_to_bottom 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	-o-animation:      pow_top_to_bottom 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	animation:         pow_top_to_bottom 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	opacity: 1;
}

.pow-transform .pow-animate-element.pow-in-viewport.bottom-to-top{
	-webkit-animation: pow_bottom_to_top 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	-moz-animation:    pow_bottom_to_top 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	-o-animation:      pow_bottom_to_top 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	animation:         pow_bottom_to_top 0.6s 1 cubic-bezier(1,-0.12,0.005,1);
	opacity: 1;
}




.pow-floating-vertical {
  -webkit-animation: pow_float 2s infinite linear;
  -moz-animation: pow_float 2s infinite linear;
  -ms-animation: pow_float 2s infinite linear;
  -o-animation: pow_float 2s infinite linear;
  position: relative;
}

.pow-floating-horizontal {
  -webkit-animation: pow_floatx 2s infinite linear;
  -moz-animation: pow_floatx 2s infinite linear;
  -ms-animation: pow_floatx 2s infinite linear;
  -o-animation: pow_floatx 2s infinite linear;
  position: relative;
}


/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}



/* Floating */
@-webkit-keyframes pow_float {
  0%   {top:0px}
  50%  {top:15px}
  100% {top:0px}
}
@-moz-keyframes pow_float {
  0%   {top:0px}
  50%  {top:15px}
  100% {top:0px}
}
@-o-keyframes pow_float {
  0%   {top:0px}
  50%  {top:15px}
  100% {top:0px}
}
@keyframes pow_float {
  0%   {top:0px}
  50%  {top:15px}
  100% {top:0px}
}

@-webkit-keyframes pow_floatx {
  0%   {left:0px}
  50%  {left:15px}
  100% {left:0px}
}
@-moz-keyframes pow_floatx {
  0%   {left:0px}
  50%  {left:15px}
  100% {left:0px}
}
@-o-keyframes pow_floatx {
  0%   {left:0px}
  50%  {left:15px}
  100% {left:0px}
}
@keyframes pow_floatx {
  0%   {left:0px}
  50%  {left:15px}
  100% {left:0px}
}






/* Fade In animation */
@-webkit-keyframes pow_fade {
  0%   { opacity: 0.1;}
  100% { opacity: 1; }
}
@-moz-keyframes pow_fade {
  0%   { opacity: 0.1;}
  100% { opacity: 1; }
}
@-o-keyframes pow_fade {
  0%   { opacity: 0.1;}
  100% { opacity: 1; }
}
@keyframes pow_fade {
  0%   { opacity: 0.1; }
  100% { opacity: 1; }
}




/* Scale Up animation */
@-webkit-keyframes pow_scale {
  0%   { -webkit-transform:scale(0.3); opacity: 0.1;  }
  100% { -webkit-transform:scale(1); opacity: 1; }
}
@-moz-keyframes pow_scale {
  0%   { -moz-transform:scale(0.3); opacity: 0.1;  }
  100% { -moz-transform:scale(1);opacity: 1;  }
}
@-o-keyframes pow_scale {
  0%   { -o-transform:scale(0.3); opacity: 0.1;  }
  100% { -o-transform:scale(1);  opacity: 1; }
}
@keyframes pow_scale {
  0%   { transform:scale(0.3); opacity: 0.1;  }
  100% { transform:scale(1); opacity: 1;  }
}




/* Left to Right animation */
@-webkit-keyframes pow_left_to_right {
  0%   { -webkit-transform:translate(-15%,0); opacity: 0;  }
  100% { -webkit-transform:translate(0,0); opacity: 1; }
}
@-moz-keyframes pow_left_to_right {
  0%   { -moz-transform:translate(-15%,0); opacity: 0;  }
  100% { -moz-transform:translate(0,0); opacity: 1; }
}
@-o-keyframes pow_left_to_right {
  0%   { -o-transform:translate(-15%,0); opacity: 0;  }
  100% { -o-transform:translate(0,0); opacity: 1; }
}
@keyframes pow_left_to_right {
  0%   { transform:translate(-15%,0); opacity: 0;  }
  100% { transform:translate(0,0); opacity: 1; }
}



/* Right To Left animation */
@-webkit-keyframes pow_right_to_left {
  0%   { -webkit-transform:translate(15%,0); opacity: 0;  }
  100% { -webkit-transform:translate(0,0); opacity: 1; }
}
@-moz-keyframes pow_right_to_left {
  0%   { -moz-transform:translate(15%,0); opacity: 0;  }
  100% { -moz-transform:translate(0,0); opacity: 1; }
}
@-o-keyframes pow_right_to_left {
  0%   { -o-transform:translate(15%,0); opacity: 0;  }
  100% { -o-transform:translate(0,0); opacity: 1; }
}
@keyframes pow_right_to_left {
  0%   { transform:translate(15%,0); opacity: 0;  }
  100% { transform:translate(0,0); opacity: 1; }
}




/* Bottom to Top animation */
@-webkit-keyframes pow_bottom_to_top {
  0%   { -webkit-transform:translate(0,60%); opacity: 0;  }
  100% { -webkit-transform:translate(0,0); opacity: 1; }
}
@-moz-keyframes pow_bottom_to_top {
  0%   { -moz-transform:translate(0,60%); opacity: 0;  }
  100% { -moz-transform:translate(0,0); opacity: 1; }
}
@-o-keyframes pow_bottom_to_top {
  0%   { -o-transform:translate(0,60%); opacity: 0;  }
  100% { -o-transform:translate(0,0); opacity: 1; }
}
@keyframes pow_bottom_to_top {
  0%   { transform:translate(0,60%); opacity: 0;  }
  100% { transform:translate(0,0); opacity: 1; }
}



/* Top to Bottom animation */
@-webkit-keyframes pow_top_to_bottom {
  0%   { -webkit-transform:translate(0, -20%); opacity: 0;  }
  100% { -webkit-transform:translate(0,0); opacity: 1; }
}
@-moz-keyframes pow_top_to_bottom {
  0%   { -moz-transform:translate(0, -20%); opacity: 0;  }
  100% { -moz-transform:translate(0,0); opacity: 1; }
}
@-o-keyframes pow_top_to_bottom {
  0%   { -o-transform:translate(0, -20%); opacity: 0;  }
  100% { -o-transform:translate(0,0); opacity: 1; }
}
@keyframes pow_top_to_bottom {
  0%   { transform:translate(0, -20%); opacity: 0;  }
  100% { transform:translate(0,0); opacity: 1; }
}



.la-popping, .shopping-cart-header i span {
  -moz-animation: popping 1s linear infinite;
  -webkit-animation: popping 1s linear infinite;
  animation: popping 1s linear infinite;
}

@-moz-keyframes popping {
  0%    { -moz-transform: scale(0.8); }
  50%    { -moz-transform: scale(1.1); }
  100%  { -moz-transform: scale(0.8); }
}

@-webkit-keyframes popping {
  0%    { -webkit-transform: scale(0.8); }
  50%  { -webkit-transform: scale(1.1); }
  100%  { -webkit-transform: scale(0.8); }
}

@keyframes popping {
  0%    { transform: scale(0.8); }
  50%  { transform: scale(1.1); }
  100%  { transform: scale(0.8); }
}
