
.pow-uc-header {
	text-align: center;
	padding: 100px 0 140px 0;
	position: relative;
}

.pow-uc-header-logo {

	a {

	}
}

.pow-uc-wrapper {
	position: relative;
	z-index: 20;
	width: 760px;
	.border-radius(0px);
	min-height: 500px;
	background-color: rgba(128,128,128,0.05);
	margin: -145px auto 100px;
	text-align: center;

	@media handheld, only screen and (max-width: 760px) { 
		width: 90% !important;

	}
}

.pow-trans-border {
		position: absolute;
		display: block;
		content: "";
		z-index: 1;
		width: 752px;
		margin-left: -376px;
		left:50%;
		bottom:-104px;
		.border-radius(0);
		height: 250px;
	


	@media handheld, only screen and (max-width: 760px) { 
		width: 90% !important;
	}

	}

.pow-uc-title {
	padding: 70px 30px 60px;
	font-size: 32px;
	line-height: 40px;
	display: block;
	color: #333333;
}

.pow-uc-subtitle {
	display: block;
	font-size: 16px;
	color: #999999;
	margin-bottom: 20px;


}

#pow-uc-countdown {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 0 15px 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		.timestamp {
			display: block;
			font-size: 36px;
			list-style: 100%;
			font-weight: 300;
			padding: 15px 18px 5px;
			color: #8c8c8c;
			text-shadow: 1px 1px #fff;
		}

		.timeRef {
			color: #8c8c8c;
			display: block;
			padding: 3px;
			font-size: 12px;
			text-transform: capitalize;

		}
		@media handheld, only screen and (max-width: 750px) {
			width: 90%;
			display: block;
			margin: 0 auto 15px;
		}
	}
}

.pow-uc-social-subscribe {
	margin: 40px auto 20px auto;
	.border-radius(4px);
	display: inline-block;
	padding: 15px;
	background-color: #eaeaea;
	border:1px solid #d9d9d9;
}


.uc-social {
	margin: 0;
	padding: 9px 0 0;
	list-style: none;
	float: left;
		@media handheld, only screen and (max-width: 750px) {
			float: none !important;
			display: block;
			margin: 0 auto 10px  !important;
			text-align: center;
			li {
				float: none !important;
			}
		}

	li {
		display: inline-block;
		float: left;
		margin: 0;
		line-height: 4px;
		a {
			margin-right: 8px;
			line-height: 4px;
			i {
				font-size: 32px;
			}

			&.facebook-icon i{
				color: #3d619b;
			}

			&.twitter-icon i{
				color: #1fabc9;
			}

			&.googleplus-icon i{
				color: #b7312c;
			}

			&.rss-icon i{
				color: #fe3b1e;
			}
		}
	}

}

#pow-uc-subscribe {
	float: left;
	display: inline-block;
	margin-left: 20px;
	form {
		position: relative;
	}

	.text-input {
		background-color: #fff;
		width: 300px;
		padding: 15px 70px 15px 10px;
	}

	.pow-button {
		position: absolute;
		right:8px;
		top:9px;
		margin: 0;
		padding: 9px 15px;
		font-weight: normal;
		font-size: 10px;

		&:active {
			top:9px;
		}

	}
}

