.opacity (@opacity: 100) {
	zoom: 1;
	filter: e(%("alpha(opacity=%d)", @opacity));
	opacity: @opacity / 100;
	-moz-opacity: @opacity / 100;
}
.woocommerce {
	table.shop_attributes th, .woocommerce-page table.shop_attributes th {
		text-align: left;
		padding-left: 0;
	}
}
.pow-products {
	display: block;
	margin: 0;
	padding: 10px 0 30px !important;
	list-style: none;
	overflow: hidden;
	.product {
		margin: 0 !important;
		padding:0 8px 16px;
		position: relative;
		float: left;
		width: 25% !important;
		.opacity(0);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		@media handheld, only screen and (max-width: 1100px) {
			width: 33% !important;
		}	
		@media handheld, only screen and (max-width: 780px) {
			width: 49% !important;
		}	
		@media handheld, only screen and (max-width: 600px) {
			width: 100% !important;
		}

		&:hover {
			.product-item-rating {
				left:0;
				.opacity(100);
			}
			.add_to_cart_button {
				bottom:0;
				.opacity(100);
			}
		}

		.added_to_cart {
			position:absolute;
			left: -9999em;
			width: 1px;
		}

		.product-loading-icon {
			.transition(opacity 0.3s ease-in-out);
		}

		&.adding-to-cart:hover .product-loading-icon, &.added-to-cart:hover .product-loading-icon {
			.opacity(100);
		}

		&.adding-to-cart .product-loading-icon:before{
				-moz-animation: spin 0.8s infinite linear;
			    -o-animation: spin 0.8s infinite linear;
				-webkit-animation: spin 0.8s infinite linear;
				animation: spin 0.8s infinite linear;
				display: block;
				content: "\e2a2";
				

			}

		&.added-to-cart .product-loading-icon:before {
			content: "\e26a";
		}

	}

	.pow-product-holder {
		border:1px solid #e3e3e3;
		padding:0;
		z-index: 10;
		background-color: #fff;
		position: relative;
	

		

		.product-item-desc {
			padding: 0 15px;

			ul {
				margin-bottom: 15px;
				li {
				text-align: left;
				}
			}
		}
	

		.product-loop-image {
			position: relative;
			z-index: 3;
		}
		.product-hover-image {
			position: absolute;
			z-index: 4;
			left:0;
			top:0;
			.opacity(0);
			.transition(opacity 0.4s 0.3s ease-in-out);
            -webkit-perspective: 1000;
		}

		.product-loop-thumb {
			position: relative;
			a {
				position: relative;
				display: block;
				img {
					width: 100%;
				}
				&:hover {
					.product-hover-image {
						.opacity(100);
					}
				}
			}
		}


		h3 {
			font-size: 13px !important;
			line-height: 18px;
			padding: 15px 40px 0 15px;
			margin-bottom: 5px;
			font-weight: normal !important;
		}


		.pow-love-this {
			position: absolute;
			right:12px;
			top:12px;
			text-align: center;
				span {
					
					font-size: 11px;
					line-height: 12px;
					color: #ccc !important;
				}
				i {
			
				}
		}

	
		.pow-price {
			display: block;
			padding: 0 15px 15px;
			font-weight: bold;
			font-size: 18px;
			color: #313d53;
			.from {
				color: #aaaaaa;
				font-size: 14px;
				}
			ins {
				border:none;
				text-decoration: none;
				
				}
				del {
					font-size: 14px !important;
					color: #aaaaaa !important;
				}
		}
		.star-rating {
			display: block !important;
			float: none !important;
			margin: 0 auto 10px !important;
			color: #313d53 !important;

			&:before {
				content: "\53\53\53\53\53" !important;
				color: #c2c2c2 !important;
				font-size: 12px !important;
			}
			span:before {
				font-size: 12px !important;
			}

		}

		.added_to_cart {
			position: absolute;
			right:10px;
			top:10px;
			padding: 7px;
			.border-radius(3px);
			text-transform: uppercase;
			font-weight: bold;
			font-size: 11px;
			line-height: 12px;
			background-color: #333333;
			color: #fff;
		}

		.product-item-footer{
			position: absolute;
			height: 50px;
			bottom: 0;
			left:0;
			width: 100%;
			overflow: hidden;
		}

		.product-item-footer {
			position: absolute;
			left:0;
			height: 50px;
			bottom: 0;
			left:0;
			width: 100%;
			overflow: hidden;
			z-index: 6;
			
		}

		.add_to_cart_button {
			margin:0;
			width: 60%;
			height: 50px;
			background-color: #313d53;
			background-color: rgba(0,0,0,0.8);	
			line-height: 50px;
			text-align: center;
			color: #fff;
			font-size: 12px;
			font-weight: bold;
			display: inline-block;
			float: right;
			position: relative;
			bottom:-25px;
			.opacity(0);
			.transition(all 0.2s ease-in-out);
			i {
				font-size:16px;
				line-height: 50px;
				vertical-align: top;
				padding-right: 8px;
			}

			&:hover {
				background-color: rgba(0,0,0,0.9);	
			}
		}

		.product-item-rating {
			float: left;
			background-color: #fff;
			background-color: rgba(255,255,255,0.8);
			height: 50px;
			line-height: 50px;
			width: 40%;
			text-align: center;
			position: relative;
			left: -30px;
			.opacity(0);
			.transition(all 0.3s ease-in-out);

			.star-rating{
				font-size: 14px;
				letter-spacing: 1px;
				margin-top: 20px !important;
				&:before {
					color: #c2c2c2 !important;
				}
				span:before {
					letter-spacing: 1px;
					color: #313d53 !important;
				}

			}
		}

		.product-loading-icon {
			width: 70px;
			height: 70px;
			.border-radius(100px);
			display: block;
			position: absolute;
			left:50%;
			top:50%;
			margin: -60px 0 0 -35px;
			z-index: 5;
			text-align: center;
			.opacity(0);
			&:before {
				line-height: 70px;
				font-size: 24px;
				color: #fff;
			}
		}



		&:hover {
		
		}
	}


}


.left-layout, .right-layout {
	.pow-products {
		.product {
			width:33.3% !important;

			@media handheld, only screen and (max-width: 1100px) {
			width: 33% !important;
			}	
			@media handheld, only screen and (max-width: 780px) {
				width: 49% !important;
			}	
			@media handheld, only screen and (max-width: 600px) {
				width: 100% !important;
			}
		}
	}
}

.products.related {
	.pow-products {
		.product {
			width: 250px !important;

			@media handheld, only screen and (max-width: 650px) {
				width: 100% !important;
			}
		}
		
	}	
	
}



.pow-shop-header {

	margin:0 8px 10px;
	h4 {
		margin: 15px 0 0;
		font-size: 14px;
		float: left;
		letter-spacing: 1px;

	}

	.woocommerce-ordering {
		float: right;
	}

	@media handheld, only screen and (max-width: 600px) {
		.woocommerce-ordering, h4 {
			float: none !important;
			width: 100%;
			margin-bottom: 15px !important;

		}

		.woocommerce-ordering-div {
			float: left;
		}
	}	
}




.pow-onsale, .pow-out-stock, .out-of-stock {
	
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px !important;
	line-height: 11px;
	position: absolute;
	left:-4px;
	top:-4px;
	color: #fff !important;
	z-index: 30;
	letter-spacing: 1px;
	&::after {
		content: '';
		position: absolute;
		width: 1px;
		height: 1px;
		border: 3px transparent solid;
		border-top-color: rgba(128,128,128,0.9);
		border-right-color: rgba(128,128,128,0.9);
		left: 0;
		bottom: -4px;
	}
	// padding: 10px 20px;
	// text-transform: uppercase;
	// font-weight: bold;
	// font-size: 11px !important;
	// line-height: 11px;
	// position: absolute;
	// right:-4px;
	// top:-4px;
	// color: #fff !important;
	// z-index: 30;
	// letter-spacing: 1px;

}

.pow-onsale {
	background-color: #da4c26;
	
}
.pow-out-stock, .out-of-stock {
	background-color: #707070;
	
}




.single_product_title {
	font-size: 22px !important;
	font-weight: bold !important;
	margin-bottom: 22px;
}

.pow-single-rating {
	float: none !important;
	margin: 15px 0 10px;
}

.pow_product_meta {
	padding: 20px 10px;
	margin: 30px 0;
	font-size: 11px;

	border: 1px solid #e3e3e3;
	border-left: none;
	border-right: none;
	span {
		color: #aaaaaa;

		a {
			color: #313d53;
		}
	}
}

.pow-single-price {
	float: left;
	display: inline-block;
}

.pow-single-product {
	width: 55% !important;
	.cart {
		
		display: block;
		margin-bottom: 0 !important;

		td {
			display: block;
			width: 50%;
			text-align: left;
			padding: 5px;

			label {
				font-size: 14px;
				font-weight: bold;
			}
		}

		.reset_variations {
			font-size: 11px;
			padding: 5px 3px;
			font-style: italic;
			color: #999999;
		}
	}
	.quantity {
		display: inline-block;
		float: none !important;
	}
	.single_add_to_cart_button {
		float: right;
		clear: right;
	}

	.pow-single-price {
		color: #da4c26;
		font-size: 32px;
		font-weight: bold;

		.from {
			color: #aaaaaa;
			font-size: 18px;
		}

		ins {
			border:none;
			text-decoration: none;
		}
		del {
			float: right;
			margin-left: 10px;
			font-size: 15px !important;
			color: #aaaaaa;
		}

		i {
			color: #afafaf;
			margin-right: 6px;
			font-size: 24px;
		}
	}
}

.pow-single-images {
	  float: left !important;
      margin-bottom: 2em !important;
      width: 40% !important;

}

@media handheld, only screen and (max-width: 767px) {
	.pow-single-images, .pow-single-product {
		  float: none !important;
	      width: 100% !important;
	      padding-top: 30px;
	      clear: both;

	}
}

.pow-woocommerce-main-image img{
	width: 100% !important;
	max-width: 100% !important;
	margin-bottom: 8px !important;
}

.pow-woocommerce-main-image, .pow-single-thumbnails, .pow-single-images {
	img {
		
		border:1px solid #e1e1e1 !important;
		.box-shadow(none) !important;
	}
}

.yith_magnifier_gallery li a {
	margin: 0 !important;
}

.pow-single-thumbnails {
		a {
			float: left !important;
			display: block !important;
			margin: 0 8px 8px 0 !important;
			img {
				width: auto !important;
				.box-shadow(none) !important;
			}
		}
}


.pow-woo-tabs {
	margin:30px 0 50px;

	.pow-tabs-tabs {
		margin: 0;
		padding: 0;
		list-style: none;
		border-bottom: 1px solid #e3e3e3;

		li {
			display: inline-block;
			border-left: 1px solid #e3e3e3;

			&:first-child {
				border:none;
			}
			a {
				padding: 8px 20px;
				display: block;
				font-weight: bold;
				font-size: 13px;
				text-transform: uppercase;

			}
		}
	}

	.pow-tabs-panes {
		padding: 25px 0;
	}

	@media handheld, only screen and (max-width: 600px) {
				.pow-tabs-tabs {

					li {
						display: block !important;
						border-left: none !important;

						a {
							padding: 10px 0 !important;
						}
					}
				}
	}
}


.show_review_form.three-dimension {
			background-color: #bbbbbb;
			box-shadow: 0px 3px 0px 0px #9f9f9f;
			margin: 0 auto 20px !important;
			float: right !important;

			&:active {
				top:2px;
				box-shadow: 0px 1px 0px 0px #9f9f9f;
			}
}


.pow-skin-secondary-button {
	background: #bbbbbb !important;
	box-shadow: 0px 3px 0px 0px #9f9f9f !important;
		&:active {
				top:2px !important;
				box-shadow: 0px 1px 0px 0px #9f9f9f !important;
			}
}


.checkout-button {
	margin-left: 10px !important;

}

#coupon_code.input-text {
	padding: 11px;
	margin-right: 10px;
	width: 150px;
}

.woocommerce form.login, .woocommerce-page form.login, .woocommerce form.checkout_coupon, .woocommerce-page form.checkout_coupon, .woocommerce form.register, .woocommerce-page form.register {
	border: none !important;
	margin: 0 !important;
}

.woocommerce #payment div.payment_box, .woocommerce-page #payment div.payment_box {
	.box-shadow(none) !important;
	background: #fafafa !important;
}

.woocommerce #payment div.payment_box:after, .woocommerce-page #payment div.payment_box:after {
	border-bottom-color: #fafafa !important;
}

.shop_table {
	margin-bottom: 50px !important;
	border:none !important;
	.border-radius(0) !important;

	thead {
		

		th {
			padding:20px 12px !important;
			border:1px solid #e3e3e3;
			border-left:none;
			border-right: none;



		}
	}

	tbody {

		

		td {
			padding: 10px 12px !important;
			border-top-color: #fafafa !important;
		}
		tr:first-child td{
				border:none !important;
			}

		tr:nth-of-type(even) {
			background-color: #fafafa !important;
		}

		.product-name {
			text-align: left;
		}
	}

	tfoot {
		th {
			text-align: left !important;
		}
	}
}

.woocommerce .input-text {
	background-color: #fff;
}

.woocommerce #order_comments {
	height: 200px !important;
}

.woocommerce-message:before, .woocommerce-error:before, .woocommerce-info:before {
	padding-top: 0 !important;
}

.woocommerce table a.remove {

	i {
		font-size: 16px;
		color: #da4c26;
	}
	&:hover {
		background-color: transparent !important;
		color: auto !important;
	}
}

.cart_totals {
	h4 {
		padding-left: 20px;
	}
	table {

		width: 100%;
		text-align: left;
		
		th {
			text-align: left;
			font-weight: normal !important;
			width: 40%;
			padding-left: 20px !important;

			strong {
				font-weight: normal !important;
			}
		}
		td {
			color: #333333;


		}
	}

}

.shipping_calculator {
	clear: none !important;
	margin:0 !important;
	border-right:1px solid #efefef;



}

.cart_totals, .shipping_calculator {

	h4 {
		text-align: left;
		font-size: 16px !important;
		border-bottom: 1px solid #efefef;
		padding-bottom: 10px;
		text-transform: uppercase;
	}
}

.shipping-calculator-form {
	padding: 10px 20px 0 0;
	display: block !important;
	text-align: left !important;

	.shop-flat-btn {
		margin: 6px 0 0 3px;
	}
}
.cart-collaterals {
	margin-bottom: 50px;
}

.pow-cal-shipping {
	margin-bottom: 0 !important;
}




.woocommerce, .woocommerce-page {
	#pow-sidebar {
		.widget_layered_nav_filters ul li{
			&:first-child {
				margin-left: 0;
			}
			a {
				color: #fff;
			}
		}
	}
}

.woocommerce ul.cart_list li, 
.woocommerce ul.product_list_widget li, 
.woocommerce-page ul.cart_list li, 
.woocommerce-page ul.product_list_widget li {
	margin-bottom: 10px;
	position: relative;
	a {
		line-height: 14px;
		font-size: 16px;
	}
}

.widget_recent_reviews ul li a {
	margin-bottom: 10px;
}



.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img, 
.woocommerce-page ul.cart_list li img, 
.woocommerce-page ul.product_list_widget li img {
	box-shadow:none !important;
    float: left;
    height: auto;
    margin-right: 10px;
    width: 70px;
    padding: 2px;
    border:1px solid #e5e5e5 !important;

    &:hover {
    	border:1px solid #b9b9b9 !important;
    }
}






.woocommerce-ordering-div select {
	float: right;
}

.woocommerce-message, .woocommerce-error, .woocommerce-info {

}

.woocommerce #payment, .woocommerce-page #payment {
	background: none !important;
	
}

#customer_details {
	margin-bottom:40px; 
}








.pow-woocommerce-pagination {
	margin: 40px 0;
	text-align: left;
	padding: 25px 0 0;
	border-top: 1px solid #bcbcbc;
	border-top: 1px solid rgba(0,0,0,0.2);
	position: relative;


	.page-numbers {
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		li {
			display: inline-block;
			margin: 0;
			padding: 0;
			.page-numbers {
				display: block;
				padding: 11px 14px;
				line-height: 12px;
				font-size: 12px;
				margin: 0;
				font-weight: bold;
				float: left;
				background-color: #313d53;
				.border-radius(2px);
				color: #fff;
				&.current, &:hover {
					background-color: #a1a1a1;
				}

				&.next, &.prev {
					background-color: transparent;
					color: #a1a1a1;		

					&:before {
						
						line-height: 12px;
						font-size: 16px;
					}
					&:hover{
						color:#313d53;
					}
				}

				&.next {
					

					&:before {
						content: "\e2bd";
					}
				}

				&.prev {
					&:before {
					 	content: "\e2c1";

					 }
				}

			}

		}
	}

}

.pow-woocommerce-result-count {
	display: inline-block;
	padding: 0;
	line-height: 32px;
	vertical-align: top;
	color: #a8a8a8;
	float: right;
}


.pow-confirm-message-box .button {
	float: right;
}

.woocommerce strong{
	color: inherit !important;
}

.pow-woo-form-section {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	label {
		display: block;
		margin-bottom: 5px;
	}
}






.pow-woocommerce-carousel {

	.pow-products {
		display: block;
		margin:auto;
		padding: 0 0 30px 0 !important;
		list-style: none;

		.product {
			width: 276px !important;
			margin:0;
			float: left;
			.opacity(100);
			padding: 0 16px 16px 0 !important;

			.product-item-rating {
				display: none !important;
			}
		}
	}


	.pow-fancy-title {
		font-size: 14px !important;
		font-weight: bold !important;
		margin-right: 35px;
		span {
			padding-right:5px;
		}
	}

	.pow-woo-view-all {
		float: right;
		font-size: 11px;
		padding: 0 7px;
	}

	.flex-direction-nav a{
		position: absolute;
		top:-38px;
			.pow-icon-chevron-left:before, .pow-icon-chevron-right:before {
				color: #aaaaaa;
			}
		}
		.flex-prev{
			right:20px;
		}
		.flex-next{
			right:0px;
		}

}



.widget_product_search {
	label {
			display: none;
		}
		#searchsubmit {
			display: none;
		}
		[type=text]{
			width: 100%;
			margin: 0;
			padding: 5px 15px;
			.border-radius(20px);
			&:focus {
				border-color: rgba(0,0,0,0.25);
			}
		}
}


.widget_price_filter {
	padding: 0 2px;
	.ui-slider-range {
		.box-shadow(none) !important;
		background-image:none !important;
		
	}

	.price_label {
		font-size: 12px !important;
	}

	.ui-slider-handle {
		background-image:none !important;
		.box-shadow(none) !important;
		border-color: transparent !important;
	}
}

.woocommerce .widget_price_filter .ui-slider-horizontal, .woocommerce-page .widget_price_filter .ui-slider-horizontal {
	height: 4px !important; 
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	top:-4px !important;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: #313d53 !important;
	margin-bottom: 15px !important;
}


.single_variation_wrap {

	.single_variation {
		display: inline-block !important;
		float: left !important;
		padding-right: 15px;
		.price {
 
			.amount {
				font-size: 24px !important;
				line-height: 40px;
				font-weight: bold;
				color: #313d53;

			}
		}
	}
}







@media handheld, only screen and (max-width: 960px) {
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
	width: auto !important;
	float: none !important;
}
.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator, .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	width: auto !important;
	float: none !important;
	margin:0 0 20px 0 !important;
}

}


.woocommerce .price_slider_amount .button.button{
	.box-shadow(none) !important;
	background: none !important;
	text-shadow:none !important;
	.border-radius(2px) !important;
	outline: none;
	border:1px solid #313d53;
	color: #313d53;
	padding: 8px 14px !important;

	&:hover {
		background-color: #313d53 !important;
		color: #fff;
	}

}







.woocommerce #reviews  {

		h4 {
			font-size: 14px !important;
			margin-bottom: 20px !important;
		}

	#comments ol.commentlist li {

		img.avatar {
			padding: 0 !important;
			.border-radius(50px);
			top:50% !important;
			margin-top: -20px !important;

		}

		.comment_container {

			.comment-text {
				border:none !important;
				background-color: #f7f7f7;
				padding: 10px 20px !important;
				position: relative;
				&:after {
					width: 12px;
					height: 12px;
					display: block;
					.rotate(45deg);
					background-color: #f7f7f7;
					position: absolute;
					left:-6px;
					top:50%;
					margin-top: -6px;
					content: "";
				}
			}

			.meta {
				margin: 0 !important;
			}
			
		}
	}
}

#review_form_wrapper {

	.comment-reply-title {
		font-size: 14px !important;
		margin-bottom: 25px !important;
	}

	.comment-form-author input{
		margin-left: 20px !important;
	}
	.comment-form-email input {
		margin-left: 23px !important;
	}

	.comment-form-rating {
		overflow: hidden;
		padding-bottom: 6px;
		border-bottom:1px solid #efefef;
		margin-bottom: 10px;
		label {
			width: 100px;
			float: left;
			line-height: 14px;
		}

		.stars {
			float: left;
			margin-right: 20px;
		}
	}

	.comment-form-comment {

		label {
			margin-bottom: 15px;
			display: block;
		}
	}

	input[type=submit] {
		.box-shadow(0) !important;
		text-shadow:none !important;
	}


}





/* =Quantity inputs
	-------------------------------------------------------------- */

	.quantity {
		width: 78px !important;
		margin-right: 10px !important;
		input.qty {
			width: 40px !important;
			height: 38px !important;
			border-color:#313d53 !important;
			font-size: 14px !important;
			.border-radius(0) !important;
		}

		.plus, .minus {
			border:none !important;
			.border-radius(0) !important;
			width: 38px !important;
			height: 21px !important;
			outline: none !important;
			text-shadow:none !important;
			color: #fff !important;
			font-size: 16px !important;
			.box-shadow(none) !important;
		    
		}
		.plus {
			background:#313d53 !important;
		}
		.minus {
			background:#212d43 !important;
		}
	}



.woocommerce-social-share {
	margin: 25px 0 25px 10px;
	padding: 0;
	list-style: none;
	li {
		display: inline-block;
		margin: 0;

		a {
			width: 30px;
			height: 30px;
			text-align: center;
			border:1px solid #c3c3c3;
			.border-radius(50px);
			margin-right: 5px;
			display: block;
			i {
				line-height: 30px;
				font-size: 16px;
				color: #c3c3c3;
			}

			&:hover {
				border-color: #aaaaaa;
				i {
					color: #aaaaaa;
				}
			}
		}
	}
}

body .shoping-cart-link i > span {
	background-color: #c1392d;
}
.woocommerce {
	table td {
		text-align: left;
	}
}