/**
 * bbPress: bbPress styles
 */
#bbp-author-subscriptions,#bbp-author-favorites,#bbp-author-topics-started,#purchase-details  {
    border-top: 1px solid #ccc;
    clear: both;
    margin-bottom: 20px;
    padding-top: 20px;
}
#bbpress-forums .bbp-topic-content img,#bbpress-forums .bbp-reply-content img {
    max-width: 100%;
}
#bbpress-forums .status-trash.even,#bbpress-forums .status-spam.even {
    background-color: #fee;
}
#bbpress-forums {
    background: transparent;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
    li:hover {
        & > div.row-actions {
            visibility: visible;
        }
    }
    div.bbp-the-content-wrapper {
        margin-bottom: 10px;
        textarea.bbp-the-content {
            width: 100%;
            margin: 0;
            font-size: 12px;
        }
        td.mceToolbar {
            padding: 4px 4px 8px;
        }
        div.quicktags-toolbar {
            padding: 5px;
            min-height: 26px;
        }
        td.mceStatusbar {
            line-height: 16px;
        }
        input {
            margin: 0;
        }
    }
    li.bbp-footer {
        border-top: 1px solid #e3e3e3;
        padding: 0;
        p {
            margin: 0;
            line-height: 1em;
        }
    }
    p.bbp-topic-meta {
        margin: 5px 0 5px;
        font-size: 11px;
        span {
            white-space: nowrap;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .bbp-private-reply {
        background: none !important;
        position: relative;
        .bbp-reply-content {
            padding: 20px;
            background: #fff8e4;
        }
    }
    ul.bbp-topics {
        margin:0;
    }
    .bbp-forums-list {
        margin: 0 0 0 5px;
        padding-left: 15px;
        border-left: 1px solid #ddd;
        li {
            display: inline;
            font-size: 11px;
        }
    }
    div.row-actions {
        font-size: 11px;
        visibility: hidden;
    }
    #bbp-your-profile {
        fieldset {
            label {
                display: block;
            }
            fieldset {
                margin: 0;
                width: 260px;
                border: none;
                padding: 0;
                clear: none;
                float: none;
            }
        }
    }
    .bbp-forum-content {
        p {
            margin: 5px 0 0;
            font-style: italic;
        }
    }
    div.wp-editor-container {
        margin: 0;
        padding: 0;
        line-height: 0;
    }
    fieldset.bbp-forum-form-attributes {
        width: 200px;
        float: right;
        clear: none;
        margin-left: 25px;
    }
    .bbp-private-reply:before {
        display: block;
        content: "";
        position: absolute;
        right:10px;
        top:10px;
        background: url('../images/private-reply-icon.png');
        width: 48px;
        height: 48px;
    }
    h2.entry-title {
        font-size: 1.4em;
        margin-bottom: 0;
        padding-bottom: 10px;
        padding-top: 0;
    }
    fieldset.bbp-form {
        label {
            margin: 0;
            display: inline-block;
        }
        legend {
            padding: 5px;
        }
    }
    li.bbp-header {
        border-bottom: 4px solid #333;
        ul {
            overflow: hidden;
        }
    }
    li {
        margin: 0;
        list-style: none;
    }
    #entry-author-info {
        margin: 10px 0 20px 0;
        overflow: hidden;
        #author-avatar {
            float: left;
            margin-right: 0;
            width: 60px;
            img.avatar {
                max-width: 60px;
            }
        }
        #author-description {
            float: none;
            margin-left: 100px;
        }
    }
    h1 {
        clear: none;
        font-size: 2.5em;
        line-height: 1em;
        padding-bottom: 10px;
        font-weight: normal;
    }
}
.bbp-topic-action {
    float:right;
}
div.bbp-topic-tags {
    float: right;
}
#bbpress-forums fieldset.bbp-form p,#bbpress-forums fieldset.bbp-form textarea,#bbpress-forums fieldset.bbp-form select,#bbpress-forums fieldset.bbp-form input {
    margin: 0 0 8px;
}
textarea#bbp_reply_content,textarea#bbp_topic_content,textarea#bbp_forum_content {
    width: 97%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.bbp-topic-pagination {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 2px;
    a {
        font-size: 10px;
        line-height: 10px;
        padding: 1px 3px;
        border: 1px solid #ddd;
        text-decoration: none;
    }
}
#bbpress-forums li.bbp-header .bbp-topic-author,#bbpress-forums li.bbp-footer .bbp-topic-author,#bbpress-forums li.bbp-header .bbp-reply-author,#bbpress-forums li.bbp-footer .bbp-reply-author {
    float: left;
    margin: 0;
    padding: 0;
    width: 120px;
}
li.bbp-body {
    div.hentry {
        margin-bottom: 0;
    }
}
.activity-list li.bbp_topic_create .activity-content .activity-inner,.activity-list li.bbp_reply_create .activity-content .activity-inner {
    border-left: 2px solid #eaeaea;
    margin-left: 5px;
    padding-left: 10px;
}
#bbpress-forums p.bbp-topic-meta img.avatar,#bbpress-forums ul.bbp-reply-revision-log img.avatar,#bbpress-forums ul.bbp-topic-revision-log img.avatar,#bbpress-forums div.bbp-template-notice img.avatar,#bbpress-forums .widget_display_topics img.avatar,#bbpress-forums .widget_display_replies img.avatar,#bbpress-forums p.bbp-topic-meta img.avatar {
    float: none;
    border: 3px double #ddd;
}
#bbp-your-profile {
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px solid #bbb;
    fieldset {
        border: none;
        border-bottom: 1px solid #e3e3e3;
        padding: 20px 0 0px;
        margin-bottom: 30px;
        margin-top: 0;
        legend {
            display: none;
        }
        span.description {
            margin: 5px 0 0 0;
            font-size: 12px;
            font-style: italic;
            float: left;
            clear: left;
            width: 383px;
            padding: 5px 10px;
            border: #cee1ef 1px solid;
            background-color: #f0f8ff;
        }
        div {
            margin-bottom: 20px;
            float: left;
            width: 100%;
            clear: left;
        }
        select {
            margin-bottom: 0;
        }
        fieldset {
            span.description {
                margin-left: 0;
                margin-bottom: 20px;
            }
        }
    }
}
.bbp-body .bbp-topic-last-poster,.bbp-body .bbp-topic-reply-count,.bbp-body .bbp-topic-freshness {
    font-size: 12px;
}
#bbpress-forums div.bbp-topic-author a.bbp-author-name,#bbpress-forums div.bbp-reply-author a.bbp-author-name {
    margin: 0 12px;
    word-break: break-word;
}
#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,#bbp-login fieldset label,#bbp-register fieldset label,#bbp-lost-pass fieldset label {
    width: 100px;
}
#bbps_support_forum_options, #bbps_support_forum_move, .bbps-support-forums-message {
    width: 100% !important;
}
.topic-count {
    font-size: 12px;
    color: #ccc;
    float: right;
}
.bbp-topics-front ul.super-sticky,.bbp-topics ul.super-sticky,.bbp-topics ul.sticky,.bbp-forum-content ul.sticky {
    background-color: #ffffe0 !important;
    font-size: 1.1em;
}
div.bbp-breadcrumb {
    float: left;
}
.bbp-pagination-count {
    float: left;
}
.bbp-logged-in {
    h4 {
        font-weight: bold;
        font-size: 1.3em;
        clear: none;
        margin-bottom: 10px;
    }
    img.avatar {
        float: left;
        margin-right: 15px;
    }
}
.bbp-pagination {
    font-size: 12px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
#bbpress-forums .bbp-body .bbp-topic-author,#bbpress-forums .bbp-body .bbp-reply-author {
    padding-top: 17px;
}
#bbpress-forums div.bbp-topic-content,#bbpress-forums div.bbp-reply-content {
    margin-left: 80px;
    padding: 12px 12px 12px 0;
    text-align: left;
}
.aq-topic-status {
    float:right;
    .not-resolved {
        color: red;
    }
    .resolved {
        color: green;
    }
    .in-progress {
        color: grey;
    }
    .sticky {
        color: orange;
    }
    & > span {
        font-weight: bold;
        background: #fff;
        border: 1px solid #e3e3e3;
        padding: 6px 8px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
}
body.my-account #bbpress-forums,body.my-account #bbp-author-subscriptions,body.my-account #bbp-author-favorites,body.my-account #bbp-author-topics-started {
    border-top: none;
    padding-top: 0;
    margin-bottom: 0;
}
#sidebar {
    .bbp-login-form {
        label {
            width: 70px;
        }
    }
}
#bbpress-forums div.bbp-the-content-wrapper table,#bbpress-forums div.bbp-the-content-wrapper tbody,#bbpress-forums div.bbp-the-content-wrapper tr,#bbpress-forums div.bbp-the-content-wrapper td {
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    line-height: 1em;
}
#bbpress-forums div.odd,#bbpress-forums ul.odd {
    background-color: #fbfbfb;
}
#bbpress-forums div.reply,#bbpress-forums div.topic {
    height: auto;
    background: none;
}
.bbp-topic-header a.bbp-topic-permalink,.bbp-reply-header a.bbp-reply-permalink {
    float: right;
    margin-left: 10px;
    color: #ccc;
}
body.page .bbp-reply-form code,body.page .bbp-topic-form code,body.single-topic .bbp-reply-form code,body.single-forum .bbp-topic-form code,body.topic-edit .bbp-topic-form code,body.reply-edit .bbp-reply-form code {
    font-size: 10px;
    background-color: #f0fff8;
    border: 1px solid #CEEFE1;
    display: block;
    padding: 8px;
    margin-top: 5px;
    width: 369px;
}
#bbpress-forums ul.bbp-lead-topic,#bbpress-forums ul.bbp-topics,#bbpress-forums ul.bbp-forums,#bbpress-forums ul.bbp-replies {
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 20px;
    clear: both;
}
#forums-search {
    margin: 0 0 20px;
    padding: 10px;
    background: #f6f6f6;
    .searchsubmit {
        font-size: 14px;
        font-weight: bold;
        color: rgba(0, 70, 117, 0.55);
        padding: 7px 12px;
        margin: 0;
        width: auto;
        cursor: pointer;
        background: #C0E7F7;
        background: -moz-linear-gradient(top,  rgba(192,231,247,1) 0%, rgba(160,216,239,1) 98%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,231,247,1)), color-stop(98%,rgba(160,216,239,1)));
        background: -webkit-linear-gradient(top,  rgba(192,231,247,1) 0%,rgba(160,216,239,1) 98%);
        background: -o-linear-gradient(top,  rgba(192,231,247,1) 0%,rgba(160,216,239,1) 98%);
        background: -ms-linear-gradient(top,  rgba(192,231,247,1) 0%,rgba(160,216,239,1) 98%);
        background: linear-gradient(to bottom,  rgba(192,231,247,1) 0%,rgba(160,216,239,1) 98%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0e7f7', endColorstr='#a0d8ef',GradientType=0 );
        border: 1px solid rgba(9, 136, 168, 0.37);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
        box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
        text-shadow: none;
    }
    input[type="text"] {
        width: 549px;
        height: 20px;
        margin-right:10px;
    }
    .searchsubmit:active {
        background: #8CCBEE;
    }
    .searchsubmit:hover {
        border-color: rgba(4, 69, 85, 0.37);
        background: #C0E7F7;
    }
}
#bbpress-forums div.bbp-topic-author,#bbpress-forums div.bbp-reply-author {
    float: left;
    text-align: left;
}
li.bbp-forum-info,li.bbp-topic-title {
    float: left;
    text-align: left;
    width: 60%;
}
#merge_tag,#delete_tag {
    display: inline;
}
td.bbp-topic-admin-links,td.bbp-topic-counts {
    width: 50%;
}
.bbp-login-form {
    label {
        width: 140px;
        display: inline-block;
    }
    .bbp-login-links {
        a {
            float: left;
            clear: left;
        }
    }
    .bbp-submit-wrapper {
        text-align: right;
    }
    fieldset {
        legend {
            display: none;
        }
    }
}
fieldset {
    div.avatar {
        float: right;
    }
    span.bbp-admin-links {
        float: left;
    }
}
.bbp-pagination-links a,.bbp-pagination-links span {
    padding: 5px 8px;
}
div.topic-author-displayname,div.reply-author-displayname {
    font-weight: bold;
    font-size: 16px;
}
#bbpress-forums li.bbp-header,#bbpress-forums li.bbp-body,#bbpress-forums li.bbp-footer {
    clear: both;
}
#bbpress-forums div.bbp-topic-author .bbp-author-role,#bbpress-forums div.bbp-reply-author .bbp-author-role {
    font-size: 11px;
}
.bbp-topic-action #favorite-toggle,.bbp-topic-action #subscription-toggle {
    font-weight: normal;
    font-size: 12px;
}
#bbp-your-profile fieldset input,#bbp-your-profile fieldset textarea {
    width: 400px;
}
#bbpress-forums li.bbp-header,#bbpress-forums li.bbp-footer {
    font-weight: bold;
    padding: 8px 0px;
    text-align: center;
}
body.topic-edit .bbp-topic-form div.avatar img,body.reply-edit .bbp-reply-form div.avatar img,body.single-forum .bbp-topic-form div.avatar img,body.single-reply .bbp-reply-form div.avatar img {
    margin-right: 0;
    padding: 10px;
    border: 1px solid #ddd;
    line-height: 0;
    background-color: #efefef;
}
#bbpress-forums .bbp-topic-revision-log,#bbpress-forums .bbp-reply-revision-log {
    border-top: 1px dotted #ddd;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 8px 0 0 0;
    font-size: 11px;
    color: #aaa;
}
div.bbp-template-notice.error a,div.bbp-template-notice.warning a {
    color: #c00;
}
div.bbp-template-notice {
    border-width: 1px;
    border-style: solid;
    padding: 0.5em 2em;
    margin: 5px 0 15px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #FFFCE5;
    border: 1px solid #FFDC7D;
    color: #D69A2A;
    clear: both;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    a {
        color: #D69A2A;
        font-weight: bold;
        text-decoration: underline;
    }
    a:hover {
        color: #000;
    }
    p {
        margin: 0.5em 0 6px 0 !important;
        padding: 2px;
        line-height: 140%;
    }
}
#bbpress-forums .bbp-body div:first-child .bbp-topic-content,#bbpress-forums .bbp-body div:first-child .bbp-reply-content {
    border: 0;
}
div.bbp-topic-content .bbp-meta,div.bbp-reply-content .bbp-meta {
    color: #818181;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.topic {
    span.bbp-admin-links {
        color: #ddd;
        a {
            color: #bbb;
            font-weight: normal;
            font-size: 10px;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}
#bbps-topic-status input[type="submit"],#bbps-topic-move input[type="submit"],#bbps-topic-assign input[type="submit"] {
    padding: 2px 10px;
    font-size: 13px;
}
li.bbp-header div.bbp-topic-content span#subscription-toggle,li.bbp-header div.bbp-topic-content span#favorite-toggle,li.bbp-header div.bbp-reply-content span#subscription-toggle,li.bbp-header div.bbp-reply-content span#favorite-toggle {
    font-size: 12px;
    font-weight: normal;
    float: right;
    margin-left: 10px;
}
form#bbp-your-profile {
    fieldset.submit {
        border: none;
    }
}
.bbp-forum-title.current {
    font-weight:bold;
}
div.bbp-template-notice.important {
    border: #e6db55 1px solid;
    background-color: #fffbcc;
}
.bbp-topic-form,.bbp-reply-form,.bbp-topic-tag-form {
    clear: left;
}
#bbpress-forums li.bbp-header .bbp-topic-content,#bbpress-forums li.bbp-footer .bbp-topic-content,#bbpress-forums li.bbp-header .bbp-reply-content,#bbpress-forums li.bbp-footer .bbp-reply-content {
    margin-left: 140px;
    padding: 0;
    text-align: left;
}
div.bbp-breadcrumb,div.bbp-topic-tags {
    font-size: 12px;
}
.bbp-login-form .bbp-username input,.bbp-login-form .bbp-email input,.bbp-login-form .bbp-password input {
    padding: 5px;
}
li.bbp-forum-topic-count,li.bbp-topic-voice-count,li.bbp-forum-reply-count,li.bbp-topic-reply-count,li.bbp-topic-last-poster {
    float: left;
    text-align: center;
    width: 10%;
}
textarea#bbp_forum_content {
    height: 210px;
}
#bbpress-forums div.bbp-topic-author img.avatar,#bbpress-forums div.bbp-reply-author img.avatar {
    border: 0;
    max-width: 80px;
    margin: 12px auto 0 auto;
    float: none;
    border-radius: 3px;
}
#bbpress-forums .status-trash.odd,#bbpress-forums .status-spam.odd {
    background-color: #fdd;
}
div.bbp-submit-wrapper {
    margin-top: 15px;
    float: right;
    clear: both;
}
#bbps-topic-status label, #bbps-topic-move label {
    color: #333 !important;
    font-size: 14px !important;
}
.bbp-topic-title span.in-progress,.bbp-topic-title span.resolved,.bbp-topic-title span.not-resolved,.bbp-topic-title span.topic-sticky,.bbp-topic-title span.closed {
    background: url(../images/forum-icons.png);
    width: 30px;
    height: 20px;
    float: left;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    opacity: 0.7;
}
#bbpress-forums div.even,#bbpress-forums ul.even {
    background-color: #fff;
}
.form-allowed-tags {
    code {
        background: #f8f8f8 !important;
        font-size: 10px !important;
        border: none !important;
        width: auto !important;
    }
}
.bbp-topic-title span,.bbp-topic-title span a {
    color: #787878;
    font-size: 11px;
}
.bbps-support-forums-message {
    margin-bottom: 15px;
}
.bbp-login-form .bbp-username,.bbp-login-form .bbp-email,.bbp-login-form .bbp-password,.bbp-login-form .bbp-remember-me,.bbp-login-form .bbp-submit-wrapper {
    margin-top: 10px;
}
span.bbp-author-ip {
    font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #aaa;
}
.bbp-pagination-links {
    float: right;
    a {
        font-weight: bold;
        padding: 1px 3px;
    }
}
.user-id-1 div.topic-author-displayname,.user-id-1 div.reply-author-displayname {
    color: #EB4B00;
}
div.bbp-template-notice.error,div.bbp-template-notice.warning {
    background-color: #ffebe8;
    border-color: #c00;
}
#bbpress-forums li.bbp-body ul.forum,#bbpress-forums li.bbp-body ul.topic {
    border-top: 1px solid #eee;
    overflow: hidden;
    padding: 8px;
}
#bbpress-forums .bbp-body .bbp-topic-content,#bbpress-forums .bbp-body .bbp-reply-content {
    border-top: 1px solid #e3e3e3;
    padding-top: 20px;
}
#bbpress-forums div.bbp-breadcrumb p,#bbpress-forums div.bbp-topic-tags p {
    margin-bottom: 10px;
}
.overflow {
    overflow:hidden;
}
.currently-viewing {
    font-size: 12px;
}
div.bbp-template-notice.info {
    border: #cee1ef 1px solid;
    background-color: #f0f8ff;
    color: #1891A8;
    a {
        color: #1891A8;
    }
}
div.bbp-topic-header,div.bbp-reply-header {
    margin-bottom: 0;
    overflow: hidden;
    padding: 8px;
    border-top: 1px solid #ddd;
    clear: both;
}
tr {
    td {
        span.bbp-admin-links {
            a:hover {
                color: #ff4b33;
            }
        }
    }
}
#bbpress-forums {
    hr {
        margin: 0 0 24px 0;
    }
}
li.bbp-forum-freshness,li.bbp-topic-freshness {
    text-align: center;
    float: left;
    width: 15%;
}
.bbp-topic-title {
    span.not-resolved {
        background-position: 0 -44px;
    }
    span.topic-sticky {
        background-position: 0 -66px;
    }
    a.bbp-topic-permalink {
        font-size: 14px;
    }
    span.resolved {
        background-position: 0 0;
    }
    span.in-progress {
        background-position: 0 -22px;
    }
}
.bbp-single-topic-meta {
    font-weight: normal;
    background: #fcfcfc;
    padding: 10px 10px;
    margin-bottom: -8px;
    overflow: hidden;
    a {
        font-weight:bold;
    }
    .back-to {
        float:left;
    }
    .posted-in {
        float:right;
    }
}
div.bbp-template-notice.not-logged-in {
    a {
        font-weight: bold;
    }
}
#bbpress-forums div.bbp-topic-header,#bbpress-forums div.bbp-reply-header {
    background-color: #f4f4f4;
}
#bbpress-forums .bbp-topic-content ul,#bbpress-forums .bbp-reply-content ul {
    list-style: square;
    padding-left: 15px;
}
li.bbp-topic-last-poster {
    width:15%;
}
