.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/*
  1.  CSS Helpers
  2.  CSS Mixins
  3.  Visual Composer structure blocks
  4.  Grid System
  5.  Content Block (Element)
      - Default Content Element Style
      - Text Block
      - Twitter Widget
      - Separator + Separator with Text
      - Message box (Alert)
      - Facebook Like
      - Tweetmeme button
      - Google+ button
      - Pinterest button
      - FAQ
      - Single Image
      - Image Gallery
      - Tabs
      - Tour Section
      - Accordion
      - Teaser (posts) Grid
      - Posts Slider
      - Widgetised Sidebar
      - Button
      - Call to Action Button
      - Video Player
      - Google Maps
      - Raw HTML + Raw JS
      - Flickr Widget
      - Progress Bar
      - Chart pie
  6.  Icons for 3rd party plugins (Visual Composer ready)
      - Layer Slider
      - Revolution Slider
      - Contact Form 7
      - Gravity Forms
  7.  Default WP Widgets
  8.  Isotope content elements grid (Modal window)
  9.  Modal window (Tweaks)
  10. Content element Edit screen
  11. Extra CSS for 3rd party CSS conflicts
*/
/* CSS Helpers
========================================================== */
.hide {
  display: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-center {
  text-align: center;
}
.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* CSS Mixins
========================================================== */
/* Visual Composer structure blocks
========================================================== */
.composer-switch {
  height: 17px;
}
#wpb_visual_composer {
  background: #ffffff;
  display: none;
}
#wpb_visual_composer a:focus {
  outline: none;
}

#visual_composer_content {
  min-height: 210px;
  padding-bottom: 10px;
  padding-top: 60px;
}
#visual_composer_content p {
  margin-top: 0;
}
#visual_composer_content h1,
#visual_composer_content h2,
#visual_composer_content h3,
#visual_composer_content h4,
#visual_composer_content h5,
#visual_composer_content h6 {
  color: #333333;
  margin-top: 0;
  margin-bottom: 0.5em;
  padding: 0;
  line-height: inherit;
}
#visual_composer_content .textarea_html h3 {
  font-family: inherit;
  background: none;
  border: none;
}
/* Convert to new version
========================================================== */
#wpb-convert-message {
  display: none;
  padding: 60px 50px 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 4000;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
#wpb-convert-message p {
  margin: 0;
}
#wpb-convert-message .messagebox_text {
  padding: 10px;
  text-align: center;
  color: #3A87AD;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
}
.wpb_convert i.icon {
  background: url(../vc/convert.png) no-repeat center center;
  position: relative;
  top: -2px;
  margin-left: 0;
  margin-right: 5px;
}
.wpb-convert-buttons {
  text-align: center;
  margin-top: 10px;
}
/* Help block when page is empty
========================================================== */
#wpb-empty-blocks {
  display: none;
  position: absolute;
  margin-top: -220px;
  margin-left: -11px;
}
#wpb-empty-blocks h2 {
  margin-left: 71px;
  margin-top: 0;
}
#wpb-empty-blocks .helper-block {
  margin-top: 10px;
}
#wpb-empty-blocks .helper-block span {
  padding-left: 18px;
  margin-right: 30px;
  line-height: 30px;
  display: block;
  width: 20px;
  height: 30px;
  background:#313133;
  text-shadow: #333333 0 -1px 0;
  color: white;
}
#wpb-empty-blocks .helper-block p {
  display: block;
  margin: 0;
}
#wpb-empty-blocks .edit-picture {
  background: transparent url(../vc/edit_hint.png) center center no-repeat;
  width: 127px;
  height: 108px;
  margin-left: 60px;
  margin-top: -10px;
}
#wpb-empty-blocks p.one-line {
  line-height: 30px;
}
#wpb-empty-blocks table {
  border-collapse: collapse;
  border-spacing: 0px;
}
#wpb-empty-blocks .add-element-to-layout,
#wpb-empty-blocks .add-text-block-to-content {
  text-decoration: none;
  border-bottom: 1px dotted;
}
#wpb-empty-blocks .add-element-to-layout i.icon {
  position: relative;
  top: -2px;
}
#wpb-empty-blocks .add-text-block-to-content i.icon {
  background-position: 0 -144px;
  background-image: url(../vc/elements_icons/sprite.png);
  width: 16px;
  height: 16px;
  position: relative;
  top: -3px;
  margin-right: 2px;
}
.empty-composer #wpb-empty-blocks {
  display: block;
}
/* Visual Composer Loading icon
========================================================== */
.vc_loading_block {
  margin-top: 55px;
  position: absolute;
}
/* Nav bar
========================================================== */
.vc_navbar {
  margin: 0;
  padding: 11px 0 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.vc_navbar .vc_navbar-inner {
  margin: 0 10px;
}
.vc_navbar .vc_logo {
  background: url(../vc/visual_composer.png) no-repeat center center;
  width: 16px;
  height: 25px;
  margin-left: 5px;
  margin-right: 7px;
  padding: 0;
  display: inline-block;
}
.vc_navbar .vc_nav {
  float: left;
  margin: 0 5px 0 0;
}
.vc_navbar .vc_nav.pull-right {
  float: right;
  margin: 0 0 0 5px;
}
.vc_navbar .wpb-update-button {
  display: none;
}
.vc_navbar .wpb-update-button .button {
  padding: 0 10px 1px 10px;
}
.vc_navbar li.vc_dropdown .caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #313d53;
  content: "";
  display: inline-block;
  height: 0;
  opacity: 0.3;
  vertical-align: top;
  width: 0;
  margin-top: 9px;
  margin-left: 3px;
}
.vc_navbar li.vc_dropdown:hover .vc_dropdown-menu {
  display: block;
}
.vc_navbar li.vc_dropdown:hover .caret {
  opacity: 1;
}
.vc_navbar li.vc_dropdown .vc_dropdown-menu {
  display: none;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  max-width: 240px;
  -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.4);
  border-color: #DFDFDF;
  padding: 15px 0 8px;
  overflow: hidden;
  margin-top: 0px !important;
}
.vc_navbar li.vc_dropdown .vc_dropdown-menu > li > ul > li {
  padding: 0 15px;
}
.vc_navbar li a.button {
  padding: 0 10px 1px 7px;
}
.vc_navbar li i.icon {
  position: relative;
  top: -2px;
  margin-right: 4px;
  margin-left: 0;
}
.vc_navbar #wpb_save_template {
  margin-bottom: 15px;
  text-align: center;
}
.vc_navbar .divider {
  border-bottom: 1px solid #CCCCCC;
}
.vc_navbar .nav-header {
  color: #CCCCCC;
}
.vc_navbar.subnav-fixed {
  position: fixed;
  top: 28px;
  left: 0;
  z-index: 201;
  width: 100%;
  background-color: whiteSmoke;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.vc_navbar.subnav-fixed .vc_navbar-inner {
  padding-left: 166px;
}
.vc_navbar.subnav-fixed .wpb-update-button {
  display: block;
}
.folded .subnav-fixed .vc_navbar-inner {
  padding-left: 53px;
}
.add-element-to-layout i.icon,
.wpb_add_new_element i.icon {
}
.wpb_add_new_row i.icon {

}
.wpb_templates i.icon {

}
.wpb_templates_ul {
  padding-bottom: 0 !important;
}
.wpb_templates_ul li:last-child {
  margin-bottom: 0;
}
.wpb_templates_ul .wpb_templates_list {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.wpb_templates_ul .wpb_templates_list li:last-child,
.wpb_templates_ul .wpb_templates_list .wpb_no_templates {
  margin-bottom: 5px;
}
.wpb_templates_ul .wpb_template_li {
  position: relative;
  padding:0 20px 6px 10px !important;
  border-bottom:1px solid #e2e2e2;
}
.wpb_templates_ul .wpb_template_li:last-child {
  border:none;
  padding-bottom: 0;
}
.wpb_templates_ul .wpb_template_li a {
  text-decoration: none;
}
.wpb_templates_ul .wpb_template_li .wpb_template_delete_icon {
  background: url(../vc/remove.png) no-repeat center center;
}
.wpb_templates_ul .wpb_template_li .wpb_template_delete_icon:hover {
  background-color: #FFE0E0;
  cursor: pointer;
}
.wpb_templates_ul .wpb_template_li .wpb_remove_template {
  position: absolute;
  right: 5px;
  top: 0px;
  cursor: pointer;
}
 .wpb_templates_ul .wpb_template_li .wpb_remove_template i{
  color: #ff0000;
 }
/* Sortable
========================================================== */
.wpb_main_sortable > .widgets-placeholder {
  margin-top: 10px;
}
.widgets-placeholder {
  margin-top: 4px;
}
.widgets-placeholder-column {
  float: left;
}
.widgets-placeholder,
.widgets-placeholder-column,
.widgets-placeholder-gallery {
  background-image: url(../vc/pattern.gif);
}
/* Drag placeholder - yellow placeholer when you drag
   "Add element", "Add row" buttons
========================================================== */
.column_placeholder {
  width: 120px;
  background: #FEFFAF;
  font-size: 11px;
  text-align: center;
  padding: 5px 10px 8px 5px;
  border: 1px dashed #CCCCCC;
}
div.wpb_ui-state-active,
.empty_column .wpb_column_container.wpb_ui-state-active,
div.wpb_tabs_holder.wpb_ui-state-active > .wpb_column_container,
div.wpb_ui-state-active.ui-accordion-content {
  background: #FEFFAF;
}
div.wpb_tabs_holder.wpb_ui-state-active,
div.wpb_ui-state-active .wpb_ui-state-active {
  background: transparent;
}
/* Row Controls
========================================================== */
.controls_row {
  border-bottom: 1px solid #EFEFEF;
  padding: 3px 5px 5px;
  background-color: #2d3e50;
  margin: 0 0 -1px 0;
  text-align: center;
  line-height: 1px;
  position: relative;
}
.controls_row a {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 3px 3px 2px 3px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.controls_row .column_move {
  background-color: transparent;
  cursor: move;
  float: left;
}
.controls_row .vc_row_layouts {
  display: block;
  height: 26px;
  overflow: hidden;
  position: absolute;
  padding-bottom: 6px;
  left: 45px;
  text-align: left;
  background: #2d3e50;
}
.controls_row .vc_row_layouts::before {
  content: 'Cols';
  color: #fff;
  float: left;
  line-height: 32px;
  font-size: 10px;
  text-transform: uppercase;
}
.controls_row .vc_row_layouts a {
  display: none;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.controls_row .vc_row_layouts .vc_active {
  display: inline-block;
}
.controls_row .vc_row_layouts:hover {
  z-index: 2;
  width: auto;
/*  height: auto; */
  max-width: 90%;
}
.controls_row .vc_row_layouts:hover a {
  display: inline-block;
}
.controls_row .vc_row_layouts:hover a:hover,
.controls_row .vc_row_layouts:hover a.vc_active {
  background-color: #FBEED5;
}
.controls_row .set_columns {
  background-image: url(../vc/row_layouts/1.gif);
  background-position: center center;
  background-repeat: no-repeat;
  width: 23px;
  margin-bottom: 2px;
}
.controls_row .set_columns:active {
  outline: none;
}
.controls_row .set_columns.vc_active {
  background-color: transparent;
}
.controls_row .set_columns.custom_columns {
  background-image: none;
  text-transform: uppercase;
  font-size: 11px;
  height: auto;
  line-height: 26px;
  margin: 0 3px;
  padding: 4px 0 0 0;
  width: auto;
}
.controls_row .set_columns.l_12_12 {
  background-image: url(../vc/row_layouts/12_12.gif);
}
.controls_row .set_columns.l_23_13 {
  background-image: url(../vc/row_layouts/23_13.gif);
}
.controls_row .set_columns.l_13_13_13 {
  background-image: url(../vc/row_layouts/13_13_13.gif);
}
.controls_row .set_columns.l_13_23 {
  background-image: url(../vc/row_layouts/13_23.gif);
}
.controls_row .set_columns.l_14_14_14_14 {
  background-image: url(../vc/row_layouts/14_14_14_14.gif);
}
.controls_row .set_columns.l_23_13 {
  background-image: url(../vc/row_layouts/23_13.gif);
}
.controls_row .set_columns.l_14_34 {
  background-image: url(../vc/row_layouts/14_34.gif);
}
.controls_row .set_columns.l_14_12_14 {
  background-image: url(../vc/row_layouts/14_12_14.gif);
}
.controls_row .set_columns.l_56_16 {
  background-image: url(../vc/row_layouts/56_16.gif);
}
.controls_row .set_columns.l_16_46_16 {
  background-image: url(../vc/row_layouts/14_46_16.gif);
}
.controls_row .set_columns.l_16_16_16_12 {
  background-image: url(../vc/row_layouts/16_16_16_12.gif);
}
.controls_row .set_columns.l_16_16_16_16_16_16 {
  background-image: url(../vc/row_layouts/16_16_16_16_16_16.gif);
}
.controls_row .column_delete,
.controls_row .column_clone,
.controls_row .column_edit {
  float: right;
  margin-left: 2px;
  opacity: 0.6;
}

/*
.controls_row .column_delete,
.controls_row .column_clone,
.controls_row .column_edit {
  float: right;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 3px;
}

.controls_row .column_delete {
  background-image: url(../vc/row_remove.png);
  background-color: #f1c40f;
}
.controls_row .column_delete:hover {
  background-color: #FFE0E0;
}
.controls_row .column_clone {
  background-color: #3598db;
  background-image: url(../vc/row_clone.png);
}
.controls_row .column_edit {
  background-color: #50d4b3;
  background-image: url(../vc/edit_grey.png);
}
*/

.pow_element_name {
  height: 30px;
  display: inline-block;
  line-height: 30px;
  margin: 1px 0 0 50px;
  padding: 0px 40px;
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 #000;
  text-transform: uppercase;
}

#wpb_visual_composer .wpb_row_container > .wpb_vc_column {
  background-color: rgba(255,255,255,0.7);
}
#wpb_visual_composer .wpb_element_wrapper {
  background-color: rgba(255,255,255,0.5);
}
#wpb_visual_composer .wpb_element_wrapper:hover {
 background-color: #ecf0f1; 
}

/* Row / Column
========================================================== */
.wpb_vc_row, .wpb_pow_page_section {
  border: 2px #2d3e50 solid;
  background-color: #2d3e50;
  margin-top: 20px;
}
.wpb_vc_row:first-child, .wpb_pow_page_section:first-child{
  margin-top: 0;
}
.wpb_row_container > .wpb_vc_column {
  margin-bottom: 0;
  background: #f0f0f0;
  border:1px solid #e4e4e4;
  height: 100%;
}
.wpb_column_container {
  padding: 26px 4px 30px;
}
.wpb_vc_column,
.wpb_vc_tab,
.wpb_vc_accordion_tab,
.wpb_vc_column_inner {
  position: relative;
}
.wpb_vc_column > .controls_column,
.wpb_vc_tab > .controls_column,
.wpb_vc_accordion_tab > .controls_column,
.wpb_vc_column_inner > .controls_column {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 7px;
  left: 0;
  line-height: 1px;
}
.wpb_vc_column > .controls_column a,
.wpb_vc_tab > .controls_column a,
.wpb_vc_accordion_tab > .controls_column a,
.wpb_vc_column_inner > .controls_column a {
  display: inline-block;
  width: 12px;
  height: 16px;
  margin-left: 3px;
  background-position: center center;
  background-repeat: no-repeat;
}
.wpb_vc_column > .controls_column .column_add,
.wpb_vc_tab > .controls_column .column_add,
.wpb_vc_accordion_tab > .controls_column .column_add,
.wpb_vc_column_inner > .controls_column .column_add {
  background-image: url(../vc/add_grey.png);
}
.wpb_vc_column > .controls_column .column_edit,
.wpb_vc_tab > .controls_column .column_edit,
.wpb_vc_accordion_tab > .controls_column .column_edit,
.wpb_vc_column_inner > .controls_column .column_edit {
  background-image: url(../vc/edit_grey.png);
}
.wpb_vc_column > .controls_column .column_clone,
.wpb_vc_tab > .controls_column .column_clone,
.wpb_vc_accordion_tab > .controls_column .column_clone,
.wpb_vc_column_inner > .controls_column .column_clone {
  background-image: url(../vc/clone_grey.png);
}
.wpb_vc_column > .controls_column .column_delete,
.wpb_vc_tab > .controls_column .column_delete,
.wpb_vc_accordion_tab > .controls_column .column_delete,
.wpb_vc_column_inner > .controls_column .column_delete {
  background-image: url(../vc/remove_grey.png);
}
.wpb_vc_column > .bottom-controls,
.wpb_vc_tab > .bottom-controls,
.wpb_vc_accordion_tab > .bottom-controls,
.wpb_vc_column_inner > .bottom-controls {
  top: auto;
  bottom: 7px;
}
.controls_column a:hover {
  opacity: 0.7;
}
.controls_column.bottom-controls .column_edit,
.controls_column.bottom-controls .column_delete,
.controls_column.bottom-controls .column_clone {
  display: none;
}
.wpb_vc_column_inner,
.wpb_content_element .wpb_tabs_holder > .wpb_vc_tab,
.wpb_content_element .wpb_accordion_holder .wpb_vc_accordion_tab {
  border: 1px dashed #CCCCCC;
  background-color: #FFFFFF;
  padding: 0;
}

/* Buttons (element)
========================================================== */
.pow-button {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-left: 0;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  zoom: 1;
  letter-spacing: 1px;
  transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pow-button.two-dimension,
.pow-button.three-dimension {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}
.pow-button.two-dimension.dark-color,
.pow-button.three-dimension.dark-color {
  color: #585858 !important;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.pow-button.two-dimension.light-color,
.pow-button.three-dimension.light-color {
  color: #fff !important;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}
.pow-button.outline-dimension {
  background-color: transparent !important;
  border-width: 1px !important;
  border-style: solid  !important;
}
.pow-button.outline-btn-light {
  border-color: #fff !important;
  color: #fff;
}
.pow-button.outline-btn-dark {
  border-color: #313d53 !important;
  color: #313d53;
}
.pow-button.outline-btn-dark:hover {
  background-color: #313d53;
  color: #fff;
}
.pow-button[type=submit],
.pow-button[type=button] {
  outline: none;
  border: none;
  font-weight: 600;
}
.pow-button i {
  margin: -4px 5px 0 0;
  line-height: 4px !important;
}
.pow-button.large {
  padding: 15px 24px;
  font-size: 14px;
  line-height: 100%;
}
.pow-button.large i {
  padding-top: 3px;
  font-size: 16px;
}
.pow-button.medium {
  padding: 12px 26px;
  font-size: 12px;
  line-height: 100%;
}
.pow-button.medium i {
  padding-top: 3px;
  font-size: 14px;
}
.pow-button.small {
  padding: 12px 14px;
  font-size: 10px;
  line-height: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.pow-button.small i {
  margin-top: -3px;
  font-size: 12px;
}
.pow-button.three-dimension {
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.pow-button.three-dimension:active {
  top: 2px;
}
.pow-button.two-dimension {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.15));
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8);
}
.pow-button.two-dimension:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.07)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.07));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.07));
}
button.pow-button {
  outline: none;
  border: none !important;
  background: none;
  line-height: 100%;
}
button.pow-button::-moz-focus-inner {
  border: none;
}
.pow-button-align {
  display: inline-block;
}
.pow-button-align.right {
  float: right;
}
.pow-button-align.center {
  display: block !important;
  text-align: center;
}
.pow-button-align.left {
  text-align: left;
}


/* Empty column tweaks
========================================================== */
.empty_container {
  background: transparent url('../vc/add_bg.png') no-repeat center center;
  min-height: 30px;
  cursor: pointer;
}
.empty_column > .controls .column_add {
  display: none;
}
.empty_column > .bottom-controls {
  display: none;
}
/* Grid System
========================================================== */
.vc_row-fluid {
  width: 100%;
  *zoom: 1;
}
.vc_row-fluid:before,
.vc_row-fluid:after {
  display: table;
  content: "";
}
.vc_row-fluid:after {
  clear: both;
}
.vc_row-fluid [class*="vc_span"] {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
}
.vc_row-fluid [class*="vc_span"]:first-child {
  margin-left: 0;
}
.vc_row-fluid .vc_span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}
.vc_row-fluid .vc_span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}
.vc_row-fluid .vc_span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}
.vc_row-fluid .vc_span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}
.vc_row-fluid .vc_span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}
.vc_row-fluid .vc_span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}
.vc_row-fluid .vc_span6 {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}
.vc_row-fluid .vc_span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}
.vc_row-fluid .vc_span4 {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}
.vc_row-fluid .vc_span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}
.vc_row-fluid .vc_span2 {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}
.vc_row-fluid .vc_span1 {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}


/* Icon (Element)
========================================================== */
.wpb_content_element.wpb_pow_single_icon > .wpb_element_wrapper {
  padding-top: 50px;
}
.wpb_content_element.wpb_pow_single_icon > .wpb_element_wrapper i.x-large {
  font-size: 116px;
}
.wpb_content_element.wpb_pow_single_icon > .wpb_element_wrapper i.xx-large {
  font-size: 96px;
}
.wpb_content_element.wpb_pow_single_icon > .wpb_element_wrapper i.x-large {
  font-size: 72px;
}
.wpb_content_element.wpb_pow_single_icon > .wpb_element_wrapper i.large {
  font-size: 64px;
}
.wpb_content_element.wpb_pow_single_icon > .wpb_element_wrapper i.medium {
  font-size: 48px;
}
.wpb_content_element.wpb_pow_single_icon > .wpb_element_wrapper i.small {
  font-size: 32px;
}



/* Icon Box (Element)
========================================================== */
.wpb_content_element.wpb_pow_icon_box > .wpb_element_wrapper {
  padding-top: 50px;
}
.wpb_content_element.wpb_pow_icon_box > .wpb_element_wrapper i.x-large {
  font-size: 72px;
}
.wpb_content_element.wpb_pow_icon_box > .wpb_element_wrapper i.large {
  font-size: 64px;
}
.wpb_content_element.wpb_pow_icon_box > .wpb_element_wrapper i.medium {
  font-size: 48px;
}
.wpb_content_element.wpb_pow_icon_box > .wpb_element_wrapper i.small {
  font-size: 32px;
}
.wpb_content_element.wpb_pow_icon_box > .wpb_element_wrapper .icon-wrapper.left {
  float: left;
  margin-right: 10px;
}
.wpb_content_element.wpb_pow_icon_box > .wpb_element_wrapper .icon-wrapper.top {
  float: none;
  text-align: center;
}
.wpb_content_element.wpb_pow_icon_box > .wpb_element_wrapper .icon-caption.top,
.wpb_content_element.wpb_pow_icon_box > .wpb_element_wrapper .icon-text.top {
  text-align: center;
}

/* Caption (Element)
========================================================== */
.wpb_content_element.wpb_pow_custom_caption > .wpb_element_wrapper {
  padding-top: 50px;
}

/* Content Block (Element)
========================================================== */

.wpb_pow_custom_container {

  
}
.wpb_element_wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fafafa;
}
.wpb_pow_custom_container > .wpb_element_wrapper {
  padding-top: 50px !important;
  min-height: 95px !important;
  
}
.wpb_pow_custom_container > .wpb_element_wrapper > .wpb_column_container {
min-height: 95px !important;
background-color: #f6f6f6;
border:1px solid #f0f0f0;
padding: 8px !important;
}

.wpb_content_element,
.wpb_vc_row_inner {
  margin: 4px 0 0 0;
}
.wpb_content_element {
  position: relative;
}
.wpb_content_element:hover > div.controls {
  opacity: 1;
}

.wpb_content_element h4.wpb_element_title {
  margin:10px 0 8px 0 !important;
}
.custombox_title {
  position: absolute;
  left:10px;
  top:10px;
}
.wpb_content_element > .wpb_element_wrapper {
  padding: 10px 10px 10px;
  border: 1px solid #dddddd;
  background: #ffffff;
  min-height: 22px;
  overflow: hidden;
}
.wpb_content_element > div.controls {
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 50;
  opacity: 0.6;
    transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
}


body .controls_row a,
.wpb_content_element > div.controls a {
  display: inline-block;
  float: left;
  text-decoration: none;
  padding: 4px 5px;
  text-align: center;
  margin: 4px 2px;
  position: relative;
  z-index: 10;
  color: #fff;

}
.controls_row a i,
.wpb_content_element > div.controls a i {
  font-size: 16px;
}
.controls_row a:hover,
.wpb_content_element > div.controls a:hover {
  opacity: 1;
}
body .controls_row .column_edit,
.wpb_content_element > div.controls .column_edit {
  color: #24bc6f;
  background-color: transparent;

}
body .controls_row .column_clone,
.wpb_content_element > div.controls .column_clone {
  color: #acacac;
  background-color: transparent;
  
}
body .controls_row .column_delete,
.wpb_content_element > div.controls .column_delete {
  color: #f86d36;
  background-color: transparent;
}



.vc_admin_label {
  font-size: 11px;
  font-style: italic;
  color: #999999;
  margin-right: 5px;
}
.vc_admin_label label {
  vertical-align: bottom;
}
/* Text Block
========================================================== */
.wpb_vc_column_text > .wpb_element_wrapper {
  background-image: url(../vc/elements_icons/text.png);
}
.wpb_vc_column_text > .wpb_element_wrapper,
.wpb_vc_message > .wpb_element_wrapper,
.wpb_vc_toggle > .wpb_element_wrapper {
  height: auto;
  min-height: 26px;
  background-image: none;
  padding:10px 90px 10px 10px;
}
.wpb_vc_column_text > .wpb_element_wrapper p:last-child,
.wpb_vc_message > .wpb_element_wrapper p:last-child,
.wpb_vc_toggle > .wpb_element_wrapper p:last-child {
  margin-bottom: 0;
}

/* Separator element
========================================================== */
.wpb_vc_separator > .wpb_element_wrapper,
.wpb_vc_text_separator > .wpb_element_wrapper {
  background-image: url(../vc/separator.gif);
  background-repeat: repeat-x;
  background-position: center center;
  padding: 0;
  height: 31px;
  min-height: 31px;
}
.wpb_vc_separator .textfield,
.wpb_vc_text_separator .textfield {
  background-color: #FFFFFF;
  font-size: 11px;
  display: inline-block;
  position: relative;
  top: 6px;
  padding: 0px 10px;
}
.wpb_vc_separator .separator_align_center,
.wpb_vc_text_separator .separator_align_center {
  text-align: center;
}
.wpb_vc_separator .separator_align_right,
.wpb_vc_text_separator .separator_align_right {
  text-align: right;
}
.wpb_vc_separator .separator_align_right .textfield,
.wpb_vc_text_separator .separator_align_right .textfield {
  margin-right: 10px;
}
.wpb_vc_separator .separator_align_left,
.wpb_vc_text_separator .separator_align_left {
  text-align: left;
}
.wpb_vc_separator .separator_align_left .textfield,
.wpb_vc_text_separator .separator_align_left .textfield {
  margin-left: 10px;
}

/* FAQ, Toggle
========================================================== */
.wpb_vc_toggle .wpb_element_wrapper {
  min-height: 1px;
}
.wpb_vc_toggle .wpb_element_wrapper .toggle_title {
  font-size: 1em;
  margin: 0 !important;
  line-height: inherit;
  cursor: pointer;
  background: url(../vc/plus.png) left 3px no-repeat;
  padding-left: 20px !important;
}
.wpb_vc_toggle .wpb_element_wrapper .toggle_title_active {
  background-image: url(../vc/minus.png);
}
.wpb_vc_toggle .wpb_element_wrapper .toggle_content {
  display: none;
  margin-top: 0.8em;
}
.wpb_vc_toggle .vc_admin_label {
  display: none !important;
}
/* Single Image
========================================================== */
.wpb_vc_single_image .column_edit_trigger,
.wpb_vc_gallery .column_edit_trigger {
  display: block;
  float: left;
  font-size: 11px;
  line-height: 12px;
  text-decoration: none;
  border-bottom: 1px dotted;
  margin-top: 7px;
}
.wpb_vc_single_image .wpb_element_wrapper {
  background-image: none;
}
.wpb_vc_single_image .attachment-thumbnail {
  margin: -18px -48px;
  display: block;
  width: auto;
  height: 32px;
  max-width: 32px;
}
.image-exists {
  display: none !important;
}
.no_image_image {
  margin: -19px -49px;
  display: block;
  width: auto;
  height: 32px;
}
/* Image Gallery
========================================================== */
.wpb_vc_gallery .wpb_element_wrapper {
  background-image: url(../vc/elements_icons/gallery.png);
}
.wpb_vc_gallery .column_edit_trigger {
  margin-top: 2px;
}
.wpb_vc_gallery .attachment-thumbnails {
  overflow: hidden;
  height: 20px;
  padding: 0px;
  margin: 0;
}
.wpb_vc_gallery .attachment-thumbnails li {
  height: 20px;
  width: 20px;
  overflow: hidden;
  margin-right: 1px;
  margin-bottom: 0;
  display: inline-block;
}
.wpb_vc_gallery .attachment-thumbnails li .icon-remove {
  display: none;
}
.wpb_vc_gallery .attachment-thumbnails img {
  height: 20px;
  width: auto;
}
/* Tabs
========================================================== */
.wpb_vc_tabs > .wpb_element_wrapper {
  padding: 0px;
  background: none;
  border: none;
  height: auto;
}
.wpb_vc_tabs > .wpb_element_wrapper .wpb_tabs_holder,
.wpb_vc_tabs > .wpb_element_wrapper .tabs_controls {
  padding: 0;
}
.wpb_vc_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav {
  position: relative;
  top: 1px;
  z-index: 2;
}
.wpb_vc_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li {
  margin: 0 -1px 0 0;
  background: #f1f1f1;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ececec), to(#f9f9f9));
  background-image: -webkit-linear-gradient(bottom, #ececec, #f9f9f9);
  background-image: -moz-linear-gradient(bottom, #ececec, #f9f9f9);
  background-image: -o-linear-gradient(bottom, #ececec, #f9f9f9);
  background-image: linear-gradient(to top, #ececec, #f9f9f9);
  border: 1px solid #dfdfdf !important;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
}
.wpb_vc_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background: #ffffff;
  border: 1px dashed #CCCCCC;
  border-bottom: 1px solid #FFFFFF !important;
}
.wpb_content_element > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block {
  background: none;
  border: none !important;
  box-shadow: inherit;
}

.wpb_vc_accordions {
  margin-top: 30px;
}
.wpb_vc_accordions > div.controls {
  top:-28px;
  right:0;
}
.wpb_vc_tabs > div.controls {
  top:0px;
  right:0;
}

.wpb_vc_accordions .add_tab,
li.add_tab_block a {
  background: url(../vc/add.png) center center no-repeat;
  display: inline-block;
  height: 28px;
  width: 30px;
  padding: 0 !important;
  cursor: pointer;
}
.wpb_vc_accordions .add_tab:hover,
li.add_tab_block a:hover {
  opacity: 0.7;
}
/* Tour
========================================================== */
.wpb_vc_tour > .wpb_element_wrapper {
  padding: 0px;
  background: none;
  border: none;
  height: auto;
}
.wpb_vc_tour > .wpb_element_wrapper .wpb_tabs_holder,
.wpb_vc_tour > .wpb_element_wrapper .tabs_controls {
  padding: 0;
}
.wpb_vc_tour > .wpb_element_wrapper .ui-tabs .ui-tabs-nav {
  float: left;
  width: 30%;
  position: relative;
  left: 1px;
  z-index: 2;
}
.wpb_vc_tour > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li {
  background: #f1f1f1;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ececec), to(#f9f9f9));
  background-image: -webkit-linear-gradient(bottom, #ececec, #f9f9f9);
  background-image: -moz-linear-gradient(bottom, #ececec, #f9f9f9);
  background-image: -o-linear-gradient(bottom, #ececec, #f9f9f9);
  background-image: linear-gradient(to top, #ececec, #f9f9f9);
  border: 1px solid #dfdfdf !important;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  margin: 0 0 1px 0;
  clear: both;
  width: 100%;
}
.wpb_vc_tour > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li a {
  display: block;
  float: none;
}
.wpb_vc_tour > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background: #ffffff;
  border-right: 1px solid #FFFFFF !important;
}
.wpb_vc_tour > .wpb_element_wrapper .wpb_vc_tab {
  float: right;
  width: 70%;
}
.wpb_vc_tour > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li,
.wpb_vc_tour > .wpb_element_wrapper .wpb_vc_tab {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* Accordion
========================================================== */
.wpb_vc_accordions > .wpb_element_wrapper {
  padding: 0;
  height: auto;
  background-image: none;
}
.wpb_vc_accordions > .wpb_element_wrapper .wpb_vc_accordion_tab {
  border-top: none;
}
.wpb_vc_accordions > .wpb_element_wrapper .ui-accordion-header span.ui-icon {
  background-image: url(../vc/plus.png);
  background-position: 0 0;
  position: absolute;
  left: 7px;
  top: 9px;
  margin-top: 0;
}
.wpb_vc_accordions > .wpb_element_wrapper .ui-state-active span.ui-icon {
  background-image: url(../vc/minus.png);
}
.wpb_vc_accordions > .wpb_element_wrapper .add_tab {
  font-size: 10px;
  color: #999999;
  width: auto;
  border: none;
  background-position: 5px center;
  padding-left: 25px !important;
  padding-right: 5px !important;
  margin-top: 1px;
}
#poststuff h3.ui-accordion-header {
  font-size: inherit;
  padding: 0;
  margin-bottom: 1px;
  font-family: inherit;
  font-weight: normal;
  box-shadow: none;
}
#poststuff h3.ui-accordion-header.ui-state-active {
  background: #FFFFFF;
  border: 1px dashed #CCCCCC;
  margin-bottom: 0;
}
#poststuff h3.ui-accordion-header .tab-label {
  padding: 9px 12px 7px 24px;
  color: #21759B;
  display: block;
  cursor: pointer;
}

/* Raw HTML/JS
========================================================== */
.wpb_element_wrapper .textarea_raw_html,
.wpb_edit_form_elements .textarea_raw_html {
  font-family: "Courier New";
  color: #AAAAAA;
  font-size: 11px;
  word-break: break-all;
}

/* Isotope content elements grid
========================================================== */
.wpb_bootstrap_modals a:focus {
  outline: none;
}
ul.wpb-content-layouts-container,
.wpb_bootstrap_modals .wpb-content-layouts-container ul {
  margin: 0;
}
.wpb-content-layouts-container .isotope-filter *:first-child {
  margin-left: 1px;
}
.wpb-content-layouts-container .isotope-filter li {
  display: inline-block;
  margin-left: 10px;
}
.wpb-content-layouts-container .isotope-filter li.active a {
  border-bottom: 0 none;
  color: #313d53;
}
.wpb-content-layouts-container .isotope-filter li a {
  background-color: #ecf0f1;
  padding: 5px;
  box-shadow: inset 0 2px 0 0 #bec3c7 solid;
  text-decoration: none;
}
.wpb-content-layouts-container .isotope-filter li a:hover {
  text-decoration: none;
}
.wpb-content-layouts li {
  background: none repeat scroll 0 0 #e2e2e2;
  margin: 0 0 2px 2px;
  width: 95px;
  display: none;
  float: left;
  height: 70px;
  box-shadow: inset 0 0px 0 1px #aaa, inset 0 0px 0 2px #fff, inset 0 10px 20px -5px rgba(128,128,128,.2);
  -moz-box-shadow: inset 0 0px 0 1px #aaa, inset 0 0px 0 2px #fff, inset 0 10px 20px -5px rgba(128,128,128,.2);
  -webkit-box-shadow: inset 0 0px 0 1px #aaa, inset 0 0px 0 2px #fff, inset 0 10px 20px -5px rgba(128,128,128,.2);
}


.wpb-content-layouts li.category-fff0d600f8a0b5e19e88bfb821dd1157 {
  /* images */
  background-color: #374c61;
}
.wpb-content-layouts li.category-fff0d600f8a0b5e19e88bfb821dd1157 a {
  /* images */
  color: #fff;
}
.wpb-content-layouts li.category-fff0d600f8a0b5e19e88bfb821dd1157:hover {
  /* images */
  background-color: #2d3e50;
}

.wpb-content-layouts li.category-2554abc592d16347719a43c606e08eb2 {
  /* charts */
  background-color: #1bbc9b;
}
.wpb-content-layouts li.category-2554abc592d16347719a43c606e08eb2 a {
  /* charts */
  color: #fff;
}
.wpb-content-layouts li.category-2554abc592d16347719a43c606e08eb2:hover {
  /* charts */
  background-color: #16a086;
}

.wpb-content-layouts li.category-bb38096ab39160dc20d44f3ea6b44507 {
  /* content */
  background-color: #e84c3d;
}
.wpb-content-layouts li.category-bb38096ab39160dc20d44f3ea6b44507 a {
  /* content */
  color: #fff;
}
.wpb-content-layouts li.category-bb38096ab39160dc20d44f3ea6b44507:hover {
  /* content */
  background-color: #c1392b;
}
.wpb-content-layouts li.category-f15c1cae7882448b3fb0404682e17e61 {
  /* content */
  background-color: #995ab5;
}
.wpb-content-layouts li.category-f15c1cae7882448b3fb0404682e17e61 a {
  /* content */
  color: #fff;
}
.wpb-content-layouts li.category-f15c1cae7882448b3fb0404682e17e61:hover {
  /* content */
  background-color: #8f44ad;
}
.wpb-content-layouts li.category-f431e17ea0081a3c9e51fc240221ee21 {
  /* social */
  background-color: #95a5a5;
}
.wpb-content-layouts li.category-f431e17ea0081a3c9e51fc240221ee21 a {
  /* social */
  color: #fff;
}
.wpb-content-layouts li.category-f431e17ea0081a3c9e51fc240221ee21:hover {
  /* social */
  background-color: #7e8c8d;
}
.wpb-content-layouts li.category-603850e072131401265c4fc01027db93 {
  /* typography */
  background-color: #f1c40f;
}
.wpb-content-layouts li.category-603850e072131401265c4fc01027db93 a {
  /* typography */
  color: #fff;
}
.wpb-content-layouts li.category-603850e072131401265c4fc01027db93:hover {
  /* typography */
  background-color: #f39c11;
}
.wpb-content-layouts li.category-4b2257cb98694284507e77f34e73c2d8 {
  /* loops */
  background-color: #2dcc70;
}
.wpb-content-layouts li.category-4b2257cb98694284507e77f34e73c2d8 a {
  /* loops */
  color: #fff;
}
.wpb-content-layouts li.category-4b2257cb98694284507e77f34e73c2d8:hover {
  /* loops */
  background-color: #27ae61;
}
.wpb-content-layouts li.category-5f17a788546ddb43236732f8b0bdfd7e {
  /* Slides */ 
  background-color: #339cd5;
}
.wpb-content-layouts li.category-5f17a788546ddb43236732f8b0bdfd7e a {
  /* Slides */
  color: #fff;
}
.wpb-content-layouts li.category-5f17a788546ddb43236732f8b0bdfd7e:hover {
  /* Slides */ 
  background-color: #2a80b9;
}
.wpb-content-layouts li:hover{
  background-color: #313133;
}
.wpb-content-layouts li.isotope-item {
  display: table;
}
.wpb-content-layouts a {
  display: table-cell;
  font-size: 12px;
  line-height: 16px;
  padding: 0 4px;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  color: #313133;
  text-decoration: none;
}
.wpb-content-layouts a:hover {
  color: #fff;
}
.wpb-content-layouts i {
  display: block;
  margin: 0 auto 6px;
}
/* Add element grid icons
========================================================== */
.modal-header .close {
  margin-top: 5px;
}
#vc_elements_name_filter {
  position: absolute;
  top: 12px;
  right: 40px;
}

/* Modal window (Tweaks)
========================================================== */
.wpb_bootstrap_modals .wpb-elements-list-modal.modal,
.wpb_bootstrap_modals .wpb-element-edit-modal.modal {
  display: block;
  background-image: none;
  margin-top: 0;
}
.wpb_bootstrap_modals .wpb-elements-list-modal.modal {
  width: 80%;
  margin-left: -40%;
}
.wpb_bootstrap_modals .wpb-element-edit-modal.modal {
  width: 960px;
  margin-left: -385px;
}
@media (max-width: 767px) {
  .wpb_bootstrap_modals .wpb-element-edit-modal.modal {
    width: 560px;
    margin-left: -280px;
  }
}
/* Content element Edit screen
========================================================== */
.wpb_edit_form_elements .vc_row-fluid {
  margin-bottom: 12px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #EBEBEB;
}
.wpb_edit_form_elements .vc_row-fluid:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.wpb_row_container {
  margin-bottom: 15px;
}


.wpb_edit_form_elements .vc_row-fluid input.wpb-textinput,
.wpb_edit_form_elements .vc_row-fluid select,
.wpb_edit_form_elements .vc_row-fluid textarea {
  width: 100%;
  padding: 8px 6px;
  margin: 0;
}
.wpb_edit_form_elements .vc_row-fluid input {
  border-radius : 0;
}

.wpb_edit_form_elements .chzn-container {
  border:1px solid #DFDFDC;
}

.page-composer-icon-filter {
  width: 100%;
  padding: 8px 6px;
  margin: 0;
}


.wpb_edit_form_elements .vc_row-fluid input.pow-upload-url {
  width: auto !important;
  padding: 13px 10px;
}

.wpb_edit_form_elements .vc_row-fluid select {
  height: auto;
}
.wpb_edit_form_elements .vc_row-fluid input[type="checkbox"] {
  width: auto;
  margin-left: 5px;
  margin-right: 2px;
}
.wpb_edit_form_elements .vc_row-fluid input[type="checkbox"]:nth-child(2) {
  margin-left: 0;
}
.wpb_element_label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
.wpb_edit_form_elements span.description {
  color: #999999;
  display: block;
  font-style: normal;
  line-height: 20px;
  margin-top: 8px;
}
/* Select Image / Select Images (multiple)
========================================================== */
.wpb_el_type_attach_images .gallery_widget_attached_images_list {
  cursor: move;
}
.gallery_widget_img_select,
.gallery_widget_attached_images_list {
  margin: 0;
}
.gallery_widget_img_select li,
.gallery_widget_attached_images_list li {
  position: relative;
  background: #F5F5F5;
  padding: 4px;
  float: left;
  margin: 0px 5px 5px 0;
  min-height: 75px;
  min-width: 75px;
  line-height: 70px;
  text-align: center;
}
.gallery_widget_img_select li img,
.gallery_widget_attached_images_list li img {
  max-height: 75px;
  display: inline-block;
  vertical-align: middle;
}
.wpb_el_type_attach_images .gallery_widget_add_images,
.wpb_el_type_attach_image .gallery_widget_add_images {
  margin-top: 0px;
  display: block;
  float: left;
  height: 80px;
  width: 80px;
  background: #f5f5f5 url("../vc/add.png") no-repeat center center;
  border: 1px solid #DFDFDF;
  font-size: 0px;
  color: #F5F5F5;
}
.wpb_el_type_attach_images .gallery_widget_add_images:hover,
.wpb_el_type_attach_image .gallery_widget_add_images:hover {
  color: #C8C8C8;
  border-color: #C8C8C8;
  text-decoration: none;
}
.wpb_el_type_attach_images .icon-remove,
.wpb_el_type_attach_image .icon-remove {
  background: #f5f5f5 url(../vc/remove.png) center center no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.wpb_el_type_attach_images .icon-remove:hover,
.wpb_el_type_attach_image .icon-remove:hover {
  opacity: 0.7;
}
.gallery_widget_site_images {
  display: none;
}
.wpb_vc_tab,
.wpb_vc_accordion_tab {
  display: none;
}
.hidden-placeholder {
  display: none;
}
/* Auto suggestion in Loop builder **/
.loop_params_holder {
  border: 1px solid #dfdfdf;
  padding: 10px;
  margin-top: 10px;
  background: #f5f5f5 url(../vc/rowbg.png);
  position: relative;
}
.loop_params_holder:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -8px;
  left: 20px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #dfdfdf;
}
.loop_params_holder .vc_row-fluid {
  border-bottom-color: #cccccc;
}
.vc-suggest-field {
  clear: both;
}
.vc-suggest-field .vc-suggester {
  margin: 0;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  padding: 2px;
  cursor: text;
  min-height: 24px;
}
.vc-suggest-field .vc-suggester li {
  margin-bottom: 0px;
  float: left;
}
.vc-suggest-field .vc-suggester li.exclude {
  background: #f2dede;
  color: #b94a48;
  border: 1px solid #eed3d7;
}
.vc-suggest-field .vc-suggester li.exclude:after {
  content: "-";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 3px;
  font-weight: bold;
  top: 1px;
}
.vc-suggest-field .vc-suggester li.include {
  background: #dff0d8;
  color: #468847;
  border: 1px solid #d6e9c6;
}
.vc-suggest-field .vc-suggester li.include:after {
  content: "+";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 3px;
  font-weight: bold;
  top: 2px;
}
.vc-suggest-field .vc-suggester li.vc-suggest-label {
  padding: 0 0 0 8px;
  margin: 2px;
  position: relative;
  cursor: pointer;
}
.vc-suggest-field .vc-suggester li.vc-suggest-label .label {
  display: inline-block;
  line-height: 18px;
  font-size: 11px;
  padding: 0 6px 0 5px;
}
.vc-suggest-field .vc-suggester li.vc-suggest-label .remove {
  color: #999999;
  display: block;
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: -3px;
  width: 9px;
  height: 9px;
  background: #F7F7F7;
  line-height: 9px;
  font-size: 12px;
  text-align: center;
}
.vc-suggest-field .vc-suggester li.vc-suggest-label .remove:hover {
  color: red;
}
.vc-suggest-field .vc-suggester li.input {
  width: 170px;
  padding: 0 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.vc-suggest-field .vc-suggester li.input input {
  width: 100%;
  border: 0;
  padding: 5px 0px;
  margin: 0px;
}
.vc-suggest-field .vc-suggester li.input input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.vc-suggest-field .vc-suggester li.clear {
  clear: both;
  float: none;
}
#TB_overlay {
  z-index: 1055;
}
#TB_window {
  z-index: 1060;
}
/** Link param **/
.vc-link .vc_link_label {
  font-weight: bold;
  margin-left: 5px;
}
/** Color picker field **/
.wpb_el_type_colorpicker .colorpicker_field,
.wpb_edit_form_elements .wpb_el_type_colorpicker .colorpicker_field {
  display: inline-block;
  width: 90px;
  padding: 4px 3px 3px;
  margin-right: 4px;
}
.wpb_el_type_colorpicker .wp-picker-clear,
.wpb_edit_form_elements .wpb_el_type_colorpicker .wp-picker-clear {
  width: auto;
}
.edit_form_line .updated {
  margin: 5px 0px 2px;
}
/** Options field type */
.vc-options-fields {
  border: 1px solid #dfdfdf;
  padding: 10px;
  margin-top: 10px;
  background: #f5f5f5 url(../vc/rowbg.png);
  position: relative;
  display: none;
}
.vc-options-fields:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -8px;
  left: 20px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #dfdfdf;
}
.vc-options-fields h4 {
  font-size: 16px;
  padding-bottom: 6px;
  margin: 4px 0 10px 0;
  border-bottom: 1px double #000;
}
.vc-options-fields .vc_row-fluid {
  border-bottom-color: #cccccc;
}
.vc-options-fields .vc_row-fluid .descr {
  margin-top: 5px;
}
.vc-sorted-list .vc-sorted-list-container li {
  border: 1px solid #CCC;
  width: 130px;
  clear: both;
  padding: 10px;
  display: block;
  margin-botton: 2px;
  cursor: move;
}
/*
Depreciated css rules
.gallery_widget_site_images {
  display: none;
  margin-top: 15px;
  li {
    cursor: pointer;
  }
}
.gallery_widget_img_select li.added {
	padding: 0;
	border: 4px solid #21759B;
}
.gallery_widget_img_select .img-added,
.gallery_widget_attached_images_list .added .img-added { display: none; line-height: 1.5em; }

.gallery_widget_img_select .added .img-added {
	display: block;
	position: absolute;
	bottom: 5px;
	background: #45CF19;
	padding: 0px 4px;
	font-size: 11px;
}
.gallery_widget_attached_images_list .img_added { display: none; }*/
